@import "order";
.orderSelect {
    width: 100%;
    img {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -8px;
        outline: none;
    }
    span {
        width: 100%;
        color: $gray;
        font-size: $font-size-base;
    }
    ul {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        box-shadow: 0 2px 4px 0 #D9EBF2;
        display: none;
        z-index: 3;
        background: white;
        cursor: pointer;
        border-top: 1px solid $border-line;
        li {
            width: 100%;
            height: 36px;
            text-align: center;
            line-height: 36px;
            color: $gray;
            font-size: $font-size-base;
            &:hover {
                background: $d9;
            }
        }
    }
    input {
        border: none;
        outline: none;
        width: 100%;
    }
}

tr {
    td:nth-child(9),
    td:nth-child(10),
    td:nth-child(11) {
        div {
            width: 18px;
            height: 18px;
            margin: 0 auto;
            background-size: 18px 36px !important;
            cursor: pointer;
            &:hover {
                background-position-y: -18px;
            }
        }
    }
    td:nth-child(9) {
        div {
            background: url(/resources/images/orderManager/edit.png)no-repeat;
        }
    }
    td:nth-child(10) {
        div {
            background: url(/resources/images/orderManager/submit.png)no-repeat;
        }
    }
    td:nth-child(11) {
        div {
            background: url(/resources/images/orderManager/cancle.png)no-repeat;
        }
    }
}

th:nth-child(1),
td:nth-child(1) {
    width: 8%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 8%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 15%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 8%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 8%;
}

th:nth-child(6),
td:nth-child(6) {
    width: 8%;
}

th:nth-child(7),
td:nth-child(7) {
    width: 13%;
}

th:nth-child(8),
td:nth-child(8) {
    width: 17%;
}

th:nth-child(9),
td:nth-child(9) {
    width: 5%;
}

th:nth-child(10),
td:nth-child(10) {
    width: 5%;
}

th:nth-child(11),
td:nth-child(11) {
    width: 5%;
}

.page-section {
    position: relative;
    width: 100%;
    margin: 0 auto 60px;
}

.page-wrap {
    @include media_screen_width();
    margin: auto;
    text-align: center;
}

.page-wrap .pagination {
    @include pagination();
}

.video-row>.video-card {
    margin-right: 19px;
    vertical-align: top;
    &:last-child {
        margin-right: -20px;
    }
}

//弹出框
.modelPage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 110;
    display: none;
    .successModel {
        width: 450px;
        height: 310px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -155px;
        margin-left: -225px;
        border-radius: 4px;
        background: white;
        padding-top: 30px;
        text-align: center;
        .closeBtn {
            width: 12px;
            height: 12px;
            background: url(/resources/images/common/close.png) no-repeat;
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
        }
    }
    .oSContent {
        .title {
            font-size: $font-size;
            color: $gray-dark;
        }
        .sTitle {
            padding-top: 80px;
            font-size: $font-size;
            color: $gray-dark;
        }
        .desc {
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: $font-size-sm;
            color: $gray-light;
            span:nth-child(1) {
                color: $red-base;
                margin-right: 20px;
            }
        }
        .sureBtn {
            font-size: 0;
            padding-top: 50px;
            width: 265px;
            margin: 0 auto;
            div {
                width: 120px;
                height: 36px;
                line-height: 36px;
                color: white;
                border: 4px;
                font-size: $font-size-base;
                border-radius: 4px;
                display: inline-block;
                vertical-align: top;
            }
            div:nth-child(1) {
                margin-right: 20px;
            }
        }
        .descBot {
            width: 120px;
            height: 36px;
            line-height: 36px;
            color: white;
            border: 4px;
            font-size: $font-size-base;
            margin: 0 auto;
            border-radius: 4px;
        }
        .tDes {
            padding-top: 110px;
            text-align: center;
            color: $gray-dark;
            font-size: $font-size;
        }
        .redColor {
            color: $red-base !important;
        }
        .greenColor {
            color: #7ED321 !important;
        }
    }
}
