@import "common";
@import "buttons";
@import "video";
@import "flexslider";
@import "compass/typography/text/ellipsis";
@import "mixins/indexScreen";
@import "normalize";
.orderBot {
    height: 230px;
    @include media_screen_width_beta3();
    margin: 0 auto;
    margin-top: -231px;
    position: relative;
    .phone {
        display: inline-block;
        vertical-align: top;
        color: white;
        position: relative;
        width: 20%;
    }
}

.picmuch {
    position: relative;
    top: -2px;
    .pics {
        position: relative;
        top: -2px;
    }
}

.basscard {
    position: relative;
    .picstyle {
        position: absolute;
        top: 141px;
        left: 1177px;
        width: 225px;
    }
    .tiaostyle {
        position: absolute;
        top: 475px;
        left: 349px;
        cursor: pointer;
    }
}

.moves {
    position: relative;
    top: -6px;
    .cente {
        margin: 0 auto;
        background: #fff;
    }
    .codeCard {
        margin: 0 auto;
        font-size: 0;
        margin-top: -530px;
    }
    .cardItem {
        position: relative;
        width: 200px;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0 0 15px #ececec;
        ;
        margin-bottom: 172px;
        img {
            width: 100%;
        }
        &:hover {
            .readCode {
                top: 0% !important;
            }
        }
        .readCode {
            width: 200px;
            height: 312px;
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 89%;
            transition: all .6s linear 0s;
            -moz-transition: all .6s linear 0s;
            /* Firefox 4 */
            -webkit-transition: all .6s linear 0s;
            /* Safari 和 Chrome */
            -o-transition: all .6s linear 0s;
            img {
                width: 80%;
                display: block;
                margin: 0 auto;
                margin-top: 38%;
            }
        }
    }
    .fonts {
        color: #000;
        background: #fff;
        box-shadow: 0px 2px 7px 0px #ececec;
        ;
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        font-weight: normal;
        position: absolute;
        top: 316px;
    }
    .bai {
        width: 200px;
        background: #fff;
        // height: 206px;
        height: 300px;
        position: absolute;
    }
}

.check {
    position: relative;
    .orderBot {
        .name {
            display: inline-block;
            #name {
                margin-left: 150px;
                width: 320px;
                height: 50px;
                border: none;
                color: #000;
                box-shadow: 0px 0px 5px #000;
                font-size: 16px;
                padding-left: 18px;
            }
            #nameerror {
                position: absolute;
                left: 148px;
                color: #000;
                top: 59px;
            }
        }
        .phone {
            display: inline-block;
            #phone {
                margin-left: 25px;
                width: 320px;
                height: 50px;
                border: none;
                color: #000;
                box-shadow: 0px 0px 5px #000;
                font-size: 16px;
                padding-left: 18px;
            }
            #varnum {
                position: absolute;
                right: -85px;
                top: 0px;
                background: #f84e4e;
                height: 50px;
                line-height: 50px;
                width: 120px;
                text-align: center;
                font-size: 15px;
                cursor: pointer;
            }
            #phoneerror {
                position: absolute;
                left: 23px;
                top: 59px;
                color: #000;
            }
        }
        .num {
            display: inline-block;
            #num {
                margin-left: 110px;
                width: 320px;
                height: 50px;
                border: none;
                color: #000;
                box-shadow: 0px 0px 5px #000;
                font-size: 16px;
                padding-left: 18px;
            }
            #numerror {
                position: absolute;
                left: 866px;
                top: 59px;
                color: #000;
            }
        }
        .button {
            text-align: center;
            margin-top: 47px;
            margin-left: 20px;
            #best {
                position: absolute;
                color: #000;
                text-align: center;
                left: 626px;
                top: 84px;
            }
        }
    }
}