<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d %-5level %X{session} %X{username} %-15X{client} %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="service-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/film_service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/film_service.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %X{session} %X{username} %-15X{client} %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="error-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/film_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/film_error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %X{session} %X{username} %-15X{client} %n%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="debug" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<logger name="service" level="info" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="service-file" />
	</logger>
	<logger name="error" level="error" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="error-file" />
	</logger>
	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="service-file" />
		<appender-ref ref="error-file" />
	</root>
</configuration>
