

.comOrder {
    position: fixed;
    z-index: 97;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cOrder {
    position: relative;
    width: 400px;
    bottom: -300px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -190px;
    border: 1px solid $gray-light;
    border-radius: 4px;
    padding: 60px 50px 50px 60px;
    background: white;
    .cOrderTitle {
        color: $red-base;
        font-size: $font-size;
        margin-bottom: 20px;
        text-align: center;
    }
    .cCloseBtn {
        width: 24px;
        height: 24px;
        position: absolute;
        top: -12px;
        right: -12px;
        background: #ccc;
        border-radius: 90px;
        div {
            width: 12px;
            height: 12px;
            background: url(/resources/images/common/close.png) no-repeat;
            position: relative;
            top: 6px;
            left: 6px;
            &:hover {
                background-position-y: -12px;
            }
        }
    }
    .cOrderItem {
        position: relative;
        margin-bottom: 20px;
        input {
            height: 35px;
            border: 1px solid $gray-light;
            border-radius: 4px;
            color: $gray;
            font-size: $font-size;
            outline: none;
            padding-right: 110px;
            padding-left: 10px;
            width: 100%;
        }
        div {
            height: 35px;
            width: 106px;
            background: $red-base;
            color: white;
            font-size: $font-size-base;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            text-align: center;
            position: absolute;
            right: 0px;
            top: 0px;
            line-height: 35px;
            cursor: pointer;
            &:active {
                background: darken($red-base, 20%);
            }
        }
    }
    .cOrderItem::after {
        content: attr(data-content);
        position: absolute;
        color: $red-base;
        font-size: $font-size-sm;
        top: 36px;
        right: 0px;
        bottom: 0px;
        left: 15px;
    }
    .cOrderBtn {
        height: 35px;
        color: white;
        font-size: $font-size-base;
        line-height: 35px;
        background: $red-base;
        margin-bottom: 12px;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        &:active {
            background: darken($red-base, 20%);
        }
    }
    .cOrderBotTitle {
        color: $gray-light;
        font-size: $font-size-sm;
    }
}

.dropdowns {
    width: 100% !important;
    height: 35px !important;
    display: inline-block !important;
    border: none !important;
    background: transparent !important;
    position: relative !important;
    div {
        background: transparent !important;
        &:hover {
            background: transparent !important;
        }
    }
    span {
        color: $gray;
        font-size: $font-size;
        position: absolute;
        left: 13px;
        bottom: -2px;
    }
    .dropdown-menu {
        width: 100%;
        top: 29px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        li {
            width: 100% !important;
            padding-left: 10px;
            color: $gray-dark;
            cursor: pointer;
            &:hover {
                background: $gray-light;
            }
        }
    }
    .carets {
        height: 15px !important;
        width: 15px !important;
        background: url("/resources/images/index/selectIcon.png") no-repeat !important;
        position: absolute !important;
        right: 20px !important;
        top: 10px !important;
    }
    .dropdown-toggle {
        color: $gray;
        font-size: $font-size-base;
        width: 100% !important;
        height: 35px !important;
        background: white !important;
        text-align: left;
        padding-left: 20px;
        border: 1px solid $gray-light !important;
        outline: none !important;
    }
}

//成功提示
.showSuccess {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 45;

    .cCloseBtn {
        width: 24px;
        height: 24px;
        position: absolute;
        top: -12px;
        right: -12px;
        background: #ccc;
        border-radius: 90px;
        div {
            width: 12px;
            height: 12px;
            background: url(/resources/images/common/close.png) no-repeat;
            position: relative;
            top: 6px;
            left: 6px;
            &:hover {
                background-position-y: -12px;
            }
        }
    }
}

.successModal {
    position: relative;
    background: white;
    width: 402px;
    height: 286px;
    padding-top: 65px;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    margin-top: -143px;
    margin-left: -201px;
}

.successWord {
    color: $gray-dark;
    font-size: $font-size;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.successInfo {
    color: $gray-light;
    font-size: $font-size-sm;
    text-align: center;
    span:nth-child(1) {
        color: $red-base;
        margin-right: 16px;
        cursor: pointer;
    }
}

.show-zero2 {
    -webkit-animation: showZeroAlert 0.3s;
    animation: showZeroAlert 0.3s;
}

.zeromodal-icon {
    width: 80px;
    height: 80px;
    border: 4px solid #808080;
    border-radius: 50%;
    margin: 16px auto 16px;
    margin-top: 16px;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zeromodal-icon.zeromodal-success {
    border-color: #a5dc86;
}

.zeromodal-icon.zeromodal-success .line {
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.zeromodal-icon.zeromodal-success .line.tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.zeromodal-icon.zeromodal-success .line.long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.zeromodal-icon.zeromodal-success .placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(165, 220, 134, 0.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

@-webkit-keyframes showZeroAlert {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes showZeroAlert {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
