/*!
	最终版权归拍片网所有
	作者：郭阳
*/
@import "normalize-version";
@import "normalize";

@import "compass/reset";
@import "compass/css3";
@import "compass/typography/lists/horizontal-list";
@import "mixin";
@import "constant";
//@import "baseCss";

//$header-section-color: #fe5453; // 导航栏背景颜色
$header-section-color: #ffffff;
$footer-section-color: #333;
$header-box-height: 28px !default; // 主页最上面一行的高度
$recommend-section-width: 1080px !default; // 首推区域宽度
$recommend-section-height: 464px !default; // 首推区域高度

html,body {
	font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #ffffff;
}

@mixin navigation($headerwrap-width: $header-nav-width,$li-count:3) {
		ul.nav {
					@include horizontal-list;
					line-height: $header-section-height;
					background: 0;
					height: $header-section-height ;
					line-height: $header-section-height;
				};

				.nav-horizontal {
					border-bottom: 1px solid 0;
					@include clearfix();
					li{
						width: ($headerwrap-width - 60) / $li-count;
						height: $header-section-height;
						text-align: center;
						@include border-radius(5px);

						&:hover{
							color: #fe5453;
							background-color: #eeeeee;
						}

						a {
							text-decoration: none;
							color: #333333;
							
						}
					}
				}
}

.padding16 {
	margin-right: 16px;
}

.wrap {
	@extend %width-full;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: $wrap-background-color;

	.header {
		position: relative;
		@extend %width-full;
		//top: $header-box-height;
		height: $header-section-height;
		background :{
			color: $header-section-color;
		};
		//box-shadow: 0 0 4px rgba(0,0,0,.2);
		z-index: 1000;

		.header-content { // 头部内容区域
			width: $recommend-section-width;
			height: $header-section-height;
			@include margin-auto;

			.header-logo {
				display: inline-block;
				float: left;
				width: 106px;
				height: 28px;
				margin-right: 40px;
				vertical-align: middle;
				
				img {
					position: relative;
					top: 6px;
					width: 110px;
					height: 36px;
				}
			} 
			
			.navigation-operation {
				display: inline-block;
				float: left;
				font: {
					size: $normal-font-size;
					weight: 500;
				}
				
				@include navigation;
				
			}

			.header-search-wrap {
				position: relative;
				display: inline-block;
				top: 10px;
				left: 46px;

				input {
					padding: 0 10px;
					width: 270px;
					height: 26px;
					line-height: 24px;
					
					outline: none;
					
					font-size: $normal-font-size;
					@include border-radius(4px);
					 

					&:focus {
						outline: none;
					}
					
				}

				.i-lucency { 
					color: #ffffff;
					border: 1px solid rgba(255,255,255,.8);
					background: rgba(0,0,0,.01);

					&:hover {
						border: 1px solid rgba(255,255,255,0.99);
						background: rgba(0,0,0,.1);
					}

					&::-webkit-input-placeholder {
						color: #ffffff;
					}
					&:-moz-placeholder {
						color: #ffffff;
					}
					&::-moz-placeholder {
						color: #ffffff;
					}
					&:-ms-input-placeholder {
						color: #ffffff;
					}
				}
				
				.i-opacity {
					color: #666;
					border: 1px solid rgba(173,173,173,.8);
					//background: #ffffff;

					&:hover {
						border: 1px solid rgba(173,173,173,0.99);
						//background: #ffffff;
					}
				}


				.go {
					position: absolute;
					display: block;
					top: 3px;
					right: 0;
					width: 24px;
					height: 22px;
					cursor: pointer;
				}

				.bk_white {
					@include common-icons-sprite(search-white); 
				}

				.bk_gray {
					@include common-icons-sprite(search-gray);
				}
			}
 
			> .header-button-wrap {
				$button-wrap-width: 200px;
				display: inline-block;
				float: right;
				width: $button-wrap-width;
				height: $header-section-height;
				color: #ffffff;
				text-align: center;
				margin-right: -26px;
				font: {
					size: $normal-font-size;
					weight: 500;
				}
				@include navigation($button-wrap-width,2);

				.nav-ul {
					li:first-child {
						width: 80px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}

					.provider-bt {
						width: 100px;
					}

					.logout-bt {
						width: 70px;
					}
				}
			}
		}
	}

	#header.header-opacity {
		background: 0;

		.nav {
			height: ($header-section-height - 10);
			line-height: ($header-section-height - 10);
			padding-top: 5px;
		}
		.nav-horizontal li{
			height: ($header-section-height - 10);
			line-height: ($header-section-height - 10);
			&:hover{
				background-color: #fe5453;
			}

			a {
				text-decoration: none;
				color: #ffffff;
				&:hover{
					color: #ffffff;
				}
			}
		}

	}

	.footer {
		position: relative;
		@extend %width-full;
		height: $footer-section-height;
		background-color: $footer-section-color;
		@include margin-auto;
		.footer-wrap {
			width: $recommend-section-width;
			height: 194px;
			@include margin-auto;
			padding-top: 78px;
			.footer-column {
				display: inline-block;
				width: 150px;
				height: 105px;
				vertical-align: top;
				padding-top: 10px;
				& a {
					display: block;
					color: #9b9b9b;
					padding-bottom: 10px;
					font: {
						size: $small-font-size;
					}
					cursor: default;
				}

				.qqClient {
					padding-bottom: 0px;
					text-decoration: none;
				}

				& .title {
				 	color: #ffffff;
				 	padding-bottom: 20px;
				 	font: {
				 		size: $normal-font-size;
				 		weight: 500;
				 	}	
				 }
			}

			> .footer-left {
				display: inline-block;
				float: left;
				width: 492px;
				height: 172px;
				border-right: solid 1px #555555;

				.footer-notice {
					width: 402px;
					h3 {
						color: #ffffff;
						font: {
							size: $normal-font-size;
							weight: 500;
						}
						padding-bottom: 8px;
					}

					p{
						color: #9b9b9b;
						font: {
							size: $small-font-size;
						}
						line-height: 16px;
					}
				}
			}

			> .footer-right {
				display: inline-block;
				float: right;
				width: $recommend-section-width - 492px - 4px - 80px;
				height: 172px;
				margin-left: 80px;
				label,h3,img,p{
					display: block;
					@include clearfix();
					
				}

				.footer-column {
					width: 180px;
				}

				.footer-column:nth-child(3) {
					width: 120px;
				}

				.phone-icon {
					//background: image-url("icons/tele_red.png") no-repeat;
					@include common-icons-sprite(tele_red);
					//background-size: 22px;
					width: 22px;
					height: 22px;
					padding-bottom: 12px;
				}

				h3 {
					color: #ffffff;
					font: {
						size: $normal-font-size;
						weight: 500;
					}
					padding-bottom: 10px;
				}

				span {
					position: relative;
					top: 46px;
					color: #ffffff;
					font: {
						size: $normal-font-size;
						weight: 500;
					}
					padding-bottom: 8px;
				}

				.qq-icon { 
					//background: image-url("icons/qq_red.png") no-repeat;
					@include common-icons-sprite(qq_red);
					//background-size: 22px;
					width: 22px;
					height: 26px;
					padding-bottom: 8px; 
				}

				img {
					width: 100px;
					height: 100px;
					//padding-top: 34px;
				}

				.quickmark-icon {
					width: 100px;
					height: 100px;
					@include common-icons-sprite(quickmark);
				}

				.webcat-notice {
					padding-top: 8px;
					width: 100px;
					color: #ffffff;
					text-align: center;
					font: {
						size: $small-font-size;
						weight: 500;
					} 
				}

				& p{
					color: #9b9b9b;
					margin-top: 12px;
					font: {
						size: $small-font-size;
					}
				}

				& .phone-notice {
					padding-top: 43px;
				}

			}
		}

		& .footer-split-line { // 分割线
			width: 860px;
			@include margin-auto;
			border-top: solid 1px #555555;
		}

		& .footer-box {
			width: 365px;
			color: #9b9b9b;
			@include margin-auto;
			line-height: 36px;
			@include clearfix();
			font: {
				size: $small-font-size;
			}

			a {
				color: #9b9b9b;
				font: {
					size: $small-font-size;
				}
			}
		}
	}
}

.toolbar-item,.toolbar-layer{
	//background:url(../img/toolbar.png) no-repeat;
}
.toolbar{position:fixed;right:0px;bottom:50px;}
.toolbar-item{display:block;width:52px;height:52px;margin-top:1px;position:relative;-moz-transition:background-position 1s;-ms-transition:background-position 1s;-o-moz-transition:background-position 1s;-webkit-moz-transition:background-position 1s;transition:background-position 1s;}
//.toolbar-item:hover{opacity:1;filter:alpha(opacity=100);transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);}
.toolbar-item-weixin{
	@include common-icons-sprite(tele-client);
	//background-position:0 -798px;
}
.toolbar-item-weixin:hover{
	@include common-icons-sprite(tele-desc);
	//background-position:0 -860px;
}
.toolbar-item-qq{
	@include common-icons-sprite(qq-client);
	//background-position:0 -426px;
}
.toolbar-item-qq:hover{
	@include common-icons-sprite(qq-desc);
	//background-position:0 -488px;
}
.toolbar-item-top{
	@include common-icons-sprite(top-client);
	//background-position:0 -674px;
}
.toolbar-item-top:hover{
	@include common-icons-sprite(top-desc);
	//background-position:0 -736px;
}
.modal-open{overflow:hidden}.modal{display:none;overflow:hidden;position:fixed;top:50%;margin-top:-212px;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transform:translate(0, -25%);-ms-transform:translate(0, -25%);-o-transform:translate(0, -25%);transform:translate(0, -25%);-webkit-transition:-webkit-transform 0.3s ease-out;-o-transition:-o-transform 0.3s ease-out;transition:transform 0.3s ease-out}.modal.in .modal-dialog{-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.2);border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);-webkit-background-clip:padding-box;background-clip:padding-box;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}.modal-backdrop.in{opacity:.8;filter:alpha(opacity=80)}.modal-header{padding:15px;border-bottom:1px solid #e5e5e5;min-height:16.42857143px}.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.42857143}.modal-body{position:relative;padding:15px}.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:768px){.modal-dialog{width:600px;margin:50px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.5);box-shadow:0 5px 15px rgba(0,0,0,0.5)}.modal-sm{width:300px}}@media (min-width:992px){.modal-lg{width:900px}}.clearfix:before,.clearfix:after,.modal-footer:before,.modal-footer:after{content:" ";display:table}.clearfix:after,.modal-footer:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}

.modal-body {
	
	.modal-icon {
		position: relative;
		float: right;
		right: -36px;
		top: -34px;
		width: 40px;
		height: 40px;
		@include common-icons-sprite(know-us-close-icon);
		cursor: pointer;
	}

	dl {
		//@include clearfix();
		text-align: center;
		dt:first-child {
			margin: 40px auto;
			color: #666;
			font: {
				size: 36px;
				weight: 600;
			}
		}

		dd:nth-child(2) {
			margin: 30px auto;
			$input-height: 48px;
			font: {
				size: $big-font-size;
			}
			input {
				display: inline-block;
				text-indent: 10px;
				width: 240px;
				height: $input-height;
				border: solid 1px #666;
				color: #666;
			}

			.call-btn {
				display: inline-block;
				vertical-align: top;
				line-height: ($input-height + 4);
				margin-left: -7px;
				width: 118px;
				height: ($input-height + 4);
				background-color: $fe5453;
				color: #ffffff;

				.call-icon {
					display: inline-block;
					vertical-align: middle;
					line-height: 34px;
					width: 14px;
					height: 14px;
					@include common-icons-sprite(telephone);
				}
			}

			.modal-message {
				display: block;
				height: 30px;
				line-height: 30px;
				color: $fe5453;
				font: {
					size: $normal-font-size;
					weight: normal;
				}
			}
		}

		dt:nth-child(3) {
			margin-top: 30px;
			margin-bottom: 15px;

			.model-qq-icon {
				@include common-icons-sprite(qq-icon);
				width: 42px;
				height: 42px;
				margin: 0 auto;
			} 
		}

		dd:last-child {
			color: #666;
			margin-bottom: 40px;
			font: {
				size: $big-font-size;
			}
		}
	}
}

#shelper {
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 290px;
	text-indent: 8px;
	//background: #fff;
	z-index: 999;
	display: none; 
	font-size: $normal-font-size;
}

.shelper-lucency {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
}

.shelper-opacity {
	border-left: 1px solid rgba(173,173,173,0.8);
	border-right: 1px solid rgba(173,173,173,0.8);
	border-bottom: 1px solid rgba(173,173,173,0.8);
	background-color: #fff;
	color: #666;
}

#shelper li {
	padding: 0;
	line-height: 22px;
	cursor: pointer;
	width: 290px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#shelper .on{ background:#f0f0f0;} 