// video
//
// video card style
@import "mixins/image";

@import "mixins/video";

@import "compass/typography/text/ellipsis";

.video-content {
	position: relative;
	width: 100%;
	height: 100%;
}

.video-content > .video-row {
	margin: 0 auto 30px;
	@include media_screen_width();

}

.video-row:last-child { 
	margin: 0 auto;
}

.video-row > .video-card{
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-right: $video-margin;
	border: solid $width-border $gray-border;
	overflow: hidden;
	 
	&:hover {
		border: solid $width-border lighten($gray-light,12%);
	}
	@include border-radius(4px);
}

.video-col-3 {
	@include video-col(3);
}

.video-col-4 {
	@include video-col(4);
}

.video-card:last-child {
	margin-right: 0;
}

.video-card .img-card-4 {
	@include img-auto-width-height(4); 
}

.video-card .img-card-3 {
	@include img-auto-width-height(3);
} 

.video-card .video-desc-section{
	width: $video-card-width;
	padding-top: 20px;
	margin: auto;

	h3 {
		color: $gray-dark;
        &:hover {
            color: $red-base;
        }
		line-height: 12px;
		@include ellipsis;
		font: {
			size: $font-size-base;
		}
		margin-bottom: 12px;
	}

	.video-tags {
		width: 100%;
		height: 56px;
        color: $gray-light;
		font: {
			size: $font-size-sm;
			weight: normal;
		}

		line-height: 16px;
		overflow: hidden;
	}
	
}

.video-card .video-price-section {
	width: $video-card-width;
	margin: auto;

	a {
		text-decoration: none;
		color: $gray;
		font-size: $font-size-sm;
		margin-left: 4px;

		&:hover {
			color: $gray-dark;
		}
	}

}

.video-card .video-price {
	
	h2 {
		display: inline-block;
		position: relative;
		color: $red-base;
		font-size: $font-size-lg;
		line-height: 16px;
	}

	h3 {
		display: inline-block;
		position: relative;
		color: $gray;
		font-size: $font-size-base;
		line-height: 16px;
		text-decoration: line-through;
	}
	margin-bottom: 12px;
}

.prompt-word {
	margin: 0 auto;
	margin-top: 30px;
	@include media_screen_width();
	text-align: center;
	font-size: $font-size-lger;
	color: $gray;
	line-height: $font-size-lger;
}

.prompt-level-word {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	@include media_screen_width();
	text-align: center;
	font-size: $font-size-lger;
	color: $gray;
	line-height: $font-size-lger;

	a {
	    color:blue;
	    font-weight: 600;
	}
}