@CHARSET "UTF-8";

ul{
	width:100%;
	height:220px;
	list-style: circle;
}

li{
	text-align: left;
	margin-bottom: 15px;
	color: #747F8C;
}

.content-wrap{
	position: relative;
	top: 40px;
}

.header-back__btn {
	width: 26px;
	height: 26px;
	background: url(../img/icons/know-us-close-icon.png) no-repeat;
	background-size:26px 26px;
	text-indent: -9999em;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
}

.footer{
	position: relative;
	top: 60px;
	width:340px;
	padding-right:26px;
	color: #7C8692;
}


