@import "common";
@import "buttons";
@import "video";
@import "flexslider";
@import "index-sprite";

.flex-wrap { 
	position: relative;
	width: 100%;
	background: $body-bg;

	@include  media_screen_height(440px,470px,540px); // self-adaption height
	@include flexshow; 
}

.new-banner {
	position: absolute;
	left: 0;
	right: 0;
	top: $header-height;
	bottom: 0;
	margin: 50px auto 50px;
	width: $banner-title-width;
	height: 235px;
	z-index: 10;
	.title {
		width: 100%;
		font-size: $font-size-lgester;
		line-height: $font-size-lgester;
		margin: 0 auto 30px;
		text-align: center;
		color: $white;
	} 

	.search-box {
		text-align: center;

		& > form {
			display: inline-block;
			position: relative;
		
			input {
				margin: 0 auto;
				padding: 0 10px;
				width: 536px;
				height: 34px;
				border: 1px solid rgba(255,255,255,.8);
				@include border-radius(2px);
				color: #fff;
				background: rgba(0,0,0,.15); 

				&:focus,&:hover {
					border: 1px solid #fff;
					background: rgba(0,0,0,.3);
					@include border-radius(2px);
				}
			}
		}

		ol, ul, dl {
			margin-bottom: 0;
		}
	}

	.desc {
		width: 100%;
		height: 23px;
		margin: 10px auto 26px;
		line-height: $font-size-lg;
		text-align: center;
		color: $white;
		font: {
			size: $font-size-lg;
			weight: 300;
		}
		//background: url(../images/common/desc.svg) no-repeat;
	}

	.known-btn {
		$known-btn-width: 118px;
		position: absolute; 
		left: 50%;
		width: $known-btn-width;
		margin-left: -($known-btn-width / 2);

		a {
			display: block;
			text-decoration: none;
			color: $white;

			&:hover,&:visited  {
				color: $white;
			}
		}
	}
}

.tele-wrap {
	position: relative;
	width: 100%;
	height: 48px;
	background: #fff;
}

.tele-wrap > .tele-section{
	@include media_screen_width();
	margin: auto;
	height: 100%;
	.tele-svg {
		  position: relative;
		  top: 14px;
		  width: 220px;
		  height: 20px;
		  background: url('/resources/images/index/tele.svg') no-repeat;
		  margin: auto;
	}
}

.info-wrap {
	position: relative;
	width: 100%;
	height: $info-height;
	background-color: $info-wrap-bg;
	border-bottom: solid 1px $gray-border;
}

.info-wrap > .info-section {
	position: relative;
	height: 100%;
	margin: auto;
	@include media_screen_width();

	dt {
		width: 47px;
		height: 47px;
		margin: 0 auto 30px;
	}

	.first-desc {
		@include index-sprite(first-desc);
	}

	.second-desc {
		width: 34px;
		@include index-sprite(second-desc);
	}

	.third-desc {
		@include index-sprite(third-desc);
	}
}



.info-section dl {
	position: relative;
	display: inline-block;
	height: 162px;
	margin: 30px auto;
	text-align: center;
	width: 33%;
	
	dd {
		font: {
			size: $font-size-base;
			weight: $font-weight-base;
		}
		color: $gray;
		line-height: 1.4rem;
	}

	> dd:nth-child(2) {
		line-height: 2.2rem;
		font: {
			size: $font-size-lger;
			weight: $font-weight-lg;
		}
		color: $red-base;
		margin-bottom: 24px;
	}

	> dd:nth-child(3) {
		margin-bottom: 14px;
	}
}

.video-wrap {
	width: 100%;
	background: $body-bg;
	margin: 65px auto;
}

.text-desc-wrap {
	margin: 0 auto;
	height: $video-text-height;
	@include media_screen_width();

	& > .text-desc {
		float: left;
		color: $gray-dark;
		font-size: $font-size-lg;
	}

	& > .more-video {
		float: right;
		width: 60px;
		height: 28px;
		font-size: $font-size-sm;
		font-weight: normal;
		border: solid 1px $gray-light;
		line-height: 28px;
		text-align: center;
		margin-top: -9px;
		@include border-radius(6px);
		text-decoration: none;
		cursor: pointer;

		&:hover {
			border: solid 1px $gray-dark;
			
		}

		a {
			color: $gray;
			&:hover {
				color: $gray-dark;
			}
		}
	}
}

.partner-wrap {
	width: 100%;
	background: $body-bg; 
	margin: 65px auto;
} 

.partner-wrap .partent-list {
	@include media_screen_width();
	margin: 0 auto;
}

.partner-wrap ul {
	li {
		display: inline-block;
		@include meida_screen_widthout_margin($partner-margin,6);
		margin-right: $partner-margin;
		border: solid 1px $gray-border;
		cursor: pointer;
	}

	li:first-child {
		background: url(../images/index/yy.png) no-repeat;
		//@include index-sprite(yy);
		background-size: cover;
	}

	li:nth-child(2) {
		background: url(../images/index/hw.png) no-repeat;
		//@include index-sprite(hw);
		background-size: cover;
	}

	li:nth-child(3) { 
		background: url(../images/index/weixin.png) no-repeat;
		//@include index-sprite(tt);
		background-size: cover;
	}

	li:nth-child(4) {
		background: url(../images/index/maotai.png) no-repeat;
		//@include index-sprite(lbtl);
		background-size: cover;
	}

	li:nth-child(5) {
		background: url(../images/index/tt.png) no-repeat;
		//@include index-sprite(tm);
		background-size: cover;
	}

	li:last-child {
		background: url(../images/index/tm.png) no-repeat;
		//@include index-sprite(bf);
		background-size: cover;
		margin-right: 0;
	}
}

