@import "common";
@import "buttons";
@import "video";
@import "flexslider";
.bgLogo {
    width: 300px;
    height: 25px;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    background: url('/resources/images/service/logo.svg') no-repeat !important;
}

.titleTag {
    background: #f0f2f5;
    height: 70px;
    border-bottom: 1px solid $border-line;
    .titleWord {
        @include media_screen_width_beta3();
        margin: 0 auto;
        font-size: 0;
        padding-left: 16%;
        padding-right: 16%;
        div {
            color: $gray-light;
            font-size: $font-size-base;
            width: 20%;
            display: inline-block;
            line-height: 69px;
            text-align: center;
            cursor: pointer;
        }
        .checkActive {
            color: $red-base !important;
            border-bottom: 1px solid $red-base;
        }
    }
}

.tagsWidth {
    @include media_screen_width_beta3();
    margin: 0 auto;
    margin-bottom: 120px;
    @media screen and (min-width: 1276px) {
        padding-left: 150px;
        padding-right: 150px;
    }
    .RightIcon {
        width: 100%;
        height: 206px;
        position: relative;
        div:first-child {
            position: absolute;
            top: 5px;
            left: 50px;
        }
        label {
            display: block;
        }
        label:nth-child(1) {
            color: $red-base;
            font-size: 2.6rem;
        }
        label:nth-child(2) {
            color: $gray-dark;
            font-size: $font-size-base;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 500;
        }
        label:nth-child(3) {
            color: $gray-light;
            font-size: $font-size-sm;
            font-weight: 500;
        }
        div:last-child {
            background: url('/resources/images/service/iconbg1.png') no-repeat;
            width: 350px;
            height: 214px;
            position: absolute;
            right: 40px;
            top: -30px;
            background-position-y: -220px !important;
            &:hover {
                background-position-y: 0px !important;
            }
        }
    }
    .LeftIcon {
        width: 100%;
        height: 206px;
        margin-left: 10px;
        position: relative;
        div:first-child {
            position: absolute;
            top: 5px;
            right: 50px;
            text-align: right;
        }
        label {
            display: block;
        }
        label:nth-child(1) {
            color: $red-base;
            font-size: 2.6rem;
        }
        label:nth-child(2) {
            color: $gray-dark;
            font-size: $font-size-base;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 500;
        }
        label:nth-child(3) {
            color: $gray-light;
            font-size: $font-size-sm;
        }
        div:last-child {
            width: 350px;
            height: 214px;
            position: absolute;
            left: 40px;
            top: -30px;
            background-position-y: -220px !important;
            &:hover {
                background-position-y: 0px !important;
            }
        }
    }
    .icon {
        background-size: 100% 206px !important;
        margin-top: 15px;
    }
    .icon1 {
        background: url('/resources/images/service/icon1.png') no-repeat;
        div:last-child {
            background: url('/resources/images/service/iconbg1.png') no-repeat;
        }
    }
    .icon2 {
        background: url('/resources/images/service/icon2.png') no-repeat;
        div:last-child {
            background: url('/resources/images/service/iconbg2.png') no-repeat;
        }
    }
    .icon3 {
        background: url('/resources/images/service/icon3.png') no-repeat;
        div:last-child {
            background: url('/resources/images/service/iconbg3.png') no-repeat;
        }
    }
    .icon4 {
        background: url('/resources/images/service/icon4.png') no-repeat;
        div:last-child {
            background: url('/resources/images/service/iconbg4.png') no-repeat;
        }
    }
    .icon5 {
        background: url('/resources/images/service/icon5.png') no-repeat;
        div:last-child {
            background: url('/resources/images/service/iconbg5.png') no-repeat;
        }
    }
    .icon6 {
        background: url('/resources/images/service/icon6.png') no-repeat;
        height: 206px;
        background-size: 100% 206px !important;
        margin-top: 15px;
        div:last-child {
            background: url('/resources/images/service/iconbg6.png') no-repeat;
        }
    }
}

//视频
.openVideo {
    background: black;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    overflow: hidden;
    z-index: 10;
    background: transparent;
    .videoClose {
        position: absolute;
        height: 24px;
        width: 24px;
        z-index: 15;
        right: -355px;
        top: -10px;
        background: url(/resources/images/block/close.png) no-repeat;
        cursor: pointer;
        &:hover {
            background-position-y: -24px;
        }
    }
    .openVideoCommon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        background: black;
        opacity: 0.5;
        z-index: 10;
    }
    video {
        // object-fit: contain;
        // position: fixed;
        // z-index: 12;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // max-height: 100%;
        // max-width: 100%;
        // margin: auto;
        position: fixed;
        z-index: 12;
        width: 692px;
        height: 389px;
        -moz-transition: perspective(1000px) rotatex(-61deg);
        ;
        /* Firefox 4 */
        -webkit-transition: perspective(1000px) rotatex(-61deg);
        /* Safari 和 Chrome */
        -o-transition: perspective(1000px) rotatex(-61deg);
        ;
        transform: perspective(1000px) rotatex(-61deg);
        ;
        transition: transform .3s linear, opacity .3s linear;
        -moz-transition: transform .3s linear, opacity .3s linear;
        /* Firefox 4 */
        -webkit-transition: transform .3s linear, opacity .3s linear;
        /* Safari 和 Chrome */
        -o-transition: transform .3s linear, opacity .3s linear;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        border: 5px solid rgba(255, 255, 255, 0.3);
        border-radius: 6px;
    }
    #videoRoata {
        position: fixed;
        z-index: 12;
        width: 692px;
        height: 389px;
        top: 50%;
        left: 50%;
        margin-top: -194px;
        margin-left: -692px;
    }
    .active {
        -moz-transition: rotateX(0);
        /* Firefox 4 */
        -webkit-transition: rotateX(0);
        /* Safari 和 Chrome */
        -o-transition: rotateX(0);
        transform: rotateX(0);
    }
}
