@import "common";
@import "buttons";
.content-wrap {
	width: $width-min;
	height: 560px;
	margin: 40px auto;
	border: solid 1px #dddddd;
	background-color: #ffffff;
	text-align: center;

	dl { 
		position: relative;
		top: 50%;
		margin-top: -90px;
		width: 100%;
		height: 180px;

		.right-icon {
			width: 80px;
			height: 80px;
			color: #ffffff; 
			@include icons-sprite(right-icon);
			margin: 16px auto;
			@include border-radius(50px);
		}

		dd {
			height: 45px;
			width: 100%;
			color: #666;
			line-height: 45px;
			font: {
				size: 24px;
				weight: 600;
			}
		}

		dd:nth-child(3) {
			color: #999;
			font: {
				size: $font-size-lg;
				weight: normal;
			}
		}
	}
}

