@import "compass/css3";
@import "constant";
@import "mixin";
@import "../common_index";

$video-split-width: 10px;
$row-height: 330px;

%video-wrap {
	display: inline-block;
	width: ($wrap-min-width / 3) - ($video-split-width * 2);
	height: $row-height;
	margin-left: $video-split-width;
	background: #fff;

	.video-poster-part {
		width: 100%;
		height: 192px;

		img {
			width: 100%;
			height: 191px;
		}
	}

	h3 {
		width: 100%;
		text-align: center;
		color: $font-color-deepen;
		padding-top: 8px;
		padding-bottom: 8px;

		font: {
			size: $big-font-size;
			weight: normal;
		}
	}

	$video-desc-width: 88%;
	
	.video-desc-part {
		width: $video-desc-width;
		margin: 0 auto;
		border-top: solid 1px lighten($fe5453, 20%);
		.video-price-active {
			width: 100%;
			color: $fe5453;
			padding-top: 10px;
			padding-bottom: 10px;
			
			label {
				display: inline-block;
				width: 47%;
				margin-right: 1%;
				text-align: right;
				font: {
					size: $normal-font-size;
					weight: normal;
				}
			}

			span {
				display: inline-block;
				width: 47%;
				margin-left: 1%;
				text-align: left;
				font: {
					size: $normal-font-size;
					weight: normal;
				}

				h5 {
					display: inline-block;
					font-size: $big-font-size;
				}
			}
		}

		.video-price-original {
			color: $font-color-normal;
			padding-top: 5px;
			padding-bottom: 5px;
			font: {
				size: $normal-font-size;
				weight: normal;
			}
			
			
			span {
				display: inline-block;
				width: 47%;
				margin-right: 1%;
				text-align: right;
			}
			label {
				display: inline-block;
				width: 47%;
				margin-left: 1%;
				text-align: left;
				
				h5 {
					display: inline-block;
					text-decoration: line-through;
				}
			}
		}

		.order-button {
			width: 96px;
			height: 26px;
			margin: 0 auto;
			margin-top: 5px;
			margin-bottom: 10px;
			line-height: 26px;
			font-size: $normal-font-size;
			
			text-align: center;
			border: solid 1px $fe5453;
			background-color: $fe5453;
			@include border-radius(25px);
		}
	}
}

.wrap {
	.banner-section {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.video-section {
		width: $wrap-min-width;
		height: 100%;
		margin: 5px auto;

		.video-section-wrap {
			width: 100%;
			height: 100%;

			.row {
				width: 100%;
				height: 100%;
				margin: 15px auto;

				.video-wrap {
					@extend %video-wrap;
					&:hover {
						background: #ccc;
						.video-poster-part {
							img {
								@include opacity(.2);
							}
						}
					}
				}

				.video-wrap:first-child {
					margin-left: 0;
				}
				
			}
		}
	}
}