@import "common";
@import "buttons";
@import "video";
@import "model";
@import "fontSize";
@import "compass/typography/text/ellipsis";
$video-height: 250px; // 视频播放区域高度
$video-height320: 170px; // 视频播放区域高度(320px)
$video-height360: 192px; // 视频播放区域高度(360px)
$video-height390: 210px; // 视频播放区域高度(390px)
$video-height640: 351px; // 视频播放区域高度(640px)
$video-height720: 396px; // 视频播放区域高度(720px)
@media (max-device-width: 1024px) and (orientation: landscape) {}

.cusSide {
    width: 100%;
    height: 100%;
    background: $white;
    position: relative;
    .topDiv {
        width: 100%;
        height: 100%;
        position: relative;
        background: url(../../../images/phone/login/cusBackB.jpg) no-repeat;
        background-size: 100% $video-height;
        @media screen and (max-width: 360px) {
            background-size: 100% $video-height320;
        }
        @media screen and (min-width: 360px) and (max-width: 390px) {
            background-size: 100% $video-height360;
        }
        @media screen and (min-width: 390px) and (max-width: 460px) {
            background-size: 100% $video-height390;
        }
        @media screen and (min-width: 640px) and (max-width: 720px) {
            background-size: 100% $video-height640;
        }
        @media screen and (min-width: 720px) {
            background-size: 100% $video-height720;
        }
        .topContent {
            width: 100%;
            height: auto;
            text-align: center;
            position: relative;
            top: 30px;
            img {
                height: 50px;
                width: 150px;
            }
            .lineWidth {
                margin: 15px auto;
                height: 1px;
                width: 150px;
                background: $white;
            }
            .infoWord {
                color: $white;
                font-size: $font-size-lg;
            }
        }
    }
    .bottomDiv {
        width: 100%;
        height: 75%;
        position: absolute;
        top: 25%;
        @media (max-device-width: 1024px) and (orientation: landscape) {
            top: 40%;
        }
        .cusBg {
            background: url(../../../images/phone/login/cusLogin.png) no-repeat;
            background-size: 100% 100%;
        }
        .contentHeight {
            width: 100%;
            height: 100%;
            padding-top: 5%;
            @media (max-device-width: 1024px) and (orientation: landscape) {
                height: 1000px;
            }
        }
        .contentColor {
            background: $red-base;
        }
    }
    .titleWord {
        position: relative;
        top: 13px;
        width: 100%;
        height: 60px;
        line-height: 6.0rem;
        .leftWord {
            position: relative;
            left: 20px;
            float: left;
            font-size: $font-size;
            color: $white;
            cursor: pointer;
        }
        .rightWord {
            position: relative;
            right: 20px;
            float: right;
            font-size: $font-size;
            color: $red-base;
            cursor: pointer;
        }
    }
    .loginContent {
        position: relative;
        margin-left: 10%;
        width: 80%;
        height: 65px;
        margin-top: 10px;
        background: none;
        input {
            width: 100%;
            height: 38px;
            display: block;
            position: absolute;
            border: none;
            border-bottom: 1px solid #ccc;
            background: none;
            outline: none;
            border-radius: 0px;
            color: $white;
        }
        .checkboxDiv {
            width: 20px;
            height: 20px;
        }
        .image {
            float: right;
            z-index: 200;
            position: relative;
        }
        .error-word {
            position: relative;
            top: 45px;
            color: $gold-yellow;
        }
        .inline {
            display: inline-block;
            width: auto;
            height: 20px;
        }
        .wordSize {
            position: relative;
            left: 25px;
            span {
                color: $gold-yellow;
                position: relative;
                left: 10px;
            }
        }
    }
    .submitBtn {
        background: none;
        border: none;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 5.0rem;
        color: $white;
        font-size: $font-size;
        cursor: pointer;
    }
    .nosubmitBtn {
        background: $gray;
        border: none;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 5.0rem;
        color: $white;
        font-size: $font-size;
        cursor: not-allowed;
    }
    .btn-validation {
        display: inline;
        height: 34px;
        width: 90px;
        position: relative;
        top: 0px;
        left: 0px;
        cursor: pointer;
    }
    .btn-get-validation {
        display: inline;
        height: 34px;
        width: 90px;
        position: relative;
        line-height: 3px;
        top: 0px;
        left: 0px;
        background: none;
        border: none;
        color: $gray;
        cursor: pointer;
        &:hover {
            color: $gray-dark;
        }
    }
}

.posSide {
    width: 100%;
    height: 100%;
    position: relative;
    background: $red-base;
    .topDiv {
        width: 100%;
        height: 100%;
        position: relative;
        background: url(../../../images/phone/login/posBackB.jpg) no-repeat;
        background-size: 100% 100%;
        .topContent {
            width: 100%;
            height: auto;
            text-align: center;
            position: relative;
            top: 30px;
            img {
                height: 50px;
                width: 150px;
            }
            .lineWidth {
                margin: 15px auto;
                height: 1px;
                width: 150px;
                background: $white;
            }
            .infoWord {
                color: $white;
                font-size: $font-size-lg;
            }
        }
    }
    .bottomDiv {
        width: 100%;
        height: 75%;
        position: absolute;
        top: 25%;
        .cusBg {
            background: url(../../../images/phone/login/posLogin.png) no-repeat;
            background-size: 100% 100%;
        }
        .contentHeight {
            width: 100%;
            height: 100%;
            padding-top: 5%;
        }
        .contentColor {
            background: $white;
        }
    }
    .titleWord {
        position: relative;
        top: 13px;
        width: 100%;
        height: 60px;
        line-height: 6.0rem;
        .leftWord {
            position: relative;
            left: 20px;
            float: left;
            font-size: $font-size;
            color: $white;
            cursor: pointer;
        }
        .rightWord {
            position: relative;
            right: 20px;
            float: right;
            font-size: $font-size;
            color: $red-base;
            cursor: pointer;
        }
    }
    .loginContent {
        position: relative;
        margin-left: 10%;
        width: 80%;
        height: 65px;
        margin-top: 10px;
        background: none;
        input {
            width: 100%;
            height: 38px;
            display: block;
            position: absolute;
            border: none;
            border-bottom: 1px solid #ccc;
            background: none;
            outline: none;
            border-radius: 0px;
            color: $gray-dark
        }
        .checkboxDiv {
            width: 20px;
            height: 20px;
        }
        .image {
            float: right;
            z-index: 200;
            position: relative;
        }
        .error-word {
            position: relative;
            top: 45px;
            color: $red-base;
        }
        .inline {
            display: inline-block;
            width: auto;
            height: 20px;
        }
        .wordSize {
            position: relative;
            left: 25px;
            span {
                color: $gold-yellow;
            }
        }
    }
    .submitBtn {
        background: none;
        border: none;
        border-top: 1px solid $red-base;
        border-bottom: 1px solid $red-base;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 5.0rem;
        color: $red-base;
        font-size: $font-size;
        cursor: pointer;
    }
    .nosubmitBtn {
        background: $gray;
        border: none;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 5.0rem;
        color: $white;
        font-size: $font-size;
        cursor: not-allowed;
    }
    .btn-validation {
        display: inline;
        height: 34px;
        width: 90px;
        position: relative;
        top: 0px;
        left: 0px;
        cursor: pointer;
    }
    .btn-get-validation {
        display: inline;
        height: 34px;
        width: 90px;
        position: relative;
        line-height: 3px;
        top: 0px;
        left: 0px;
        background: none;
        border: none;
        color: $gray;
        cursor: pointer;
        &:hover {
            color: $gray-dark;
        }
    }
}
