@mixin index-Screen-width($min-width: $width-min, $middle-width: $width-middle, $large-width: $width-lg) {
    width: ($width-min - 60px) / 4 !important;
    background-size: (($width-min - 60px) / 4) 180px !important;
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        width: ($width-middle - 60px) / 4 !important;
        background-size: (($width-middle - 60px) / 4) 180px !important;
    }
    @media screen and (min-width: 1500px) {
        width: ($width-lg3 - 60px) / 4 !important;
        background-size: (($width-lg3 - 60px) / 4) 180px !important;
    }
}

@mixin cardBgOrigin($min-width: $width-min, $middle-width: $width-middle, $large-width: $width-lg) {
    $clipWidth: ($width-min - 60px) / 4;
    clip: rect(180px $clipWidth 180px $clipWidth);
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        $clipWidth: ($width-middle - 60px) / 4;
        clip: rect(180px $clipWidth 180px $clipWidth);
    }
    @media screen and (min-width: 1500px) {
        $clipWidth: ($width-lg3 - 60px) / 4;
        clip: rect(180px $clipWidth 180px $clipWidth);
    }
}


@mixin cardBgHover($min-width: $width-min, $middle-width: $width-middle, $large-width: $width-lg) {
    $clipWidth: ($width-min - 60px) / 4;
    clip: rect(0px $clipWidth 180px 180px);
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        $clipWidth: ($width-middle - 60px) / 4;
         clip: rect(0px $clipWidth 180px 180px);
    }
    @media screen and (min-width: 1500px) {
        $clipWidth: ($width-lg3 - 60px) / 4;
         clip: rect(0px $clipWidth 180px 180px);
    }
}
