@charset "UTF-8";
/*!
	common css style
	define the wrap of header/footer/page
*/
/*!
	common css style
	define html body
*/
/* line 5, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/_reboot.scss */
html {
  box-sizing: border-box;
}

/* line 15, ../sass/_reboot.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 21, ../sass/_reboot.scss */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
}

/* line 30, ../sass/_reboot.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: #333;
  background-color: #f9fbfb;
}

/* line 42, ../sass/_reboot.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 47, ../sass/_reboot.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 54, ../sass/_reboot.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/*！
	Header Style
*/
/* line 5, ../sass/_navbar.scss */
.nav a {
  text-decoration: none;
  outline: none;
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
/* line 10, ../sass/_navbar.scss */
.nav a:hover {
  color: #fe5453;
  background-color: #ededed;
}

/* line 16, ../sass/_navbar.scss */
.nav .logo {
  position: relative;
  float: left;
  top: 14px;
  background: url(../images/common/logo.svg) no-repeat;
  width: 92px;
  height: 30px;
  margin-right: 76px;
}
/* line 26, ../sass/_navbar.scss */
.nav .logo h1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* line 33, ../sass/_navbar.scss */
.header-item {
  position: relative;
  float: left;
  color: #140808;
  line-height: 60px;
  text-align: center;
  font-size: 1.4rem;
  margin-right: 26px;
  width: 80px;
  cursor: pointer;
}

/* line 45, ../sass/_navbar.scss */
.login-item {
  color: #f69452;
  font-weight: 500;
  margin-right: 26px;
}

/* line 51, ../sass/_navbar.scss */
#shelper {
  overflow: hidden;
  position: absolute;
  left: 0;
  text-indent: 8px;
  z-index: 999;
  display: none;
  font-size: 1.4rem;
  background-color: #fff;
  min-width: 250px;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 51, ../sass/_navbar.scss */
  #shelper {
    min-width: 490px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 51, ../sass/_navbar.scss */
  #shelper {
    min-width: 570px;
  }
}

/* line 73, ../sass/_navbar.scss */
#banner-search #shelper {
  overflow: hidden;
  position: absolute;
  left: 0;
  text-indent: 8px;
  text-align: left;
  z-index: 999;
  display: none;
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0) none repeat scroll 0 0 !important;
  filter: Alpha(opacity=0);
  background: #fff;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  color: #ccc;
  width: 536px;
}

/* line 91, ../sass/_navbar.scss */
.shelper-lucency {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  color: #666;
  -moz-box-shadow: 1px 1px 3px #ededed;
  -webkit-box-shadow: 1px 1px 3px #ededed;
  box-shadow: 1px 1px 3px #ededed;
}

/* line 99, ../sass/_navbar.scss */
#banner-search .shelper-lucency {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  color: #666;
  -moz-box-shadow: 0 0 0 #e6e6e6;
  -webkit-box-shadow: 0 0 0 #e6e6e6;
  box-shadow: 0 0 0 #e6e6e6;
}

/* line 107, ../sass/_navbar.scss */
.shelper-opacity {
  border-left: 1px solid rgba(173, 173, 173, 0.8);
  border-right: 1px solid rgba(173, 173, 173, 0.8);
  border-bottom: 1px solid rgba(173, 173, 173, 0.8);
  background-color: #fff;
  color: #666;
}

/* line 115, ../sass/_navbar.scss */
#shelper li {
  padding: 0;
  line-height: 22px;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 125, ../sass/_navbar.scss */
#shelper .on {
  background: #f0f0f0;
}

/* line 127, ../sass/_navbar.scss */
#banner-search #shelper .on {
  background: white;
}

/* line 8, ../sass/_video.scss */
.video-content {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 14, ../sass/_video.scss */
.video-content > .video-row {
  margin: 0 auto 52px;
  width: 960px;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 14, ../sass/_video.scss */
  .video-content > .video-row {
    width: 1212px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 14, ../sass/_video.scss */
  .video-content > .video-row {
    width: 1464px;
  }
}

/* line 20, ../sass/_video.scss */
.video-row:last-child {
  margin: 0 auto;
}

/* line 24, ../sass/_video.scss */
.video-row > .video-card {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 41px;
  border: solid 1px #d9d9de;
  overflow: hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 32, ../sass/_video.scss */
.video-row > .video-card:hover {
  border: solid 1px #b8b8b8;
}

/* line 38, ../sass/_video.scss */
.video-col-3 {
  width: 291.66667px;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 38, ../sass/_video.scss */
  .video-col-3 {
    width: 375.66667px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 38, ../sass/_video.scss */
  .video-col-3 {
    width: 459.66667px;
  }
}

/* line 42, ../sass/_video.scss */
.video-col-4 {
  width: 208.25px;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 42, ../sass/_video.scss */
  .video-col-4 {
    width: 271.25px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 42, ../sass/_video.scss */
  .video-col-4 {
    width: 334.25px;
  }
}

/* line 46, ../sass/_video.scss */
.video-card:last-child {
  margin-right: 0;
}

/* line 50, ../sass/_video.scss */
.video-card .img-card-4 {
  width: 208.25px;
  height: 117.14063px;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 50, ../sass/_video.scss */
  .video-card .img-card-4 {
    width: 271.25px;
    height: 152.57813px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 50, ../sass/_video.scss */
  .video-card .img-card-4 {
    width: 334.25px;
    height: 188.01563px;
  }
}

/* line 54, ../sass/_video.scss */
.video-card .img-card-3 {
  width: 291.66667px;
  height: 164.0625px;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 54, ../sass/_video.scss */
  .video-card .img-card-3 {
    width: 375.66667px;
    height: 211.3125px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 54, ../sass/_video.scss */
  .video-card .img-card-3 {
    width: 459.66667px;
    height: 258.5625px;
  }
}

/* line 58, ../sass/_video.scss */
.video-card .video-desc-section {
  width: 94%;
  padding: 20px 0;
  margin: auto;
  border-bottom: solid 1px #d9d9de;
}
/* line 64, ../sass/_video.scss */
.video-card .video-desc-section h3 {
  color: #333;
  line-height: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
/* line 74, ../sass/_video.scss */
.video-card .video-desc-section h4 {
  color: #666;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 12px;
  margin-bottom: 22px;
}
/* line 84, ../sass/_video.scss */
.video-card .video-desc-section .video-desc {
  height: 48px;
  color: #666;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.4rem;
  overflow: hidden;
}

/* line 98, ../sass/_video.scss */
.video-card .video-price-section {
  width: 94%;
  padding: 12px 0;
  margin: auto;
}
/* line 103, ../sass/_video.scss */
.video-card .video-price-section a {
  text-decoration: none;
  color: #666;
  font-size: 1.2rem;
}
/* line 108, ../sass/_video.scss */
.video-card .video-price-section a:hover {
  color: #333;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 98, ../sass/_video.scss */
  .video-card .video-price-section {
    padding: 16px 0;
  }
}
@media screen and (min-width: 1500px) {
  /* line 98, ../sass/_video.scss */
  .video-card .video-price-section {
    padding: 18px 0;
  }
}

/* line 122, ../sass/_video.scss */
.video-card .video-price {
  margin-bottom: 10px;
}
/* line 124, ../sass/_video.scss */
.video-card .video-price h2 {
  display: inline-block;
  color: #fe5453;
  font-size: 1.8rem;
}
/* line 130, ../sass/_video.scss */
.video-card .video-price h3 {
  display: inline-block;
  color: #666;
  font-size: 1.4rem;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 122, ../sass/_video.scss */
  .video-card .video-price {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 122, ../sass/_video.scss */
  .video-card .video-price {
    margin-bottom: 18px;
  }
}

/* line 146, ../sass/_video.scss */
.prompt-word {
  margin: auto;
  width: 960px;
  text-align: center;
  font-size: 2rem;
  color: #666;
  line-height: 2rem;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 146, ../sass/_video.scss */
  .prompt-word {
    width: 1212px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 146, ../sass/_video.scss */
  .prompt-word {
    width: 1464px;
  }
}

/* line 13, ../sass/_common.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 9998;
  background: #f9fbfb;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
}

/* line 23, ../sass/_common.scss */
.header > .menu-bar {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 960px;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 23, ../sass/_common.scss */
  .header > .menu-bar {
    width: 1212px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 23, ../sass/_common.scss */
  .header > .menu-bar {
    width: 1464px;
  }
}

/* line 34, ../sass/_common.scss */
.menu-bar > .left-part {
  position: relative;
  float: left;
  left: 0;
}
/* line 39, ../sass/_common.scss */
.menu-bar > .left-part a:last-child {
  margin-right: 0;
}

/* line 44, ../sass/_common.scss */
.menu-bar > .middle-part {
  position: relative;
  float: left;
  left: 30px;
  right: 20px;
  top: 14px;
}
/* line 51, ../sass/_common.scss */
.menu-bar > .middle-part input {
  min-width: 250px;
  height: 32px;
  padding: 0 10px;
  border: 1px solid rgba(217, 217, 222, 0.9);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(248, 248, 245, 0.2);
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 51, ../sass/_common.scss */
  .menu-bar > .middle-part input {
    min-width: 490px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 51, ../sass/_common.scss */
  .menu-bar > .middle-part input {
    min-width: 570px;
  }
}
/* line 67, ../sass/_common.scss */
.menu-bar > .middle-part input:focus, .menu-bar > .middle-part input:hover {
  border: 1px solid #d9d9e0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(241, 241, 237, 0.3);
}

/* line 76, ../sass/_common.scss */
.menu-bar > .right-part {
  position: relative;
  float: right;
  right: 0;
}
/* line 81, ../sass/_common.scss */
.menu-bar > .right-part a:last-child {
  margin-right: 0;
}

/* line 86, ../sass/_common.scss */
.page {
  position: relative;
  top: 60px;
  background: #f9fbfb;
}

/* line 93, ../sass/_common.scss */
.footer {
  position: relative;
  width: 100%;
  top: 60px;
}

/* line 99, ../sass/_common.scss */
.footer .footer-desc-wrap {
  position: relative;
  width: 100%;
  height: 285px;
  background: #FFEEEF;
}

/* line 106, ../sass/_common.scss */
.footer-desc-wrap .footer-desc {
  width: 960px;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 106, ../sass/_common.scss */
  .footer-desc-wrap .footer-desc {
    width: 1212px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 106, ../sass/_common.scss */
  .footer-desc-wrap .footer-desc {
    width: 1464px;
  }
}
/* line 112, ../sass/_common.scss */
.footer-desc-wrap .footer-desc h2 {
  font-size: 2.6rem;
  color: #333;
  line-height: 2.6rem;
  margin-bottom: 26px;
}
/* line 119, ../sass/_common.scss */
.footer-desc-wrap .footer-desc p {
  font-size: 1.6rem;
  color: #666;
  height: 24px;
  line-height: 24px;
}
/* line 126, ../sass/_common.scss */
.footer-desc-wrap .footer-desc .known-btn {
  margin-top: 22px;
}

/* line 131, ../sass/_common.scss */
.footer-wrap {
  position: relative;
  width: 100%;
  height: 300px;
  background: #140808;
}

/* line 138, ../sass/_common.scss */
.footer-wrap .footer-content {
  width: 960px;
  height: 264px;
  margin: 0 auto;
  border-bottom: solid 1px #d9d9de;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 138, ../sass/_common.scss */
  .footer-wrap .footer-content {
    width: 1212px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 138, ../sass/_common.scss */
  .footer-wrap .footer-content {
    width: 1464px;
  }
}

/* line 145, ../sass/_common.scss */
.footer-content .footer-column {
  display: inline-block;
  vertical-align: top;
  width: 133.14286px;
  margin-top: 60px;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 145, ../sass/_common.scss */
  .footer-content .footer-column {
    width: 169.14286px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 145, ../sass/_common.scss */
  .footer-content .footer-column {
    width: 205.14286px;
  }
}
/* line 150, ../sass/_common.scss */
.footer-content .footer-column .title {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.4rem;
  color: #fff;
  margin-bottom: 20px;
}
/* line 160, ../sass/_common.scss */
.footer-content .footer-column a {
  display: block;
  text-decoration: none;
  color: #dedede;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 10px;
}
/* line 169, ../sass/_common.scss */
.footer-content .footer-column .mark-icon {
  width: 100px;
  height: 100px;
  background: url(../images/common/mark.jpg) no-repeat;
  background-size: cover;
}
/* line 176, ../sass/_common.scss */
.footer-content .footer-column h4 {
  margin: 5px auto;
  text-indent: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #dedede;
}

/* line 185, ../sass/_common.scss */
.footer-content .footer-notice {
  margin: 5px auto;
}
/* line 187, ../sass/_common.scss */
.footer-content .footer-notice h2 {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.4rem;
  margin-bottom: 10px;
  color: #c8c8c8;
}
/* line 197, ../sass/_common.scss */
.footer-content .footer-notice p {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 5px auto;
  color: #bbbbbb;
}

/* line 206, ../sass/_common.scss */
.footer-wrap .footer-box {
  width: 960px;
  height: 36px;
  margin: 0 auto;
  text-align: center;
  color: #dedede;
  line-height: 36px;
  font-size: 1.2rem;
}
@media screen and (min-width: 1276px) and (max-width: 1500px) {
  /* line 206, ../sass/_common.scss */
  .footer-wrap .footer-box {
    width: 1212px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 206, ../sass/_common.scss */
  .footer-wrap .footer-box {
    width: 1464px;
  }
}
/* line 214, ../sass/_common.scss */
.footer-wrap .footer-box a {
  text-decoration: none;
  color: #dedede;
  font-size: 1.2rem;
}

/* line 10, ../sass/_buttons.scss */
.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 0.0625rem solid transparent;
  padding: 1.375rem 2rem;
  font-size: 1.2rem;
  line-height: 1rem;
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 26, ../sass/_buttons.scss */
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 20, ../sass/mixins/_hover.scss */
.btn:focus, .btn:hover {
  text-decoration: none;
}
/* line 35, ../sass/_buttons.scss */
.btn.focus {
  text-decoration: none;
}
/* line 39, ../sass/_buttons.scss */
.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 46, ../sass/_buttons.scss */
.btn.disabled, .btn:disabled, fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 56, ../sass/_buttons.scss */
a.btn.disaabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

/* line 66, ../sass/_buttons.scss */
.btn-primary {
  color: #fff;
  background-color: #fe5453;
  border-color: #fe2220;
}
/* line 16, ../sass/mixins/_buttons.scss */
.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #fe0807;
  border-color: #e00301;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #fe0807;
  border-color: #e00301;
}
/* line 30, ../sass/mixins/_buttons.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 40, ../sass/mixins/_buttons.scss */
.btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
  background-color: #fe5453;
  border-color: #fe2220;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-primary.disabled:hover, .btn-primary:disabled:hover, fieldset[disabled] .btn-primary:hover {
  background-color: #fe5453;
  border-color: #fe2220;
}

/* line 69, ../sass/_buttons.scss */
.btn-secondary {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
/* line 16, ../sass/mixins/_buttons.scss */
.btn-secondary:focus, .btn-secondary.focus, .btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
  color: #333;
  background-color: #d9d9d9;
  border-color: #adadad;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-secondary:hover {
  color: #333;
  background-color: #d9d9d9;
  border-color: #adadad;
}
/* line 30, ../sass/mixins/_buttons.scss */
.btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
  background-image: none;
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 40, ../sass/mixins/_buttons.scss */
.btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary:disabled:focus, .btn-secondary:disabled.focus, fieldset[disabled] .btn-secondary:focus, fieldset[disabled] .btn-secondary.focus {
  background-color: #fff;
  border-color: #ccc;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-secondary.disabled:hover, .btn-secondary:disabled:hover, fieldset[disabled] .btn-secondary:hover {
  background-color: #fff;
  border-color: #ccc;
}

/* line 72, ../sass/_buttons.scss */
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
/* line 16, ../sass/mixins/_buttons.scss */
.btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #28a1c5;
  border-color: #2aabd2;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-info:hover {
  color: #fff;
  background-color: #28a1c5;
  border-color: #2aabd2;
}
/* line 30, ../sass/mixins/_buttons.scss */
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-image: none;
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 40, ../sass/mixins/_buttons.scss */
.btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info:disabled:focus, .btn-info:disabled.focus, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-info.disabled:hover, .btn-info:disabled:hover, fieldset[disabled] .btn-info:hover {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

/* line 75, ../sass/_buttons.scss */
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
/* line 16, ../sass/mixins/_buttons.scss */
.btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #3d8b3d;
  border-color: #419641;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-success:hover {
  color: #fff;
  background-color: #3d8b3d;
  border-color: #419641;
}
/* line 30, ../sass/mixins/_buttons.scss */
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-image: none;
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 40, ../sass/mixins/_buttons.scss */
.btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success:disabled:focus, .btn-success:disabled.focus, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-success.disabled:hover, .btn-success:disabled:hover, fieldset[disabled] .btn-success:hover {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

/* line 78, ../sass/_buttons.scss */
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
/* line 16, ../sass/mixins/_buttons.scss */
.btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #df8a13;
  border-color: #eb9316;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-warning:hover {
  color: #fff;
  background-color: #df8a13;
  border-color: #eb9316;
}
/* line 30, ../sass/mixins/_buttons.scss */
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-image: none;
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 40, ../sass/mixins/_buttons.scss */
.btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning:disabled:focus, .btn-warning:disabled.focus, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-warning.disabled:hover, .btn-warning:disabled:hover, fieldset[disabled] .btn-warning:hover {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

/* line 81, ../sass/_buttons.scss */
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
/* line 16, ../sass/mixins/_buttons.scss */
.btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #b52b27;
  border-color: #c12e2a;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-danger:hover {
  color: #fff;
  background-color: #b52b27;
  border-color: #c12e2a;
}
/* line 30, ../sass/mixins/_buttons.scss */
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-image: none;
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 40, ../sass/mixins/_buttons.scss */
.btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger:disabled:focus, .btn-danger:disabled.focus, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d9534f;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-danger.disabled:hover, .btn-danger:disabled:hover, fieldset[disabled] .btn-danger:hover {
  background-color: #d9534f;
  border-color: #d9534f;
}

/* line 86, ../sass/_buttons.scss */
.btn-primary-outline {
  color: #fe5453;
  background-image: none;
  background-color: transparent;
  border-color: #fe5453;
}
/* line 58, ../sass/mixins/_buttons.scss */
.btn-primary-outline:focus, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline.active, .open > .btn-primary-outline.dropdown-toggle {
  color: #fff;
  background-color: #fe5453;
  border-color: #fe5453;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-primary-outline:hover {
  color: #fff;
  background-color: #fe5453;
  border-color: #fe5453;
}
/* line 76, ../sass/mixins/_buttons.scss */
.btn-primary-outline.disabled:focus, .btn-primary-outline.disabled.focus, .btn-primary-outline:disabled:focus, .btn-primary-outline:disabled.focus, fieldset[disabled] .btn-primary-outline:focus, fieldset[disabled] .btn-primary-outline.focus {
  border-color: #ffb9b8;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-primary-outline.disabled:hover, .btn-primary-outline:disabled:hover, fieldset[disabled] .btn-primary-outline:hover {
  border-color: #ffb9b8;
}

/* line 89, ../sass/_buttons.scss */
.btn-secondary-outline {
  color: #ccc;
  background-image: none;
  background-color: transparent;
  border-color: #ccc;
}
/* line 58, ../sass/mixins/_buttons.scss */
.btn-secondary-outline:focus, .btn-secondary-outline.focus, .btn-secondary-outline:active, .btn-secondary-outline.active, .open > .btn-secondary-outline.dropdown-toggle {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-secondary-outline:hover {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}
/* line 76, ../sass/mixins/_buttons.scss */
.btn-secondary-outline.disabled:focus, .btn-secondary-outline.disabled.focus, .btn-secondary-outline:disabled:focus, .btn-secondary-outline:disabled.focus, fieldset[disabled] .btn-secondary-outline:focus, fieldset[disabled] .btn-secondary-outline.focus {
  border-color: white;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-secondary-outline.disabled:hover, .btn-secondary-outline:disabled:hover, fieldset[disabled] .btn-secondary-outline:hover {
  border-color: white;
}

/* line 92, ../sass/_buttons.scss */
.btn-info-outline {
  color: #5bc0de;
  background-image: none;
  background-color: transparent;
  border-color: #5bc0de;
}
/* line 58, ../sass/mixins/_buttons.scss */
.btn-info-outline:focus, .btn-info-outline.focus, .btn-info-outline:active, .btn-info-outline.active, .open > .btn-info-outline.dropdown-toggle {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-info-outline:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
/* line 76, ../sass/mixins/_buttons.scss */
.btn-info-outline.disabled:focus, .btn-info-outline.disabled.focus, .btn-info-outline:disabled:focus, .btn-info-outline:disabled.focus, fieldset[disabled] .btn-info-outline:focus, fieldset[disabled] .btn-info-outline.focus {
  border-color: #b0e1ef;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-info-outline.disabled:hover, .btn-info-outline:disabled:hover, fieldset[disabled] .btn-info-outline:hover {
  border-color: #b0e1ef;
}

/* line 95, ../sass/_buttons.scss */
.btn-success-outline {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}
/* line 58, ../sass/mixins/_buttons.scss */
.btn-success-outline:focus, .btn-success-outline.focus, .btn-success-outline:active, .btn-success-outline.active, .open > .btn-success-outline.dropdown-toggle {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-success-outline:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
/* line 76, ../sass/mixins/_buttons.scss */
.btn-success-outline.disabled:focus, .btn-success-outline.disabled.focus, .btn-success-outline:disabled:focus, .btn-success-outline:disabled.focus, fieldset[disabled] .btn-success-outline:focus, fieldset[disabled] .btn-success-outline.focus {
  border-color: #a3d7a3;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-success-outline.disabled:hover, .btn-success-outline:disabled:hover, fieldset[disabled] .btn-success-outline:hover {
  border-color: #a3d7a3;
}

/* line 98, ../sass/_buttons.scss */
.btn-warning-outline {
  color: #f0ad4e;
  background-image: none;
  background-color: transparent;
  border-color: #f0ad4e;
}
/* line 58, ../sass/mixins/_buttons.scss */
.btn-warning-outline:focus, .btn-warning-outline.focus, .btn-warning-outline:active, .btn-warning-outline.active, .open > .btn-warning-outline.dropdown-toggle {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-warning-outline:hover {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
/* line 76, ../sass/mixins/_buttons.scss */
.btn-warning-outline.disabled:focus, .btn-warning-outline.disabled.focus, .btn-warning-outline:disabled:focus, .btn-warning-outline:disabled.focus, fieldset[disabled] .btn-warning-outline:focus, fieldset[disabled] .btn-warning-outline.focus {
  border-color: #f8d9ac;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-warning-outline.disabled:hover, .btn-warning-outline:disabled:hover, fieldset[disabled] .btn-warning-outline:hover {
  border-color: #f8d9ac;
}

/* line 101, ../sass/_buttons.scss */
.btn-danger-outline {
  color: #d9534f;
  background-image: none;
  background-color: transparent;
  border-color: #d9534f;
}
/* line 58, ../sass/mixins/_buttons.scss */
.btn-danger-outline:focus, .btn-danger-outline.focus, .btn-danger-outline:active, .btn-danger-outline.active, .open > .btn-danger-outline.dropdown-toggle {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-danger-outline:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
/* line 76, ../sass/mixins/_buttons.scss */
.btn-danger-outline.disabled:focus, .btn-danger-outline.disabled.focus, .btn-danger-outline:disabled:focus, .btn-danger-outline:disabled.focus, fieldset[disabled] .btn-danger-outline:focus, fieldset[disabled] .btn-danger-outline.focus {
  border-color: #eba5a3;
}
/* line 10, ../sass/mixins/_hover.scss */
.btn-danger-outline.disabled:hover, .btn-danger-outline:disabled:hover, fieldset[disabled] .btn-danger-outline:hover {
  border-color: #eba5a3;
}

/* line 110, ../sass/_buttons.scss */
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/* line 3, ../sass/_model.scss */
.modal-open {
  overflow: hidden;
}

/* line 6, ../sass/_model.scss */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 50%;
  margin-top: -212px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

/* line 19, ../sass/_model.scss */
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/* line 28, ../sass/_model.scss */
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 34, ../sass/_model.scss */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 38, ../sass/_model.scss */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

/* line 43, ../sass/_model.scss */
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

/* line 55, ../sass/_model.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

/* line 64, ../sass/_model.scss */
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 68, ../sass/_model.scss */
.modal-backdrop.in {
  opacity: .8;
  filter: alpha(opacity=80);
}

/* line 72, ../sass/_model.scss */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857px;
}

/* line 77, ../sass/_model.scss */
.modal-header .close {
  margin-top: -2px;
}

/* line 80, ../sass/_model.scss */
.modal-title {
  margin: 0;
  line-height: 1.42857;
}

/* line 84, ../sass/_model.scss */
.modal-body {
  position: relative;
  padding: 15px;
}

/* line 88, ../sass/_model.scss */
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

/* line 93, ../sass/_model.scss */
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

/* line 97, ../sass/_model.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

/* line 100, ../sass/_model.scss */
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

/* line 103, ../sass/_model.scss */
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  /* line 111, ../sass/_model.scss */
  .modal-dialog {
    width: 600px;
    margin: 50px auto;
  }

  /* line 115, ../sass/_model.scss */
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  /* line 119, ../sass/_model.scss */
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  /* line 124, ../sass/_model.scss */
  .modal-lg {
    width: 900px;
  }
}
/* line 128, ../sass/_model.scss */
.clearfix:before, .clearfix:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

/* line 132, ../sass/_model.scss */
.clearfix:after, .modal-footer:after {
  clear: both;
}

/* line 135, ../sass/_model.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 140, ../sass/_model.scss */
.pull-right {
  float: right !important;
}

/* line 143, ../sass/_model.scss */
.pull-left {
  float: left !important;
}

/* line 146, ../sass/_model.scss */
.hide {
  display: none !important;
}

/* line 149, ../sass/_model.scss */
.show {
  display: block !important;
}

/* line 152, ../sass/_model.scss */
.invisible {
  visibility: hidden;
}

/* line 155, ../sass/_model.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 162, ../sass/_model.scss */
.hidden {
  display: none !important;
}

/* line 165, ../sass/_model.scss */
.affix {
  position: fixed;
}

/* line 9, ../sass/addflow.scss */
.page {
  margin: auto;
  width: 956px;
}
/* line 13, ../sass/addflow.scss */
.page .left-page {
  display: inline-block;
  width: 212px;
  float: left;
  background-color: #fff;
  margin: 20px 0px 0px 0px;
}
/* line 20, ../sass/addflow.scss */
.page .left-page .left-title {
  width: 100%;
  height: 20px;
  margin-top: 30px;
}
/* line 25, ../sass/addflow.scss */
.page .left-page .left-title-text {
  margin-left: 5px;
  font-weight: bold;
  font-size: 1.8rem;
  color: #333;
}
/* line 32, ../sass/addflow.scss */
.page .right-page {
  display: inline-block;
  width: 731px;
  margin: 20px 0px 47px 0px;
}
/* line 37, ../sass/addflow.scss */
.page .right-page .flowblock {
  margin-left: 20px;
  background: white;
}
/* line 42, ../sass/addflow.scss */
.page .right-page .flowblock .flow-title {
  width: 100%;
  height: 16px;
  padding-top: 30px;
  margin-left: 10px;
}
/* line 48, ../sass/addflow.scss */
.page .right-page .flowblock .flow-title-text {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}
/* line 55, ../sass/addflow.scss */
.page .step_margin {
  margin-top: 50px;
}
/* line 62, ../sass/addflow.scss */
.page .newBtn {
  width: 194px;
  height: 46px;
  margin-top: 20px;
  background-color: gray;
  text-align: center;
  margin-left: 6px;
}
/* line 70, ../sass/addflow.scss */
.page .newBtn:hover {
  background-color: #fe5453;
}
/* line 73, ../sass/addflow.scss */
.page .newBtn-img {
  margin-top: 11px;
  cursor: pointer;
}
/* line 77, ../sass/addflow.scss */
.page .indentdiv {
  width: 100%;
  margin-top: 10px;
}
/* line 81, ../sass/addflow.scss */
.page .indentdiv .indentlist {
  border-spacing: 11px 26px;
  border-collapse: separate;
}
/* line 85, ../sass/addflow.scss */
.page .indentdiv .indent-ednt-btn {
  width: 15px;
  height: 15px;
}
/* line 89, ../sass/addflow.scss */
.page .indentdiv .indent-a {
  font-size: 1.6rem;
  color: black;
}
/* line 93, ../sass/addflow.scss */
.page .indentdiv .indent-selected {
  font-size: 1.6rem;
  color: red;
  border-left: solid 2px red;
}
/* line 98, ../sass/addflow.scss */
.page .indentdiv .indent-more {
  font-size: 1.2rem;
  color: #fb9b6a;
}
/* line 103, ../sass/addflow.scss */
.page .descriptiondiv {
  margin: 30px 0px 0px 0px;
  padding-left: 10px;
}
/* line 107, ../sass/addflow.scss */
.page .descriptiondiv .description-title-text {
  margin-top: 30px;
  color: #333;
  font-size: 1.6rem;
}
/* line 112, ../sass/addflow.scss */
.page .descriptiondiv .description-text {
  color: #666;
  font-size: 1.4rem;
}
/* line 117, ../sass/addflow.scss */
.page .descriptiondiv .mo-time {
  margin-top: 10px;
}
/* line 121, ../sass/addflow.scss */
.page .descriptiondiv .time-div {
  width: 83px;
  color: #666;
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
}
/* line 131, ../sass/addflow.scss */
.page .descriptiondiv .div-margin {
  margin-left: 50px;
}
/* line 136, ../sass/addflow.scss */
.page .descriptiondiv .div-margin-mid {
  margin-left: 45px;
}
/* line 142, ../sass/addflow.scss */
.page .descriptiondiv .div-margin-sm {
  margin-left: 25px;
}
/* line 151, ../sass/addflow.scss */
.page .descriptiondiv .time-div-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.6rem;
}
/* line 157, ../sass/addflow.scss */
.page .descriptiondiv .get-step {
  color: #fe5453;
}
/* line 162, ../sass/addflow.scss */
.page .flowbtndiv {
  margin: 40px auto;
  width: auto;
  height: 70px;
}
/* line 166, ../sass/addflow.scss */
.page .flowbtndiv .btn-margin {
  margin-left: 20px;
}
/* line 173, ../sass/addflow.scss */
.page .indentinfo {
  margin-left: 18px;
  background: #fff;
}
/* line 177, ../sass/addflow.scss */
.page .indentinfo .indentinfo-title {
  width: 100%;
  height: 20px;
  padding-top: 40px;
  padding-left: 10px;
}
/* line 184, ../sass/addflow.scss */
.page .indentinfo .indentinfo-title-text {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}
/* line 189, ../sass/addflow.scss */
.page .indentinfo .indentinfo-table-div {
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 40px;
}
/* line 194, ../sass/addflow.scss */
.page .indentinfo .indentinfo-table {
  border-spacing: 0px 38px;
  border-collapse: separate;
  margin: 0;
  padding: 0;
}
/* line 200, ../sass/addflow.scss */
.page .indentinfo .indent-title {
  width: 160px;
  display: inline-block;
  font-size: 1.6rem;
}
/* line 206, ../sass/addflow.scss */
.page .indentinfo .indent-area {
  width: 520px;
  height: 60px;
  color: #999;
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  line-height: 20px;
  border: 0px solid;
}
/* line 218, ../sass/addflow.scss */
.page .indentinfo .indent-content {
  width: 160px;
  color: #999;
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  @inlucde ellipsis;
}
/* line 227, ../sass/addflow.scss */
.page .indentinfo li {
  margin-top: 40px;
}
/* line 229, ../sass/addflow.scss */
.page .indentinfo li .content-color {
  color: #666;
}
/* line 235, ../sass/addflow.scss */
.page .indentinfo .li-margin {
  margin-top: 10px;
}
/* line 240, ../sass/addflow.scss */
.page .indentinfo tr {
  height: 25px;
}
/* line 244, ../sass/addflow.scss */
.page .indentfile {
  margin-left: 18px;
  background: #fff;
}
/* line 248, ../sass/addflow.scss */
.page .indentfile .indentfile-title {
  width: 100%;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
}
/* line 254, ../sass/addflow.scss */
.page .indentfile .indentfile-title-text {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  float: left;
  padding-left: 10px;
}
/* line 263, ../sass/addflow.scss */
.page .upload-file-btn {
  display: inline-block;
  position: relative;
  float: right;
  right: 15px;
}
/* line 269, ../sass/addflow.scss */
.page .change-file-btn {
  display: inline-block;
  position: relative;
  float: right;
  right: 15px;
}
/* line 276, ../sass/addflow.scss */
.page .file-table {
  padding-left: 10px;
  margin-top: 30px;
  border-spacing: 0px 20px;
  border-collapse: separate;
}
/* line 283, ../sass/addflow.scss */
.page .file-div {
  margin-top: 20px;
}
/* line 287, ../sass/addflow.scss */
.page .div-table {
  display: inline-block;
  height: 30px;
}
/* line 292, ../sass/addflow.scss */
.page .div-table-margin {
  margin-left: 100px;
}
/* line 296, ../sass/addflow.scss */
.page .file-icon {
  width: 50px;
}
/* line 300, ../sass/addflow.scss */
.page .img-icon {
  width: 25px;
  height: 35px;
}
/* line 305, ../sass/addflow.scss */
.page .file-name {
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 314, ../sass/addflow.scss */
.page .file-type {
  color: #999;
  font-size: 1.2rem;
}
/* line 319, ../sass/addflow.scss */
.page .file-user-name {
  width: 160px;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 329, ../sass/addflow.scss */
.page .file-time {
  width: 160px;
  color: #999;
  font-size: 1.2rem;
}
/* line 346, ../sass/addflow.scss */
.page .qrcode-td {
  width: 200px;
  height: 30px;
  margin-left: 30px;
}
/* line 351, ../sass/addflow.scss */
.page .qrcode-img {
  margin-left: 50px;
  width: 18px;
  height: 20px;
  display: inline-block;
}
/* line 362, ../sass/addflow.scss */
.page .file-download {
  width: 50px;
  height: 50px;
}
/* line 366, ../sass/addflow.scss */
.page .more-file {
  width: 100%;
  text-align: center;
}
/* line 370, ../sass/addflow.scss */
.page .more-file-btn {
  width: 65px;
  height: 28px;
  border-radius: 5px;
  background-color: #fff;
  border-color: #333;
  font-size: 12px;
  border-width: 1px;
}
/* line 380, ../sass/addflow.scss */
.page .message-div {
  margin-left: 18px;
  background: #fff;
  padding-top: 50px;
}
/* line 385, ../sass/addflow.scss */
.page .message-div .message-title {
  width: 100%;
  padding-left: 10px;
}
/* line 389, ../sass/addflow.scss */
.page .message-div .message-title .message-title-text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
/* line 395, ../sass/addflow.scss */
.page .message-div .message-table-div {
  margin-top: 30px;
}
/* line 398, ../sass/addflow.scss */
.page .message-div .message-table-div .message-table {
  border-spacing: 20px 20px;
  border-collapse: separate;
}
/* line 402, ../sass/addflow.scss */
.page .message-div .message-table-div .table-name {
  padding-top: 20px;
}
/* line 405, ../sass/addflow.scss */
.page .message-div .message-table-div .comment {
  width: 693px;
  height: 78px;
  margin-left: 10px;
}
/* line 410, ../sass/addflow.scss */
.page .message-div .message-table-div .comment-btn {
  margin-left: 628px;
  margin-top: 10px;
}
/* line 415, ../sass/addflow.scss */
.page .message-div .message-table-div .comment-btn:hover {
  border-color: #fe5453;
  color: #fe5453;
}
/* line 419, ../sass/addflow.scss */
.page .message-div .message-table-div .message-portrait {
  width: 90px;
}
/* line 422, ../sass/addflow.scss */
.page .message-div .message-table-div .message-portrait-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 30px;
}
/* line 428, ../sass/addflow.scss */
.page .message-div .message-table-div .msg-comm-name {
  font-weight: bold;
  font-size: 1.4rem;
  color: #333;
}
/* line 433, ../sass/addflow.scss */
.page .message-div .message-table-div .msg-comm-time {
  font-size: 1.2rem;
  color: #666;
  margin-left: 10px;
  padding-bottom: 50px;
}
/* line 439, ../sass/addflow.scss */
.page .message-div .message-table-div .msg-comm-content {
  font-size: 1.6rem;
  color: #666;
  padding-bottom: 20px;
}
/* line 444, ../sass/addflow.scss */
.page .message-div .message-table-div .more-comment {
  margin: auto auto;
  margin-left: 316px;
  margin-bottom: 30px;
}
/* line 452, ../sass/addflow.scss */
.page #addfile {
  display: none;
}

/* line 459, ../sass/addflow.scss */
.upload-window h1 {
  margin-left: 25%;
  font-size: 1.6rem;
  margin-top: 50px;
}
/* line 464, ../sass/addflow.scss */
.upload-window h2 {
  margin-left: 25%;
  font-size: 1.6rem;
  margin-top: 20px;
}
/* line 469, ../sass/addflow.scss */
.upload-window .upload-text {
  margin-left: 25%;
  margin-top: 10px;
  height: 40px;
  width: 160px;
  color: #999;
  border: 1px solid #999;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  border-radius: 5px;
}
/* line 481, ../sass/addflow.scss */
.upload-window .upload-btn {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  top: -1px;
}
/* line 489, ../sass/addflow.scss */
.upload-window .upload-btn:hover {
  background-color: #fe2220;
}
/* line 492, ../sass/addflow.scss */
.upload-window .input-select {
  margin-top: 10px;
  text-align: center;
  height: 40px;
  width: 266px;
  margin-left: 25%;
  color: #999;
  display: inline-block;
  line-height: 40px;
  border: 1px solid #999;
  border-radius: 5px;
}
/* line 504, ../sass/addflow.scss */
.upload-window .ul-option {
  visibility: hidden;
  text-align: center;
  line-height: 20px;
  width: 266px;
  font-size: 1.4rem;
  position: absolute;
  top: 215px;
  z-index: 999;
  border: 1px solid #999;
  left: 26.5%;
  background-color: #fff;
}
/* line 518, ../sass/addflow.scss */
.upload-window .ul-option li:hover {
  background-color: #666;
  color: #fff;
  cursor: pointer;
}
/* line 525, ../sass/addflow.scss */
.upload-window .select-cancle-btn {
  margin-left: 25%;
  display: inline-block;
  margin-top: 30px;
}
/* line 531, ../sass/addflow.scss */
.upload-window .select-true-btn {
  margin-top: 30px;
  margin-left: 60px;
  display: inline-block;
}
/* line 538, ../sass/addflow.scss */
.upload-window .upload-input {
  opacity: 0;
}

/* line 542, ../sass/addflow.scss */
.select-image {
  position: relative;
  height: 7px;
  width: 12px;
  left: -5%;
  z-index: 999;
}

/* line 549, ../sass/addflow.scss */
.red-btn {
  width: 105px;
  height: 48px;
  background-color: #fe5453;
  border-color: #fff;
  border-radius: 5px;
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 1.4rem;
}

/* line 561, ../sass/addflow.scss */
.red-small-btn {
  height: 40px;
  width: 96px;
  background-color: #fe5453;
  border-color: #fff;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1.4rem;
}

/* line 571, ../sass/addflow.scss */
.red-btn:hover {
  background-color: #fe2220;
}

/* line 574, ../sass/addflow.scss */
.red-small-btn:hover {
  background-color: #fe2220;
}

/* line 577, ../sass/addflow.scss */
.gray-btn {
  width: 105px;
  height: 48px;
  background-color: #999;
  border-color: #fff;
  border-radius: 5px;
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 1.4rem;
}

/* line 588, ../sass/addflow.scss */
.gray-btn:hover {
  background-color: #fb9b6a;
}

/* line 592, ../sass/addflow.scss */
.border-btn {
  width: 65px;
  height: 28px;
  border-radius: 5px;
  background-color: #fff;
  border-color: #333;
  font-size: 1.2rem;
  border-width: 1px;
}

/* line 603, ../sass/addflow.scss */
.border-btn:hover {
  border-color: #fe5453;
  color: #fe5453;
}

/* line 608, ../sass/addflow.scss */
.description-text {
  line-height: 20px;
}

/* line 612, ../sass/addflow.scss */
.more-file-btn {
  margin-top: 50px;
}

/* line 616, ../sass/addflow.scss */
.circle-img {
  position: absolute;
  z-index: 9999999999;
  top: 200px;
  width: 50px;
  height: 50px;
  left: 48%;
  background: no-repeat url("/resources/img/flow/circle.png") left top;
   background-color: red;
}

/* line 628, ../sass/addflow.scss */
.circle-div {
  position: absolute;
  z-index: 9999999998;
  width: 100000px;
  height: 100000px;
}

.nav .logo {
  position: relative;
  float: left;
  top: 14px;
  background: url(../../images/common/logo.svg) no-repeat;
  width: 92px;
  height: 30px;
  margin-right: 76px;
}