@import "common";
@import "compass/typography/text/ellipsis";
@import "normalize";
$green:#79d018;
$yellow:#f5a623;
$blue:#30CBFB;

html{
    overflow: hidden;
    background:white;
}

body {
    overflow: hidden;
    background: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html{
    overflow: hidden;
     background:white;
}

.proInfo {
    background: white;
    height: 100%;
}

.control {
    background: #f9fafb;
    height: 50px;
    position: relative;
    padding-top: 10px;
    .newProduct {
        font-size: 0px;
        border: 1px solid $gray-light;
        width: 120px;
        height: 30px;
        line-height: 28px;
        display: inline-block;
        vertical-align: top;
        padding-left: 16px;
        position: absolute;
        right: 180px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            border: 1px solid $red-base;
            background: $red-base;
            color: white;
            div {
                background-position: 0px -14px;
            }
            span {
                color: white;
            }
        }
        div {
            display: inline-block;
            vertical-align: top;
            background: url(/resources/images/provider/add.png);
            width: 14px;
            height: 14px;
            position: relative;
            top: 6px;
            margin-right: 10px;
        }
        span {
            display: inline-block;
            vertical-align: top;
            font-size: $font-size-base;
            color: $gray-dark;
        }
    }
    .moreUp {
        cursor: pointer;
        font-size: 0px;
        border: 1px solid $gray-light;
        width: 140px;
        height: 30px;
        line-height: 28px;
        display: inline-block;
        vertical-align: top;
        padding-left: 16px;
        position: absolute;
        right: 30px;
        border-radius: 4px;
        &:hover {
            border: 1px solid $red-base;
            background: $red-base;
            color: white;
            div {
                background-position: 0px -14px;
            }
            span {
                color: white;
            }
        }
        div {
            display: inline-block;
            vertical-align: top;
            background: url(/resources/images/provider/moreUp.png);
            width: 14px;
            height: 14px;
            position: relative;
            top: 6px;
            margin-right: 10px;
        }
        span {
            display: inline-block;
            vertical-align: top;
            font-size: $font-size-base;
            color: $gray-dark;
        }
    }
}

.noProduct {
    height: 636px;
    text-align: center;
    div {
        text-align: center;
        font-size: $font-size-base;
        color: $gray-light;
    }
}

.ProductContent {
    padding: 90px 30px 80px 30px;
    .productCard:last-child {
        border: none;
    }
    .productCard {
        position: relative;
        margin-left: 20px;
        border-bottom: 1px solid $e;
        padding-top: 11px;
        padding-bottom: 11px;
        .media-object {
            width: 200px;
            height: 115px;
            border-radius: 6px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
        }
        .playIcon {
            position: absolute;
            top: 50px;
            left: 80px;
            cursor: pointer;
            width: 40px;
        }
        .mid {
            display: inline-block;
            vertical-align: top;
        }
    }
}

.nC {
    .title {
        position: relative;
        top: 50px;
        z-index: 5;
    }
    .content {
        opacity: 0;
    }
}

.mid {
    margin-left: 18px;
    position: relative;
    .title {
        font-size: 0;
        line-height: $font-size-base;
        span {
            display: inline-block;
            vertical-align: top;
        }
        span:nth-child(1) {
            font-size: $font-size-base;
            color: $gray-light;
            margin-right: 8px;
            line-height: $font-size-base;
        }
        span:nth-child(2) {
            font-size: $font-size-sm;
            color: $gray-dark;
            width: 300px;
            @media screen and (min-width: 970px) {
                width: 250px !important;
            }
            @media screen and (min-width: 700px) and (max-width: 893px) {
                width: 130px !important;
            }

            @include ellipsis;
        }
    }
    .content {
        margin-top: 8px;
        div {
            display: inline-block;
            vertical-align: top;
            font-size: $font-size-sm;
            color: $red-base;
        }
        div:nth-child(2) {
            display: inline-block;
            margin-left: 8px;
            height: 64px;
            width: 100px;
            overflow: hidden;
            font-size: $font-size-sm;
            color: $red-base;
            line-height: 13px;
            @media screen and (min-width: 761px) and (max-width: 893px) {
                width: 210px;
            }
            @media screen and (min-width: 970px) {
                width: 310px;
            }
        }
    }
    .noneUse {
        li {
            left: -45px !important;
        }
    }
    ul {
        margin-top: 10px;
        width: 90px;
        height: 20px;
        border: 6px;
        overflow: hidden;
        font-size: 0;
        border-radius: 4px;
        position: relative;
        white-space: nowrap;
        margin-top: -5px;
        top: 13px;
        transition: all .4s linear .4s;
        -moz-transition: all .4s linear .4s;
        /* Firefox 4 */
        -webkit-transition: all .4s linear .4s;
        /* Safari 和 Chrome */
        -o-transition: all .4s linear .4s;
        border: 1px solid $border-line;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        li {
            width: 45px;
            height: 100%;
            font-size: 12px;
            color: white;
            text-align: center;
            line-height: 18px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            left: 0px;
            transition: all .1s linear .1s;
            -moz-transition: all .1s linear .1s;
            /* Firefox 4 */
            -webkit-transition: all .1s linear .1s;
            /* Safari 和 Chrome */
            -o-transition: all .1s linear .1s;
        }
        li:nth-child(1) {
            background: #33d8b5;
        }
        li:nth-child(3) {
            background: $red-base;
        }
    }
    .shareVideo {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 96px;
        left: 100px;
        div {
            display: inline-block;
            vertical-align: middle;
            color: $gray;
            font-size: $font-size-sm;
            margin-right: 10px;
            &:hover {
                background-position: 0px -20px;
            }
        }
        .wechat {
            background: url(/resources/images/provider/wechat.png);
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
        .qq {
            background: url(/resources/images/provider/qq.png);
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
        .zone {
            background: url(/resources/images/provider/qzone.png);
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
        .wb {
            background: url(/resources/images/provider/wb.png);
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }
}

.state {
    width: 60px;
    height: 20px;
    color: white;
    font-size: $font-size-sm;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 200px;
    top: 57px;
    border-radius: 4px;
}

.red {
    background: $red-base;
}

.green {
    background: $green;
}

.blue {
    background: $blue;
}

.yellow {
    background: $yellow;
}

.lastContent {
    position: absolute;
    right: 0px;
    top: 0px;
    .gStar {
        right: 130px !important;
    }
    .noDef {
        div:nth-child(1) {
            opacity: 0;
        }
        .star {
            background-opacity: -25px;
        }
    }
    .noMaster {
        font-size: $font-size-sm;
        color: $gray-dark;
        width: 88px;
        text-align: center;
        position: relative;
        right: 70px;
        top: 11px;
        cursor: pointer;
        &:hover {
            div:nth-child(1) {
                opacity: 1!important;
            }
        }
        div:nth-child(1) {
            background: url(/resources/images/provider/pao.png);
            width: 88px;
            height: 38px;
            text-align: center;
            line-height: 28px;
            opacity: 0;
            transition: all .4s linear .4s;
            -moz-transition: all .4s linear .4s;
            /* Firefox 4 */
            -webkit-transition: all .4s linear .4s;
            /* Safari 和 Chrome */
            -o-transition: all .4s linear .4s;
        }
        .star {
            margin-top: 10px;
            background: url(/resources/images/provider/star.png);
            width: 25px;
            height: 25px;
            margin: 0 auto;
            margin-top: 5px;
            background-position: 0px -25px;
        }
    }
    .setMaster {
        font-size: $font-size-sm;
        color: $gray-dark;
        width: 88px;
        text-align: center;
        position: relative;
        right: 70px;
        top: 11px;
        cursor: pointer;
        &:hover {
            div:nth-child(1) {
                opacity: 1!important;
            }
        }
        div:nth-child(1) {
            background: url(/resources/images/provider/pao.png);
            width: 88px;
            height: 38px;
            text-align: center;
            line-height: 28px;
            opacity: 0;
            transition: all .4s linear .4s;
            -moz-transition: all .4s linear .4s;
            /* Firefox 4 */
            -webkit-transition: all .4s linear .4s;
            /* Safari 和 Chrome */
            -o-transition: all .4s linear .4s;
        }
        .star {
            margin-top: 10px;
            background: url(/resources/images/provider/star.png);
            width: 25px;
            height: 25px;
            margin: 0 auto;
            margin-top: 5px;
        }
    }
    .edit {
        width: 70px;
        height: 36px;
        border-radius: 4px;
        font-size: 0;
        border: 1px solid $gray-light;
        cursor: pointer;
        line-height: 36px;
        text-align: center;
        position: absolute;
        right: 80px;
        top: 50px;
        background: transparent !important;
        &:hover {
            background: $red-base !important;
            border: 1px solid $red-base;
            div:nth-child(1) {
                background-position: 0px -14px;
            }
            div:nth-child(2) {
                color: white;
            }
        }
        div {
            display: inline-block;
            overflow: top;
        }
        div:nth-child(1) {
            background: url(/resources/images/provider/edit.png);
            background-size: 14px 28px;
            height: 14px;
            width: 14px;
            margin-right: 5px;
            position: relative;
            top: 2px;
        }
        div:nth-child(2) {
            font-size: $font-size-base;
            color: $gray-dark;
        }
    }
    .del {
        width: 70px;
        height: 36px;
        border-radius: 4px;
        font-size: 0;
        position: absolute;
        right: 0px;
        border: 1px solid $gray-light;
        cursor: pointer;
        line-height: 36px;
        text-align: center;
        right: 0px;
        top: 50px;
        background: transparent !important;
        color: $gray;
        &:hover {
            background: $gray-light !important;
            div:nth-child(1) {
                background-position: 0px -14px;
            }
            div:nth-child(2) {
                color: white !important;
            }
        }
        div {
            display: inline-block;
            overflow: top;
        }
        div:nth-child(1) {
            background: url(/resources/images/provider/del.png);
            background-size: 14px 28px;
            height: 14px;
            width: 14px;
            margin-right: 5px;
            position: relative;
            top: 2px;
        }
        div:nth-child(2) {
            font-size: $font-size-base;
            color: $gray-dark;
            background: transparent !important;
        }
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: $border-line;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $border-line;
    height: 6px;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb:vertical {
    //background: url(../../images/biao/scrollV.png) no-repeat;
    background: $gray-dark;
    border-radius: 90px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: $gray-dark;
    border-radius: 120px;
    // background: url(../../images/biao/scrollH.png) no-repeat right;
    // background-size:100%; 
}

.setSize {
    width: 600px !important;
    height: 338px !important;
}

.setOpi {
    width: 600px !important;
    height: 338px !important;
    margin-top: -169px !important;
    margin-left: -600px !important;
}

.setCloseSize {
    right: -310px !important;
}
