@import "common";
@import "buttons";
@import "video";
@import "model";
@import "compass/typography/text/ellipsis";

.nav .logo {
	position: relative;
	float: left;
	top: 14px;
	background: url(../../images/common/logo.svg) no-repeat;
	width: 92px;
	height: 30px;
	margin-right: 76px;
}
.state {
	display: none;
}
.page {
	width: 933px;
	margin: auto;

	.page-title {
		width: 100%;
		height: 40px;
		text-align: center;
		margin-top: 40px;

		.page-title-title {
			font-size: $font-size-lg;
			color: $gray-dark;
			font-weight: bold;
		}
	}
}

.infobody {
	width: 100%;

	.baseinfo {
		width: 100%;
	}
	.baseinfo-left {
		width: 175px;
		display: inline-block;
		height: 100%;
		float: left;

		.baseinfo-left-text-div {
			width: 70px;
			height: 20px;
			margin: 15px 38px 0px 75px;
		}
		.baseinfo-left-text {
			font-size: $font-size;
			font-weight: bold;
			color: $gray-dark;
			display: inline-block;
		}
	}
	.baseinfo-right {
		width: 100%;
		display: inline-block;
		height: 100%;




		.baseinfo-table {
			margin-top: 10px;
			height: 150px;
			width: 100%;
			background: $white;
			border-radius: 5px;
			border: 1px soild $white;

			.baseinfo-table-key {
				margin-top: 20px;
				width: 150px;
				font-size: $font-size-base;
				color: $gray;
				padding-left: 50px;
				margin-bottom: 20px;
			}
			.baseinfo-table-key-title {
				margin-top: 20px;
				width: 150px;
				font-size: $font-size-base;
				color: $gray-dark;
				padding-left: 50px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			.baseinfo-table-key-add {
				margin-top: 28px;
				font-size: $font-size-sm;
				color: $gray-light;
				margin-left: 45px;
				margin-bottom: 20px;
				width: 80px;
				text-align: center;
				text-decoration: underline;

				&:hover {
					cursor: pointer;
				}
			}
			.baseinfo-table-value {
				font-size: $font-size-base;
				color: $gray;
			}
			.tableinput-baseinfo-noborder {
				padding-left: 10px;
				width: 175px;
				height: 32px;
				margin-left: 50px;
			}
			.select-img-point {
				position: relative;
				top: -25px;
				margin-top: 10px;
				padding-left: 135px;
				z-index: 999;
			}
			.select-img-point-source {
				margin-top: 10px;
				padding-left: 135px;
				background: none;
			}
			.source-image {
				position: relative;
				height: 7px;
				width: 12px;
				left: -10%;
				z-index: 999;
			}
			.selectdiv {
				line-height: 10px;
			}
		}
	}
}
.textarea-baseinfo {
	border: solid 1px $gray-border;
	border-radius: 3px;
	line-height: 30px;
	position:relative;
	margin-left: 40px;
	top:-10px;
	width: 880px;
}
.indent-time {
	margin-top: 10px;
	border-radius: 5px;
	width: 100%;
	height: 220px;
	background-color: $white;
	border-radius: 10px;
	border: solid 1px $white;
	background: $white;

	.indent-time-left {
		padding-top: 70px;
		width: 175px;
		display: inline-block;
		height: 100%;
		float: left;
	}
	.indent-time-left-text-div {
		width: 80px;
		height: 20px;
		margin: 15px 38px 0px 75px;
	}
	.indent-time-left-text {
		font-size: $font-size;
		font-weight: bold;
		color: $gray-dark;
		display: inline-block;
	}
	.indent-time-right {
		width: 100%;
		display: inline-block;
		height: 100%;
	}
}
.right-border {
	display: inline-block;
	width: 100px;
}
.title-word {
	color: $gray;
	font-size: $font-size-base;
	font-weight: bold;
}
.content-word {
	color: $gray;
	font-size: $font-size-base;
}
.right-border-time-left {
	display: inline-block;
	width: 105px;
}
.right-border-time {
	display: inline-block;
	width: 145px;
	background-size: cover;
}
.right-border-time-end {
	display: inline-block;
	width: 50;
}
.img-size {
	height: 15px;
	width: 153px;
}
.img-size-end {
	height: 15px;
	width: 15px;
}
.right-border-margin {
	margin-left: 45px;
}
.indent-time-table {
	width: 100%;

	td {
		line-height: 50px;
		text-align: center;
	}
}
.indent-time-table-border-tr {
	margin-top: 60px;
	padding-left: 50px;
}
.indent-time-table-border-tr-time {
	margin-top: 20px;
	padding-left: 50px;
}
.indent-time-table-border-tr-time-error {
	margin-top: 10px;
	padding-left: 50px;
}
.tableinput {
	width: 110px;
	border: 0px;
	color: $gray;
	font-weight: bold;
	font-size: $font-size-base;
	border: solid 1px $gray-border;
	border-radius: 5px;
}
.tableinput-error {
	width: 100px;
	border: 0px;
	color: $red-base;
	font-size: $font-size-base;
}
.indent-btn-div {
	margin-top: 50px;
	width: 100%;
	height: 165px;
	text-align: center;
}
.indent-btn {
	width: 125px;
	height: 45px;
	border-color: $white;
	border-radius: 5px;
	border: none;
	color: $white;
	font-size: $font-size-base;
	background-color: $red-base;
}
.indent-btn-cancle {
	margin-left: 50px;
	width: 125px;
	height: 45px;
	border-color: $white;
	border-radius: 5px;
	border: none;
	color: $white;
	font-size: $font-size-base;
	background-color: $gray;
}
.indent-btn:hover {
	background-color: darken($red-base, 10%);
}
.indent-btn-cancle:hover {
	background-color: darken($gray, 10%);
}
.mleft {
	padding-left: 50px;
	display: inline-block;
}
.ul-option {
	text-align: center;
	line-height: 20px;
	width: 175px;
	font-size: $font-size-base;
	position: absolute;
	margin-top: -528px;
	z-index: 999;
	border: 1px solid $gray-border;
	margin-left: 200px;
	background-color: #fff;

	li {
		@include ellipsis;

		&:hover {
			background-color: $gray;
			color: #fff;
			cursor: pointer;
		}
	}
}
.ul-option-team {
	text-align: center;
	line-height: 20px;
	width: 175px;
	font-size: $font-size-base;
	position: absolute;
	z-index: 999;
	border: 1px solid $gray-border;
	background-color: #fff;
	margin-left: 200px;
	margin-top: -368px;

	li {
		@include ellipsis;

		&:hover {
			background-color: $gray;
			color: #fff;
			cursor: pointer;
		}
	}
}
.ul-option-source {
	text-align: center;
	line-height: 20px;
	width: 175px;
	font-size: $font-size-base;
	position: absolute;
	margin-top: -685px;
	z-index: 999;
	border: 1px solid $gray-border;
	margin-left: 425px;
	background-color: #fff;

	li {
		@include ellipsis;

		&:hover {
			background-color: $gray;
			color: #fff;
			cursor: pointer;
		}
	}
}







.tableinput-time {
	font-size: $font-size;
}
.divtable {
	margin-top: 20px;
	float: left;
}
.width-div {
	width: 150px;
}
.modal-body {
	height: 300px;
	width: 750px;
	background: $white;
	border-radius: 5px;

	.title-model {
		margin-top: 50px;
		margin-left: 40px;
		color: $gray;
		font-size: $font-size-base;
	}
	.user-info-title {
		padding-left: 5px;
		width: 175px;
		height: 39px;
		display: inline-block;
		margin-left: 50px;
		font-size: $font-size-base;
		color: $gray;
	}
	.user-info-div {
		margin-top: 20px;
	}
	.user-info-input-div {
		display: block;
	}
	.user-info-input {
		color: $gray-dark;
		font-size: $font-size-base;
		display: inline-block;
		border: solid 1px $gray-border;
		padding-left: 10px;
		border-radius: 5px;
		width: 175px;
		height: 30px;
		margin-left: 50px;
		color: $gray-light;
		font-size: $font-size-base;
	}
	.user-info-btn {
		width: 105px;
		height: 48px;
		background-color: $gray;
		border-color: $white;
		border-radius: 5px;
		display: inline-block;
		border: none;
		color: $white;
		font-size: $font-size-base;
		margin-top: 35px;
		margin-left: 250px;

		&:hover {
			background-color: $red-base;
		}
	}
	.user-info-btn-cancle {
		width: 105px;
		height: 48px;
		background-color: $gray;
		border-color: $white;
		border-radius: 5px;
		display: inline-block;
		border: none;
		color: $white;
		font-size: $font-size-base;
		margin-top: 35px;
		margin-left: 20px;

		&:hover {
			background-color: $red-base;
		}
	}
}
.price-inline {
	display: inline-block;
}
.price-input {
	border: solid 1px $gray-border;
	padding-left: 10px;
	border-radius: 5px;
	width: 80px;
	height: 30px;
	margin-left: 50px;
	color: $gray-dark;
	font-size: $font-size-base;
}
.price-input-margin {
	margin-left: 0px;
}
.price-hr {
	position: relative;
	top: 8px;
	width: 30px;
	color: $gray-dark;
}
.priec-input-word {
	border: solid 0px $gray-border;
	width: 30px;
	padding-left: 5px;
	color: $gray;
}
.radio-price {
	margin-left: 30px;
	height: 15px;
	width: 15px;
	padding-top: 10px;
	float: left;
	display: inline-block;
	position: relative;
	top: 1px;
}
.final-price-div {
	width: 500px;
	float: left;
}
.finishInput {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
}
.checkword {
	height: 30px;
	line-height: 26px;
}
.border-red {
	border: solid 1px $red-base;
}
.firstinput {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
}
.lastinput {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
}
.mright {
	display: inline-block;
	height: 30px;
}
.tableinput-baseinfo {
	padding-left: 10px;
	border-radius: 5px;
	width: 175px;
	height: 32px;
	margin-left: 50px;
	color: $gray-dark;
	font-size: $font-size-base;
	outline: none;
}
.info-input {
	@include ellipsis;
	border: solid 1px $gray-border;
	width: 175px;
	height: 30px;
	margin-left: -10px;
	color: $gray;
	font-size: $font-size-base;
	border-radius: 5px;
	border: solid 1px $gray-border;
	outline: none;
}
.border-gray {
	border: solid 1px $gray-border;
}
.error-label {
	position: absolute;
	color: $red-base;
	font-size: $font-size-base;
	padding-left: 60px;
	padding-top: 10px;
}
.username-error-label {
	position: absolute;
	color: $red-base;
	font-size: $font-size-base;
	padding-top: 10px;
}
.final-price-label {
	position: relative;
	color: #fe5453;
	font-size: 1.4rem;
	left: -190px;
	top: 30px;
}

.final-price-left-label{
	position: relative;
	color: #fe5453;
	font-size: 1.4rem;
	left: 655px;
	top: 10px;
}



.mark-icon {
	width: 100px;
	height: 100px;
	background: url(../../images/common/mark.jpg) no-repeat;
	background-size: cover;
}

.midinput{
    height:7px;
    border:none;
	border-top:3px solid $gray-light;
	width:35px;
	position:relative;
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
    
}

.finishdiv{
	position:relative;
	left:-55px;
}

.pospricediv{
	position:relative;
	left:-5px;
}

.wordMargin{
	margin-right:5px;
}

