@import "common";
@import "buttons";
@import "video";
@import "model";
@import "compass/typography/text/ellipsis";
.page {
    margin: auto;
    width: $width-min;
    top: 75px;


    @media screen and (min-width:1500px) {
       width: $width-middle;
    }


    //左侧树形
    .left-page {
        display: inline-block;
        width: 212px;
            @media screen and (min-width:1500px) {
       width: 300px;
    }
        float: left;
        background-color: $white;
        .left-title {
            width: 100%;
            height: 50px;
            margin-top: 30px;
            
        }
        .left-title-text {
             @media screen and (min-width:1500px) {
        margin-left: 30px;
    }
            margin-left: 14px;
            font-weight: bold;
            font-size: $font-size;
            color: $gray-dark;
            height: 20px;
            display: block;
            margin-top: 25px;
        }
    }

    .left-title-text-top {
        margin-left: 5px;
        font-size: $font-size;
        color: $gray-dark;
        height: 20px;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
    }
    .left-title-images {
        margin-left: 14px;
          @media screen and (min-width:1500px) {
        margin-left: 30px;
    }
        height: 20px;
        width: 20px;
        position: relative;
        top: 3px;
        display: inline-block;
    }

//左侧树形菜单文字
  .indentdiv {
     @media screen and (min-width:1500px) {
       position: relative;
       left: 15px;
    }
        width: 100%;
        margin-top: 5px;
        margin-bottom: 25px;
        .indent-ednt-btn {
            width: 15px;
            height: 15px;
        }
        .indent-a {
            font-size: $font-size-base;
            color: $gray;
            text-decoration: none;
        }
        .indent-a:hover {
            color: $gray-dark;
            font-size: $font-size-base;
        }
        .indent-selected {
            font-size: $font-size-base;
            color: #fa7872;
            text-decoration: none;
            position: relative;
            left: -2px;
            &:hover {
                color: #fa7872;
            }
        }
        .indent-more {
            font-size: $font-size;
            color: $gray-dark;
            cursor: pointer;
            padding-left: 14px;
        }
        td {
            padding-top: 5px;
            padding-left: 7px;
        }
    }
    //end




    //右侧模块
    .right-page {
        display: inline-block;
        width: 731px;
        position: relative;
        left: 10px;
           @media screen and (min-width:1500px) {
             width: 800px;
    }
       


            .right-div {
        position: relative;
        right: 25px;
        float: right;
    }


        .flowblock {
            background: white;
            .flow-title {
                width: 100%;
                height: 16px;
                padding-top: 30px;
                margin-left: 10px;
            }
        }
    }


    .flow-title-text {
        font-size: $font-size;
        font-weight: bold;
        color: $gray-dark;
        position: relative;
        left: 20px;
        top: 55px;
    }
    .step_margin {
        margin-top: 74px;
        padding-left: 20px;

          @media screen and (min-width:1500px) {
              padding-left: 70px;
              }
    }
  
  //流程时间模块
    .descriptiondiv {
        margin: 30px 0px 0px 0px;
        padding-left: 10px;
          @media screen and (min-width:1500px) {
  padding-left: 59px;
    }
        .description-title-text {
            margin-top: 30px;
            margin-bottom: 20px;
            color: $gray-dark;
            font-size: $font-size;
            font-weight: bold;
        }
        .description-text {
            color: $gray;
            font-size: $font-size-base;
        }
        .mo-time {
            margin-top: 10px;
        }
        .time-div-title {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: $font-size;
            color: $gray;
            color: $gray-dark;
        }
        .get-step {
            color: $red-base;
        }
    }
    //end

    .flowbtndiv {
        margin: 0 auto;
        width: auto;
        height: 88px;
        .btn-margin {
            margin-left: 20px;
        }
    }

    //项目信息
    .indentinfo {
        background: $white;
        position: relative;
        top: 10px;
        .indentinfo-title {
            width: 100%;
            height: 20px;
            padding-top: 40px;
            padding-left: 20px;
        }
        .indentinfo-title-text {
            font-size: $font-size;
            font-weight: bold;
            color: $gray-dark;
        }
        .indentinfo-table-div {
            padding-top: 32px;
            padding-left: 20px;
            padding-bottom: 40px;
        }
        .indentinfo-table {
            border-spacing: 0px 38px;
            border-collapse: separate;
            margin: 0;
            padding: 0;
        }
        .indent-title {
            width: 160px;
            display: inline-block;
            font-size: $font-size;
            font-weight: 500;
            color: $gray-dark;
            vertical-align: top;
        }
        .indent-area {
            height: 60px;
            color: $gray;
            display: inline-block;
            font-size: $font-size-base;
            line-height: 20px;
            border: 0px solid;
        }
        .indent-content-area {
            width: 450px;
            color: $gray;
            display: inline-block;
            font-size: $font-size-base;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
            line-height: 15px;
        }
        .indent-content {
            width: 150px;
            color: $gray;
            display: inline-block;
            font-size: $font-size-base;
            line-height: $font-size-base;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
              @media screen and (min-width:1500px) {
                   margin-left:35px;
    }
        }
        .indent-content-mid {
            width: 220px;
            color: $gray;
            display: inline-block;
            font-size: $font-size-base;
            line-height: $font-size-base;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            left: 50px;
        }
        .indent-margin {
            width: 100px;
            margin-left: 50px;
        }
        li {
            margin-top: 40px;
            .content-color {
                color: $gray-dark;
            }
        }
        .li-margin {
            margin-top: 10px;
        }
        tr {
            height: 25px;
        }
    }
      .change-file-btn {
        display: inline-block;
        position: relative;
        float: right;
        right: 15px;
    }
    //end


    //项目文件模块
    .indentfile {
        position: relative;
        top: 10px;
        background: $white;
        .indentfile-title {
            width: 100%;
            margin-top: 10px;
            padding-top: 40px;
            padding-bottom: 30px;
        }
        .indentfile-title-text {
            display: inline-block;
            font-size: $font-size;
            font-weight: bold;
            color: $gray-dark;
            float: left;
            padding-left: 20px;
        }
    }

    #addfile {
        display: none;
    }

    .upload-file-btn {
        display: inline-block;
        position: relative;
        float: right;
        right: 15px;
    }
  
    .file-table {
        padding-left: 10px;
        margin-top: 30px;
        border-spacing: 0px 20px;
        border-collapse: separate;
    }
    .file-div {
        margin-top: 20px;
    }
    .div-table {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
    }


    .div-table-file-type {
        display: inline-block;
        height: 30px;
        width: 220px;
        vertical-align: middle;
        
    }
    .div-table-margin {
        margin-left: 50px;
    }
    .file-icon {
        width: 50px;
    }
    .img-icon {
        width: 25px;
        height: 35px;
    }
    .file-name {
        width: 100px;
        height: 30px;
        line-height: 30px;
        color: $gray;
        font-size: $font-size-base;
        @include ellipsis;
        display: inline-block;
          @media screen and (min-width:1500px) {
         width: 115px;
    }

    }
    .file-type {
        margin-left: 5px;
        color: $gray-light;
        font-size: $font-size-sm;
        display: inline-block;
        border: 1px solid $gray-light;
        height: 20px;
        border-radius: 5px;
        line-height: 18px;
        padding-left: 3px;
        padding-right: 3px;
        text-align: center;
        @include ellipsis;
        display: inline-block;
        position: relative;
        top: -3px;
          @media screen and (min-width:1500px) {
          margin-left: 20px;
    }
         

    }
    .file-user-name {
        width: 60px;
        height: 30px;
        line-height: 30px;
        color: $gray;
        font-size: $font-size-sm;
        @include ellipsis;
        text-align: right;
        display: inline-block;
        font-weight: bold;
        vertical-align: middle;
         @media screen and (min-width:1500px) {
         width: 120px;
    }
    }
    .file-time {
        padding-left: 5px;
        width: 160px;
        heiht: 30px;
        color: $gray-light;
        font-size: $font-size-sm;
        display: inline-block;
        line-height: 25px;
        text-align: center;
        vertical-align: middle;
    }
    .file-name-vertical {
        line-height: 30px;
        vertical-align: middle;
    }
    .qrcode-td {
        width: 85px;
        height: 30px;
        margin-left: 80px;
        line-height: 30px;
        vertical-align: middle;
    }
    .qrcode-img {
        margin-left: 15px;
        width: 18px;
        height: 20px;
        display: inline-block;
    }
    .file-download {
        width: 50px;
        height: 50px;
    }
    .more-file {
        width: 100%;
        text-align: center;
    }
    //end

  //留言板
    .message-div {
        background: $white;
        position: relative;
        top: 20px;
        margin-bottom: 30px;
        .message-title {
            width: 100%;
            padding-left: 20px;
            padding-top: 50px;
            .message-title-text {
                font-size: $font-size;
                font-weight: bold;
                color: $gray-dark;
            }
        }
        .message-table-div {
            position: relative;
            top: 30px;
            margin-bottom: 100px;
            background: #fff;
            .message-table {
                border-spacing: 20px 20px;
                border-collapse: separate;
            }
            .table-name {
                padding-top: 20px;
            }
            .comment {
                width: 693px;
                height: 78px;
                position: relative;
                left: 20px;
                padding-left: 5px;
                padding-top: 5px;
                  @media screen and (min-width:1500px) {
                    width: 755px;
    }
            }
            .comment-btn {
                position: relative;
                left: 648px;
                top: 10px;
            }
            .message-portrait {
                width: 90px;
            }
            .message-portrait-img {
                width: 50px;
                height: 50px;
                border-radius: 25px;
                margin-bottom: 30px;
            }
            .msg-comm-name {
                font-weight: bold;
                font-size: $font-size-base;
                color: $gray-dark;
            }
            .msg-comm-time {
                font-size: $font-size-sm;
                color: $gray;
                position: relative;
                left: 10px;
            }
            .msg-comm-content {
                font-size: $font-size;
                color: $gray;
                padding-bottom: 20px;
            }
            .more-comment {
                margin: auto auto;
                position: relative;
                top:-17px;
                margin-bottom: 30px;
            }
        }
    }
    //end

   
}


//弹出框上传文件
.upload-window {
    h1 {
        position: relative;
        left: 25%;
        font-size: $font-size-base;
    }
    h2 {
        position: relative;
        left: 25%;
        font-size: $font-size;
    }
    .upload-text {
        position: relative;
        left: 141px;
        top: 8px;
        height: 35px;
        width: 160px;
        color: $gray-light;
        border: 1px solid $gray-light;
        text-align: center;
        line-height: 35px;
        display: inline-block;
        border-radius: 5px;
        font-size: $font-size-base;
        font-weight: 100;
    }
    .upload-btn {
        display: inline-block;
        position: relative;
        top: 21px;
        left: 140px;
    }
    .upload-btn:hover {
        //background-color: darken($red-base, 10%);
    }
    .input-select {
        position: relative;
        top: 10px;
        text-align: center;
        height: 35px;
        width: 266px;
        left: 25%;
        color: $gray-light;
        display: inline-block;
        line-height: 35px;
        border: 1px solid $gray-light;
        border-radius: 5px;
        font-size: $font-size-base;
    }
    .ul-option {
        visibility: hidden;
        text-align: center;
        line-height: 20px;
        width: 266px;
        font-size: $font-size-base;
        position: absolute;
        top: 227px;
        z-index: 999;
        border: 1px solid $gray-light;
        left: 26.5%;
        background-color: #fff;
        li {
            &:hover {
                background-color: $gray;
                color: #fff;
                cursor: pointer;
            }
        }
    }
    .select-cancle-btn {
        position: relative;
        left: 195px;
        display: inline-block;
    }
    .select-true-btn {
        position: relative;
        left: 141px;
        display: inline-block;
    }
    .upload-input {
        opacity: 0;
    }
}

.select-image {
    position: relative;
    height: 7px;
    width: 12px;
    left: 95px;
    top: 8px;
    z-index: 999;
}

.red-btn {
    width: 105px;
    height: 35px;
    background-color: $red-base;
    border-color: $white;
    border-radius: 5px;
    display: inline-block;
    border: none;
    color: $white;
    font-size: $font-size-base;
}

.no-red-btn {
    width: 105px;
    height: 35px;
    background-color: $red-base;
    border-color: $white;
    border-radius: 5px;
    display: inline-block;
    border: none;
    color: $white;
    font-size: $font-size-base;
    cursor:pointer;
}

.red-small-btn {
    height: 35px;
    width: 96px;
    background-color: $red-base;
    border-color: $white;
    border-radius: 5px;
    border: none;
    color: $white;
    font-size: $font-size-base;
    font-weight: 100;
}

.red-btn:hover {
    background-color: darken($red-base, 10%);
}

.red-small-btn:hover {
    background-color: darken($red-base, 10%);
}
//自定义浏览
.webuploader-pick{
	height: 35px;
	width: 96px;
	padding: 0;
	background: $red-base;
	line-height: 35px;
	color:white;
	text-align: center;
	font-size: $font-size-base;


}

.webuploader-pick-hover{
	background-color: darken($red-base, 10%);
	padding: 0;
}

.gray-btn {
    width: 105px;
    height: 35px;
    background-color: $gray-light;
    border-color: $white;
    border-radius: 5px;
    display: inline-block;
    border: none;
    color: $white;
    font-size: $font-size-base;
}

.gray-btn-no {
    width: 105px;
    height: 35px;
    background-color: $gray-light;
    border-color: $white;
    border-radius: 5px;
    display: inline-block;
    border: none;
    color: $white;
    font-size: $font-size-base;
    cursor:not-allowed;
}




.gray-btn:hover {
    background-color: $gold-yellow;
}

.border-btn {
    width: 65px;
    height: 28px;
    border-radius: 5px;
    font-size: $font-size-sm;
    color: $gray-light;
    background: none;
    border: 1px solid $gray-light;
    outline: none;
}

.border-btn:hover {
    border-color: $gray;
    color: $gray;
    border-width: 1px;
}

.description-text {
    line-height: 20px;
    width: 690px;
}


//end



//无项目提示框
.circle-img {
    position: absolute;
    z-index: 999;
    top: 200px;
    width: 50px;
    height: 50px;
    left: 48%;
    background: no-repeat url(../images/circle.png) left top;
}

.circle-div {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
}

.sure-margin {
    margin-top: 100px;
    margin-left: 140px;
}

.cancle-margin {
    margin-top: 100px;
    margin-left: 42px;
}

.nav .logo {
    position: relative;
    float: left;
    top: 14px;
    background: url(../../images/common/logo.svg) no-repeat;
    width: 92px;
    height: 30px;
    margin-right: 76px;
}

.check-step {
    width: 400px;
    color: $gray;
    font-size: $font-size-lg;
    position: absolute;
    top: 50px;
    left: 100px;
    text-align: center;
    line-height: 20px;
    color: $gray-dark;
}
.check-step-load {
    width: 400px;
  
    font-size: $font-size-lg;
    position: absolute;
    top: 50px;
    left: 100px;
    text-align: center;
    line-height: 20px;
    color: $gray-dark;
}

.checkstep {
    height: 200px;
}

.nofile {
    margin-left: 240px;
    margin-bottom: 30px;
}

.nomessage {
    margin-left: 240px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.border-red {
    border-color: $red-base;
}

.word-title {
    background: $red-base;
    color: $white;
    font-size: $font-size-base;
    border-red: 5px;
    border-radius: 5px;
    text-align: center;
}

.word-size {
    margin-top: 15px;
    color: $gray;
    font-size: $font-size-base;
    text-decoration: none;
}

.word-size:hover {
    text-decoration: none;
}

.canclemodal {
    position: relative;
    left: 540px;
}

.canclemodal:hover {
    cursor: pointer;
}

.canclestep {
    position: relative;
    left: 550px;
    top: -100px;
    cursor: pointer;
}

.div-download {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    height: 20px;
    vertical-align: middle;
}

.indentfile {
    background: #fff;
    padding-bottom: 30px;
}

.div-download img {
    height: 18px;
}

.more-file-btn {
    top:15px !important;
}

.noproject {
    width: 950px;
    @include media_screen_height(370px, 640px, 910px);
    background: $white;
    margin: 0 auto;
    margin-bottom: 40px;
    .no-poject-div {
        width: 200px;
        vertical-align: middle;
        margin: 0 auto;
        ul {
            padding-top: 90px;
        }
        li {
            margin: 20px auto;
            list-style-type: none;
            text-align: center;
        }
    }
}

// .mark-icon {
//     width: 100px;
//     height: 100px;
//     background: url(../../images/common/mark.jpg) no-repeat;
//     background-size: cover;
// }

.indentdiv-title {
    font-size: $font-size;
    color: $gray-light;
    margin-left: 15px;
}

.drop-content {
    background-color: #fff;
    width: 160px;
    position: absolute;
    left: -170px;
    font-size: 14px;
    line-height: 24px;
}

.drop-content a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
//end

//旋转动画
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
//end



.modal-body dl {
    text-align: left;
}

.projectliststyle {
    line-height: 30px;
    margin-left: 10x;
}

img {
    cursor: pointer;
}

.checkstep {
    height: 200px;
}

//下一步 上一步
.check-message {
    margin: auto;
    display: block;
    text-align: center;
    font-size: $font-size;
    position: relative;
    top: 40px;
    font-color: $gray;
}

.sure-message {
    display: block;
    margin: auto;
    position: relative;
    top: 80px;
}

//流程时间进度模块
.time-div {
    color: $gray;
    font-size: $font-size-base;
    display: inline-block;
    text-align: center;
    .hovertime {
        margin: 0 auto;
        width: 100px;
        height: 50px;
        border: solid 1px #fff;
        @include box-shadow(0px 1px 3px lighten(#999, 20%));
        dt {
            padding-top: 5px;
        }
    }
    li {
        line-height: 20px;
    }
    img {
        height: 10px;
    }
}

.firstline {
    width: 140px;
}

.secondline {
    width: 150px;
}

.thirdline {
    width: 120px;
}

.fourline {
    width: 137px;
}

.fiveline {
    width: 120px;
}

.div-margin-sm {
    position: relative;
    left: 5px;
}

.div-margin-mid {
    position: relative;
    left: -4px;
}

.div-margin-large {
    position: relative;
    left: -8px;
}

.div-margin-xl {
    position: relative;
    left: -12px;
}

.li-top {
    position: relative;
    top: -4px;
}

.timeword {
    font-size: $font-size-base;
    color: $gray;
}

.stepword {
    font-size: $font-size-sm;
    color: $gray-light;
}

.timeout {
    color: $red-base;
}

.doing {
    color: $gold-yellow;
}


.opacity-li {
    opacity: 0;
}

//end


//图标旋转
.circle-180 {
    transform: rotate(180deg);
}

.circle-360 {
    transform: rotate(360deg);
}

.page-visible {
    visibility: hidden;
}

.set-width {
    width: 700px;
    position: relative;
    left: 10%;
}

//树形
.menu ul li {
    display: block;
    width: 270px;
    padding-top: 2px;
    margin-bottom: 5px;
    list-style: none;
    overflow: visible;
}

.menu ul li a {
    display: block;
    height: 40px;
    width: 170px;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 0px;
    font-size: $font-size;
    color: $gray-dark;
    outline: none;
      @media screen and (min-width:1500px) {
 width: 210px;
    }
}

.menu ul li .active {
    background: url(../../images/flow/ias_on.png) top right no-repeat;
}

.menu ul li .inactive {
    background: url(../../images/flow/ias_off.png) top right no-repeat;
}

.menu ul li ul {
    display: none;
    margin-top: -4px;
    margin-bottom: 10px;
}

.menu ul li ul li ul {
    margin-bottom: 5px;
    position: relative;
    left: -20px;
}

.menu ul li ul li {
    display: block;
    background: none;
    font-size: $font-size-sm;
    list-style: circle;
    color: #8f9d4c;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    margin-left: 34px;
}

.menu ul li ul li a {
    background: none;
    font-size: $font-size;
    height: 30px;
    color: $gray-dark;
    padding-left: 0px;
    underline: none;
    padding-left: 10px;
}

.menu {
    a {
        text-decoration: none;
    }
    .title-content {
        color: $gray-dark;
        font-size: $font-size-base;
        width: 150px;
        @include ellipsis;

        @media screen and (min-width:1500px) {
        width: 180px;
    }
    }
    #doingProject,#historyProject {
        position: relative;
        left: 35px;
        top:20px;
        font-size:$font-size;
        color: black;
    }


    #historyProjectId{
        position: relative;
        top:15px;
    }

    #myProject{
        margin-top:30px;
    }

    .border-select {
        background: #fa7872;
        width: 2px;
        height: 15px;
        position: relative;
        top: 3px;
        right: 10px;
    }
}

#menuId{
        height: 1200px;
        width: 205px;
        overflow-y: auto;
        overflow-x: hidden;
          @media screen and (min-width:1500px) {
            width: 250px;
    }

}

//end
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px $gray-dark;
    background-color:$gray;
}

//支付模块

.payInfo{
 width: 100%;
 height: 150px;
 background: $white;


 .userContent{
   height:100px;
   width:180px;
   margin:0 auto;

   img{
       position:relative;
       top:-10px;
       height: 40px;
         }
 }

 #userContent{
    div{
        margin-top:5px;
    }

    span{
        color:$red-base;
    }

    #openHistory{
        position: relative;
        left:80px;
        top:2px;
        color:$gold-yellow;
        font-size: $font-size-sm;
        &:hover{
            cursor: pointer;
        }
    }

    
            
 }



   .payInfoTop{
    width: 80%;
    height: 80px;
    margin: 0 auto;
          .imgInfo{
             margin-top:40px;
             position: relative;
             top:-2px;
             cursor: pointer;
          }

          .imgLeft{
            left:-20px;
          }

          .imgRight{
            left:50px;
          }
   }
  
   .pay-title{
            width: 100px;
            height: 20px;
            padding-top: 40px;
            padding-left: 20px;
            font-size:$font-size;
            font-weight: bold;
        }

         .pay-top-title{
            width: 100px;
            height: 20px;
            margin-top: 40px;
            margin--left: 20px;
            font-size:$font-size;
            font-weight: bold;
            color:$gray-dark;
        }



   .pay-way{
    width:100%;
    height:20px;
    position: relative;
    top:15px;
   }

   .payBtnOnline{
       float: left;
       position: relative;
       left:30%;
   }

   .payBtnOutline{
       float: right;
       position: relative;
       right:30%;
   } 

  .top-line{
    position: relative;
    left:30%;
    color:$gray;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
  }


.pay-btn {
    width: 106px;
    height: 35px;
    border-radius: 5px;
    font-size: $font-size-base;
    color: $gray;
    background: none;
    border: 1px solid $gray-light;
    outline: none;
    letter-spacing: 1px;


}

 

.pay-click-btn {
     outline: none;
    width: 106px;
    height: 35px;
    border-radius: 5px;
    font-size: $font-size-base;
    color: $gray-light;
    background: none;
    color:$red-base;
    border: 1px solid $red-base;
    letter-spacing: 1px;
}

.payBigWord{
    color:$gray;
    font-size: $font-size-base;
}

.paySmallWord{
     color:$gray;
    font-size: $font-size-sm;
}


.pay-red-btn {
    width: 80px;
    height: 35px;
    background-color: #fe5453;
    border-color: #fff;
    border-radius: 5px;
    border: none;
    margin: 0px auto;
    text-align: center;
    line-height: 35px;
    color: $white;
    font-size: $font-size-base;

    &:hover{
        cursor: pointer;
    }

   
}

 
 .payLeft{
    position: relative;
    left:150px;
 }

  .payLeftLink{
    position: relative;
    left:50px;
 }

 .payRight{
    position: relative;
    left:50px;

 }
.pay-bottom{
    width:100%;
    margin-top: 30px;
    padding-bottom: 30px;
}


 .pay-input{
    height:30px;
    width:150px;
    margin-top:10px;
    margin-bottom:10px;
    line-height: 30px;
     @include ellipsis;
 } 

 .pay-error{
      margin-top:5px;
      margin-bottom: 10px;
      font-size: $font-size-sm;
      color:$red-base;
 }

  .pay-error-price{
      margin-top:-10px;
      margin-bottom: 10px;
      font-size: $font-size-sm;
      color:$red-base;
 }

 .order{
    width:200px;
    @media screen and (min-width:1500px) {
    width:250px;
    }
    @include ellipsis;
 }

 .createLink{
    position: relative;
    left:-100px;
margin-top: 80px;
 }

 .getLink{
  width: 500px;
  margin-top:10px;
 }
 .getLinkInput{
    color: $gray;
    font-size: $font-size;
 }

 .getLinkBtn{
   color:$white;
    font-size: $font-size-base;
    background: $red-base;
    border:none;

   
 }

  .hand{
        cursor: pointer;
    }
  
}

.payTop{
    position: relative;
    margin-top: 10px;
}

.payBtnPos{
    position: relative;
    top:-10px;
    left:544px;
    @media screen and (min-width:1500px) {
    left: 611px;
    }
}

.payBtnPosClick{
    width: 65px;
    height: 28px;
    border-radius: 5px;
    font-size: $font-size-sm;
    color: $red-base;
    background: none;
    border: 1px solid $red-base;
    outline: none;

    &:hover{
          color: $red-base;
    background: none;
    border: 1px solid $red-base;
    }
}

.payInfoheight{
    height:auto;
    border-radius: 10px;
}

.payInline{
    display: inline-block;
    vertical-align: top;
}

 #payHistoryList{
    display: none;
    padding-top:10px;
}


.payCardZoom{
 width: 100%;
 height: auto;

}


.payCardHeight{

    height:auto;
    padding-bottom:50px;
}

.payCard{
 width: 80%;
 height: auto;
 margin: 0 auto;
 line-height: 30px;
 border: 1px solid #ccc;
 margin-bottom:10px;


    .payCard-top{
          background: $gray;
          width: 100%;
          height: 40px;
          line-height: 40px;
    }


       .backgroundFinish{
            background: url('/resources/images/flow/finish.png') center center no-repeat;
          } 

       .backgroundTimeOut{
            background: url('/resources/images/flow/timeout.png') center center no-repeat;
          }

        .backgroundFail{
            background: url('/resources/images/flow/fail.png') center center no-repeat;
          } 
        .backgroundBank{
            background: url('/resources/images/flow/bank.png') center center no-repeat;
          }

        .backgroundWait{
            background: url('/resources/images/flow/wating.png') center center no-repeat;
          }      


    
    .cardLeftStatue{
        width:80%;    
        color:$white;
        font-size: $font-size-base;
        position: relative;
        left: 50px;

    }

    .cardRightStatue{
        width:10%;  

         img{
            position: relative;
            top:5px;
            left:70px;
         } 
    }

}

 .payCard .payCard-info{
          width:100%;
          height:auto;
          padding-bottom: 20px;


          .infoTitle{
             margin-top: 10px;
             font-size: $font-size-lg;
             font-weight: bold;
             color:$gray-dark;
             width:150px;
             @include ellipsis;
          }

          .info-btn{
                height: 30px;
                border-radius: 0px;
                position: relative;
                top: 50px;
                text-align: center;
          }

               .info-close{
                height: 30px;
                border-radius: 0px;
                position: relative;
                top: 87px;
                text-align: center;
          }

          .info-left{
             margin-left:50px;
             display: inline-block;
             width:150px;
             vertical-align: top;  
             height:auto;
             margin-top: 20px;          

          }

            .info-right{
             height:auto;
             display: inline-block;
             width:auto;
             margin-top: 20px;  
   

          }

          .rightUl{
                position: relative;
                left:50px;

          }
          
          ul{
            vertical-align: top; 

          }

          li{
           
            margin-top:10px;

              .contentTitle{
               
               font-size: $font-size-base;
               font-weight: bold;
               color:$gray-dark;

              }
              .contentWord{
               
               font-size: $font-size-base;
               color:$gray;

              }

          }



    }

    .smallWord{
    color: $gray;
    font-size: $font-size-sm;
    }

    .colorGray{
        color:$gray;
    }

    .createTitle{
        position: relative;
        top:-7px;
    }


    //分享弹出框

     .getShareLink{
  width: 80%;
  height:auto;
  margin-bottom:30px;
  margin: 30px auto;
  padding-top: 10px;

 }
 .getShareLinkInput{
    color: $gray;
    font-size: $font-size;
 }

 .getShareLinkBtn{
   color:$white;
    font-size: $font-size-base;
    background: $red-base;
    border:none;

   
 }

 .share-list {
    position: relative;
    display: inline-block;
     margin: 0px auto;
}

.share-list dt{
    display: inline-block;
    color: #666;
    font-size: $font-size-base;
    width: 40px;
    height: 23px;
    vertical-align: middle;
    line-height: 20px;
}

.share-list dd{
    display: inline-block;
    width: 26px;
    height: 23px;
    vertical-align: middle;
}

.share-list img{
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.yuan{
    position: relative;
    top: -31px;
    left: 155px;
}

  .handShare{
        cursor: pointer;
    }

 .canclePay{
    position: relative;
    float: right;
    top:15px;
    right:22px;
    cursor: pointer;
 }
  .canclePayLink{
    position: relative;
    float: right;
    right:22px;
    cursor: pointer;
 }

 .datepickers-container{
    z-index:2500 !important;
 }

 .loadMore{
    position:relative;
    left:0px;
    margin-top:-10px;
    top:60px;
    width:100%;
    text-align:center;
    font-size:$font-size-base;
    cursor:pointer;
    color:$gray-light;
}

 .loadMoreCus{
    position:relative;
    top:-30px;
    width:100%;
    text-align:center;
    font-size:$font-size-base;
    cursor:pointer;
    color:$gray-light;
}

.circle-180 {
    transform: rotate(180deg);
}

.copySuccess{
    position: relative;
    top:-15px;
     @extend .success;
}

.copySuccessImg{
    position: relative;
    top:-15px;
    left:0px;
    @extend .success;

    img{
        position: relative;
        left:5px;
    }
}  

.copyListSuccess{
   position: relative;
   top:-185px;
    @extend .success;
}

.copyListSuccessImg{
   position: relative;
   top: -185px;
   @extend .success;
}

.success{
    text-align: center;
    color:green;
}

  .pay-title-link{
            width: 100px;
            height: 20px;
            padding-top: 20px;
            padding-left: 20px;
            font-size:$font-size;
            font-weight: bold;
        }






.loadmore-div{
    position:relative;
    top:10px;
    margin:0px auto;
    width:100%;
    height:1000px;
    text-align: center;
}

.spinner {
 
  width: 150px;
  text-align: center;
  display:inline;
}
 
.spinner > div {
  width: 10px;
  height: 10px;
  background-color:$red-base;
 
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
 
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.load-word{
    color:$red-base;
    font-size:$font-size;
    position:relative;
    top:0px;
    left:0px;
    text-align:center;
    display:inline-block;
}

.pay-bottom-link{
   width:100%;
   height: auto;
   text-align: center;
}

.pay-redLink-btn {
    width: 80px;
    height: 35px;
    background-color: #fe5453;
    border-color: #fff;
    border-radius: 5px;
    border: none;
    margin: 0px auto;
    text-align: center;
    line-height: 35px;
    color: $white;
    font-size: $font-size-base;
    margin-bottom: 20px;

    &:hover{
        cursor: pointer;
    }

   
}

.copyDiv{
    position: relative;
    top:40px;
}

//暂停提示
.pauseWord{
    position: relative;
    top:0px;
    left:0px;
    text-align:center; 
    font-size: $font-size;
    color:$gray;
}

.pauseBtn{
    position: relative;
    margin-top: 20px;
    text-align:center; 
}

.canclestepPause{
    position: relative;
    left: 250px;
    cursor: pointer;
}

.textareaInfo{
    width: 360px;
    height: 70px;
    border-radius: 5px;
    max-width: 360px;
    max-height: 70px;
}

#pauseError{
    color:$red-base;
    position: relative;
    top:5px;
    left:-10px;
}

.textareaInfoError{
    width: 360px;
    height: 70px;
    border-radius: 5px;
    max-width: 360px;
    max-height: 70px;
    border-color: $red-base;
}

.pauseTop{
    position: relative;
    top:10px;
}
.puaseLeft{
        position: relative;
    right: 20px;
}

.puaseRight{
        position: relative;
    left: 20px;
}

#showErrorList{
    color:$red-base;
}

.curr{
     
     width:210px;
     margin:0 auto;
     list-style-type:none;
     li{

     list-style-type:none;
     }
    div{
      display:inline-block;
      color:$gray;
      margin-bottom:10px;
    }

    .info{
      width:150px;
      margin-left:10px;
      text-align:left;
    }
    .infoimgR{
           color:green;
    }
       .infoimgG{
         color:$red-base;
    }

}
 
