@import "common";
@import "compass/typography/text/ellipsis";


label {
    font-weight: 500;
    color: #5f6a6d;
    margin-bottom: 10px
}

form {
    max-width: 970px
}

.form-wrap {
    margin-top: 30px
}

.field-label {
    color: black;
    font-weight: 600
}

.tooltip-show {
    height: 46px;
    background-color: #F2DEDE;
    color: #A94446;
    border-radius: 4px;
    text-align: center;
    line-height: 36px
}

label.tooltip-message {
    padding-top: 4px
}

.tooltip-success-show {
    height: 46px;
    background-color: #DFF0D8;
    color: #3C764B;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0
}

label.tooltip-success-message {
    padding-top: 4px
}

.tooltip-info-show {
    height: 46px;
    background-color: #d9edf7;
    color: #3C764B;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    position: relative;
    width: 100%;
    z-index: 100;
    top: 0
}

label.tooltip-info-message {
    padding-top: 4px
}

#uploadBt {
    margin-top: 10px;
    margin-left: 25px
}

#logoImg {
    width: 200px;
    cursor: pointer
}

.serviceId {
    display: block;
    position: relative;
    top: 10px
}

.service-ul-left {
    float: left;
    text-align: center
}

.service-ul-right {
    float: left;
    position: relative;
    left: 10px
}

.service-phone {
    height: 84px;
    line-height: 94px
}

li {
    font-size: 14px;
    color: #666
}

.band .bandBtn {
    float: right;
    position: relative;
    top: 5px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fe5453;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    line-height: 35px
}

.band .bandBtn:hover {
    background: #337ab7
}

.band .bandWord {
    color: #999
}

.noBand .bandBtn {
    float: right;
    position: relative;
    top: 5px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    background: #999;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    line-height: 35px
}

.noBand .bandBtn:hover {
    background: #337ab7
}

.noBand .bandWord {
    color: green
}

<<<<<<< HEAD


=======
.commonBand,
.band,
>>>>>>> e6267c81ce903281283d53c6d18ba333be41f08f
.noBand {
    margin: 25px auto;
    width: 80%
}

.commonBand img,
.band img,
.noBand img {
    height: 50px;
    width: 50px
}

.commonBand ul,
.band ul,
.noBand ul {
    height: 50px;
    line-height: 20px
}

.commonBand li,
.band li,
.noBand li {
    font-size: 1.4rem;
    color: #333
}

.commonBand .vertical,
.band .vertical,
.noBand .vertical {
    vertical-align: top;
    position: relative;
    left: 10px
}

.commonBand .inLine,
.band .inLine,
.noBand .inLine {
    display: inline-block
}

.line {
    width: 80%;
    height: 1px;
    background: #ccc;
    margin: 10px auto
}

.tooltip-error-show {
    display: hidden;
    height: 46px;
    background-color: #F2DEDD;
    color: #3C764B;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    position: relative;
    width: 100%;
    z-index: 100;
    top: 0
}

label.tooltip-error-message {
    padding-top: 4px
}


