@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "fontSize";


@CHARSET "UTF-8";

body{
	background: url(../../images/login/provider-login.jpg) no-repeat;
	background-size: cover;
	background-position: center 0;
}

.nav .logo {
  position: relative;
  float: left;
  top: 14px;
  background: url(../../images/common/logo.svg) no-repeat;
  width: 92px;
  height: 30px;
  margin-right: 76px;
}


.outSideDiv{
	margin: 0 auto;
	background: #fff;
	width: 400px;
	height: 508px;
    padding: 0;
	overflow: hidden;
	position:relative;
	top:80px;
	 @media screen and (min-width:1276px) and (max-width:1500px) {
     	top:100px;
    }
    @media screen and (min-width:1500px) {
     	top:180px;
    }
    border-radius: 5px;
}

.loginDiv{
	margin: 0 auto;
	width: 280px;
	height:100%;
	  .redBtn{
       	background: $red-base;
       	width:100%;
       	height:38px;
       	border-radius: 5px;
       	text-align: center;
       	line-height: 38px;
       	font-size: $font-size;
       	color:#fff;
       	margin-top: 42px;
       	position: relative;
        top: 8px;
        cursor: pointer;
       }

	h1{
	 margin: 40px 0px 40px 0px;
	 position: relative;
     top: 4px;
   }

   .loginContent{
   	width: 100%;
   	height:60px;
       input{
       	background: none;
       	height:35px;
       	width: 100%;
       	border:none;
       	outline: none;
       	border-bottom: 1px solid #d9d9df;
       	 -webkit-box-shadow: 0 0 0px 1000px white inset;
       }

       .otherDiv{
       	position: absolute;
       }

       .errorDiv{
       	position:relative;
       	top:5px;
       	color:$red-base;
       	font-size: $font-size-sm;
       }

         .errorMidDiv{
       	position:absolute;
       	top: 50px;
        left: 115px;
       	color:$red-base;
       	font-size: $font-size-sm;
       }



   }
 
}



.infoWord{
	margin:38px 0px 26px 0px;
	width:100%;
	text-align: center;
}

.btn-validation {
	display: inline;
	height: 34px;
	width: 90px;
	position: relative;
    top: -35px;
    left: 190px;
    cursor: pointer;
}

.btn-get-validation {
	display: inline;
	height: 34px;
	width: 90px;
	position: relative;
	line-height:3px;
    top: -36px;
    left: 195px;
    background: none;
    border: none;
    color:$gray;
    cursor: pointer;
    &:hover{
    	color:$gray-dark;
    }
}


.footer-content-three{
	height: 90px;
}

.footer-content-three ul{
	width: 280px;
	margin:0 auto;
}

.footer-content-three li{
	width: 93px;
}

.footer-content-three img{
	width: 50px;
	height:50px;
}

.footer-content-three span {
	margin-top: 5px;
	display: block;
	color: #999;
}

li {
	float: left;
	text-align: center;
}
.changeLogin{
	position: relative;
	margin-top: 40px;
	left:-45px;
	color:$gold-yellow;
	font-size: $font-size;
}
/* h2 {
	font-size: $font-size-lg;
	font-weight: 500;
	color: #333;
	position:relative;
	top:-20px;
	margin-top:20px;
	margin-bottom:20px;
}

.loginh2{
	font-size: $font-size-lg;
	font-weight: 500;
	color: #333;
	position:relative;
	top:-20px;
}

form label.control-label{
	font-weight: 500;
	color: #5f6a6d;
	margin-bottom: 10px;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
	position:relative;
	top:-20px;
}

.index-content-wrap{
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	position:relative;
	top:80px;
	 @media screen and (min-width:1276px) and (max-width:1500px) {
     	top:100px;
    }
    @media screen and (min-width:1500px) {
     	top:180px;
    }
}

.index-content{
	margin-top: 40px;
}

.logo{
	text-align: center;
}

.logoImg{
	height: 50px;
}

.login-container {
	margin: 0 auto;
	width: 400px;
	padding: 18px;

}

.register-container {
	margin: 0 auto;
	width: 420px;
	padding: 18px;
}

.recover-container {
	margin: 0 auto;
	width: 420px;
	padding: 18px;
}

.well {

	background-color: #ffffff;
	box-shadow: 0px 0px 2px 0px rgba(48,59,60,0.1),0px 1px 3px 0px rgba(48,59,60,0.12);
	border: none;

}

.form-group {
	margin-bottom: 18px;
}

.actions {
	width: 100%;
	border-top: none;
	padding: 0;
}

.btn-login{
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.links {
	//margin-top: 30px;
}

.pull-right {
	float: right !important;
}

.verfication{
	display: inline-block;
	width: 240px;
	margin-right:4px;
}

.btn-validation {
	display: inline;
	height: 34px;
	width: 90px;
	position: relative;
    top: 11px;

}

.btn-get-validation {
	display: inline;
	height: 34px;
	width: 90px;
	position: relative;
	line-height:3px;
	top:-2px;
    border:1px solid #adadad;
}

.tooltip-show {
	height: 46px;
	background-color: #F2DEDE;
	color: #A94446;
	border-radius: 4px;
	text-align: center;
	line-height: 36px;
}

label.tooltip-message {
	padding-top: 4px;
}

.tooltip-show-recover {
	height: 46px;
	background-color: #F2DEDE;
	color: #A94446;
	border-radius: 4px;
	text-align: center;
	line-height: 36px;
}

label.tooltip-message-recover {
	padding-top: 4px;
}

#loginBt{
	font-size:$font-size-base;
}


.footer-three{
	position: relative;
	background: #fff;
	height:120px;
}

.footer-title-three{
	font-size: 16px;
	color: #999;
	margin-bottom:20px;
}

.footer-title-three > h3{
	font-size:12px;
	font-weight: bold;
	text-align: center;
}

.footer-content-three{
	height: 90px;
}

.footer-content-three ul{
	width: 300px;
	margin:0 auto;
}

.footer-content-three li{
	width: 100px;
}

.footer-content-three img{
	width: 60px;
	height:60px;
}

.footer-content-three span {
	margin-top: 5px;
	display: block;
	color: #999;
}

li {
	float: left;
	text-align: center;
}

第三方登录  start
.WB_loginButton{
	width: 60px;
}

第三方登录  end

.btn-danger {
  background-color: #fe5453;
  border-color: #fe5453;
}

.btn-link {
	color: #fb9b6a;
}


.input-lg {
	height: 38px;
	font-size: $font-size-base;
}

 */