@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "fontSize";
@import "compass/typography/text/ellipsis";
@import "normalize";
a:link,
a:visited {
    text-decoration: none;
    /*超链接无下划线*/
}

.infoTop {
    position: relative;
    width: 100%;
    border: none;
    @include media_screen_height(350px, 350px, 400px);
    .image-video {
        width: 100%;
        @include media_screen_height(350px, 350px, 400px);
        background: url('/resources/images/provder/banner.jpg') no-repeat;
        background-size: cover;
        background-position: center 0;
        position: absolute;
        z-index: 50;
        border: none;
    }
    .providerName {
        font-size: $font-size-lg;
        color: $white;
        padding-top: 30px;
    }
    ul {
        width: auto;
        height: auto;
        position: relative;
        z-index: 100;
        top: 33px;
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            top: 33px;
        }
        @media screen and (min-width:1500px) {
            top: 65px;
        }
        margin: 0 auto;
        .infoHead {
            height: 130px;
            width: 130px;
            border-radius: 180px;
            border: 5px solid white;
        }
        .isPass {
            position: absolute;
            right: -37px;
            bottom: 2px;
            div {
                height: 22px;
                line-height: 21px;
                width: 60px;
                border: 4px;
                font-size: $font-size-sm;
                color: $gray-dark !important;
                text-align: center;
                background: white;
                border: 1px solid $f0;
                position: relative;
                top: -5px;
                left: 20px;
                border-radius: 4px;
            }
        }
        .infoHeadSide {
            height: 130px;
            width: 130px;
            position: relative;
        }
        .place {
            margin-top: 20px;
        }
        .withIt {
            height: 34px;
            line-height: 33px;
            width: 200px;
            border: 4px;
            font-size: $font-size-base;
            text-align: center;
            background: $red-base;
            border-radius: 4px;
            margin-top: 15px;
            cursor: pointer;
        }
        .provinceCity {
            color: $white;
            font-size: $font-size-base;
        }
        li {
            text-align: center;
            div {
                color: $white;
                display: inline-block;
                height: 20px;
            }
            .circle {
                height: 4px;
                width: 4px;
                margin-left: 5px;
                margin-right: 5px;
                border-radius: 10px;
                background: $white;
                vertical-align: middle;
            }
        }
    }
}

.providerIntroduction {
    position: relative;
    width: 100%;
    height: auto;
    .content {
        @include media_screen_width_beta3();
        height: auto;
        margin: 0 auto;
        padding-top: 60px;
        margin-bottom: 50px;
    }
    .textTxt {
        margin-top: 11px;
        line-height: 24px;
        width: 100%;
        height: auto;
        color: $gray;
        font-size: $font-size-base;
        text-indent: 19px;
    }
    .tag {
        @include media_screen_width_beta3();
        margin: 0 auto;
        padding-bottom: 38px;
        div {
            display: inline-block;
        }
    }
}

.content .name {
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    div {
        height: 20px;
        width: auto;
        display: inline-block;
        margin-right: 6px;
    }
    .cn {
        font-size: $font-size-base;
        color: $red-base;
    }
    .en {
        font-size: $font-size-sm;
        color: $gray-light;
    }
}

.tag .name {
    height: 20px;
    width: 100%;
    margin-bottom: 27px;
    div {
        height: 20px;
        width: auto;
        display: inline-block;
        margin-right: 6px;
    }
    .cn {
        font-size: $font-size-base;
        color: $red-base;
    }
    .en {
        font-size: $font-size-sm;
        color: $gray-light;
    }
}

.tag {
    .midLine {
        width: 100%;
        padding-left: 19px;
        padding-right: 30px;
        margin-bottom: 38px;
        margin: 0 auto;
        .card {
            width: auto;
            height: 30px;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 28px;
            border: 1px solid $border-line;
            color: $gray;
            font-size: $font-size-base;
            border-radius: 6px;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            margin-bottom: 12px;
            top: -10px;
        }
    }
    .sameLine {
        .line {
            vertical-align: middle;
            width: calc(100% - 14px);
            height: 1px;
            background: $gray;
        }
        .circleTag {
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 5px;
            border: 1px solid $gray;
        }
    }
}

.videoContent {
    height: auto;
    width: 100%;
    background: transparent !important;
    .contentWidth {
        @include media_screen_width_beta3();
        margin: 0 auto;
        font-size: 0px;
    }
    .showVideo {
        height: 400px;
        width: 710px;
        @media screen and (min-width: 1212px) and (max-width: 1500px) {
            height: 500px;
            width: 895px;
        }
        @media screen and (min-width:1500px) {
            height: 545px;
            width: 970px;
        }
        .videoSection {
            // height: 315px;
            // width: 520px;
            // @media screen and (min-width: 1276px) and (max-width: 1500px) {
            //     height: 420px;
            //     width: 695px;
            // }
            // @media screen and (min-width:1500px) {
            //     height: 520px;
            //     width: 860px;
            // }
            height: 400px;
            width: 710px;
            @media screen and (min-width: 1212px) and (max-width: 1500px) {
                height: 500px;
                width: 895px;
            }
            @media screen and (min-width:1500px) {
                height: 545px;
                width: 970px;
            }
        }
    }
    .videoInfo {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        background: black;
        height: 400px;
        width: 250px;
        @media screen and (min-width: 1212px) and (max-width: 1500px) {
            height: 500px;
            width: 317px;
        }
        @media screen and (min-width:1500px) {
            height: 545px;
            width: 330px;
        }
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        .NameInfo {
            color: white;
            font-size: $font-size-lg;
            margin-top: 30px;
        }
        .InfoLine {
            width: 100%;
            height: 1px;
            margin-top: 26px;
            margin-bottom: 14px;
        }
        .title {
            color: $border-line;
            font-size: $font-size-base;
            margin-bottom: 14px;
            span {
                font-size: $font-size-sm;
            }
        }
        .bottom {
            position: absolute;
            bottom: 40px;
        }
        .NameContent {
            width: 100%;
            height: 90px;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                height: 180px;
            }
            @media screen and (min-width:1500px) {
                height: 250px;
            }
            color: $border-line;
            font-size: $font-size-sm;
            line-height: 18px;
            overflow: hidden;
            cursor: pointer;
        }
        .specialVideoInfo {
            text-align: center;
            width: 160px;
            height: 40px;
            line-height: 40px;
            color: white;
            font-size: $font-size-base;
        }
    }
}

.triangle {
    height: 50px;
    width: 100%;
    text-align: center;
    img {
        height: 32px;
        width: 66px;
        margin: 0 auto;
        position: relative;
        top: -10px;
    }
}

.videoSpace {
    width: 100%;
    height: auto;
    margin-top: 60px;
    min-width: 960px;
    .prodectLine {
        width: 1px;
        height: 30px;
        background: $gray-light;
        margin: 0 auto;
    }
    .productOutSide {
        width: 90px;
        height: 90px;
        border-radius: 120px;
        text-align: center;
        margin: 0 auto;
        background: $gray-dark;
        color: white;
        font-size: $font-size-base;
        position: relative;
        padding-top: 31px;
        margin-bottom: 4px;
        span {
            font-size: $font-size-sm;
        }
        &:after {
            content: '';
            border: 1px solid $border-line;
            width: 98px;
            height: 98px;
            position: absolute;
            border-radius: 90px;
            left: -4px;
            top: -4px;
        }
    }
}

.videoSpace .timeLine {
    width: 100%;
    height: auto;
}

.topMore {
    position: relative;
    // top: 35px;
    top: -5px;
    padding-bottom: 50px;
}

.videoSpace .videoArea {
    width: 960px;
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        width: 1200px;
    }
    @media screen and (min-width:1500px) {
        width: 1200px;
    }
    height: auto;
    margin: 0 auto;
    .more {
        height: 24px;
        width: 120px;
        margin: 0 auto;
        text-align: center;
        line-height: 24px;
        background: white;
        color: $gray;
        border: 1px solid $gray;
        border-radius: 4px;
        font-size: $font-size-sm;
        cursor: pointer;
        position: relative;
        &:hover {
            color: $red-base;
            border: 1px solid $red-base;
            .getMore {
                background-position: 0px -14px;
            }
        }
        .getMore {
            position: absolute;
            background: url(/resources/images/provder/getMore.png) no-repeat;
            top: 30px;
            left: 52px;
            width: 14px;
            height: 14px;
        }
    }
    .year {
        height: 46px;
        width: 100%;
        div {
            height: 46px;
            width: 46px;
            margin: 0 auto;
            border-radius: 120px;
            position: relative;
            color: white;
            font-size: $font-size-sm;
            line-height: 40px;
            text-align: center;
            border: 3px solid $f0;
            // div {
            //     height: 70px;
            //     width: 70px;
            //     //background: $gold-yellow;
            //     margin: 0 auto;
            //     border-radius: 120px;
            //     position: relative;
            //     top: 3px;
            //     color: white;
            //     font-size: $font-size;
            //     line-height: 70px;
            //     text-align: center;
            // }
        }
        .color1 {
            background: #aa4cfc;
        }
        .color2 {
            background: #79d01b;
        }
        .color3 {
            background: #33d8b5;
        }
        .color4 {
            background: #f5a623;
        }
        .color5 {
            background: $red-base;
        }
    }
    .yearTimeLine {
        height: 5px;
        width: 1px;
        background: $gray-light;
        margin: 0 auto;
    }
    .yearTimeUlLine {
        height: 30px;
        width: 1px;
        background: none;
        margin: 0 auto;
        li {
            height: 100%;
            width: 1px;
            background: $gray-light;
        }
        // li:nth-child(1) {
        //     height: 5px;
        //     width: 1px;
        //     background: $gray-light;
        // }
        // li:nth-child(2) {
        //     height: 7px;
        //     width: 1px;
        //     background: $gray-light;
        // }
        // li:nth-child(3) {
        //     height: 9px;
        //     width: 1px;
        //     background: $gray-light;
        // }
    }
    .midTimeLine {
        height: 395px;
        width: 1px;
        background: $gray-light;
        margin: 0 auto;
    }
}

.end {
    ul {
        height: 30px;
        width: 1px;
        margin: 0 auto;
    }
    li {
        background: $gray-light;
        margin-top: 5px;
    }
    li:nth-child(1) {
        height: 5px;
        width: 1px;
    }
    li:nth-child(2) {
        height: 7px;
        width: 1px;
    }
    li:nth-child(3) {
        height: 10px;
        width: 1px;
    }
}

.videoSpace .videoArea .videoCrad {
    height: auto;
    position: relative;
    .title {
        height: 24px;
        width: 100%;
        color: $gray-dark;
        font-size: $font-size-base;
        @include ellipsis;
    }
    a {
        img {
            width: 314px;
            height: 176px;
            border-radius: 6px;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                width: 314px;
                height: 176px;
            }
            @media screen and (min-width:1500px) {
                width: 314px;
                height: 176px;
            }
        }
    }
    .videoContentInfo {
        width: 100%;
        height: 52px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;
        font-size: $font-size-base;
        color: $gray-light;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }
    .videoBtn {
        width: 98px;
        height: 26px;
        color: $red-base;
        font-size: $font-size-sm;
        line-height: 26px;
        text-align: center;
        margin-top: 50px;
        margin-left: 210px;
        position: relative;
        &:after {
            content: "";
            background: url(/resources/images/index/newsMore.png) no-repeat;
            width: 13px;
            height: 13px;
            position: absolute;
            background-position: 0 -13px;
            top: 8px;
            left: 80px;
        }
    }
}

.videoSpace .videoArea .rightCard {
    // position: relative;
    // top: 50px;
    // float: right;
    // width: 348px;
    // height: 364px;
    // border: 1px solid $border-line;
    // border-radius: 6px;
    // padding: 18px 10px 18px 10px;
    // position: relative;
    // margin-right: 60px;
    // @media screen and (min-width: 1276px) and (max-width: 1500px) {
    //     width: 408px;
    //     height: 404px;
    // }
    // @media screen and (min-width:1500px) {
    //     width: 408px;
    //     height: 404px;
    // }    float: left;
    float: right;
    width: 334px;
    top: 50px;
    border: 1px solid $border-line;
    -moz-box-shadow: 10px 10px 5px $border-line;
    -webkit-box-shadow: 0px 0px 10px $border-line;
    -o-box-shadow: 0px 0px 10px $border-line;
    border-radius: 6px;
    padding: 18px 10px 18px 10px;
    position: relative;
    margin-right: 0px;
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        width: 334px;
        margin-right: 100px;
        //height: 404px;
    }
    @media screen and (min-width:1500px) {
        width: 334px;
        margin-right: 100px;
        // height: 404px;
    }
    background: white;
    .rightDian {
        height: 50px;
        width: 220px;
        float: left;
        position: absolute;
        right: 268px;
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            right: 287px;
        }
        @media screen and (min-width:1500px) {
            right: 287px;
        }
        top: 80px;
        @extend .commonImg;
    }
}

.videoSpace .videoArea .leftCard {
    float: left;
    width: 334px;
    //height: 364px;
    border: 1px solid $border-line;
    -moz-box-shadow: 10px 10px 5px $border-line;
    -webkit-box-shadow: 0px 0px 10px $border-line;
    -o-box-shadow: 0px 0px 10px $border-line;
    /* 老的 Firefox */
    box-shadow: 0px 0px 10px $border-line;
    border-radius: 6px;
    padding: 18px 10px 18px 10px;
    position: relative;
    margin-left: 0px;
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        width: 334px;
        margin-left: 100px;
        //height: 404px;
    }
    @media screen and (min-width:1500px) {
        width: 334px;
        margin-left: 100px;
        // height: 404px;
    }
    background: white;
    .leftDian {
        height: 50px;
        width: 221px;
        float: right;
        position: absolute;
        left: 317px;
        top: 80px;
        background-position: center;
        @extend .commonImg;
    }
}

.commonImg {
    div {
        display: inline-block;
        height: 50px;
    }
    .day {
        font-size: $font-size-base;
        color: $gray-light;
        width: 103px;
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            width: 124px;
            padding-right: 20px;
        }
        @media screen and (min-width:1500px) {
            width: 124px;
            padding-right: 20px;
        }
        vertical-align: bottom;
        text-align: center;
        line-height: 50px;
    }
    .dianImg {
        height: 18px;
        width: 18px;
        background: $border-line;
        border-radius: 90px;
        position: relative;
        top: -15px;
        border: 1px solid $f0;
    }
    .leftJiaoImg {
        height: 50px;
        width: 50px;
        background: url('../../images/provder/leftSanJiao.png') no-repeat;
        background-position: center;
    }
    .rightJiaoImg {
        height: 50px;
        width: 50px;
        background: url('../../images/provder/rightJiao.png') no-repeat;
        background-position: center;
    }
}

.infoBottom {
    width: 100%;
    margin: 0 auto;
    background: #f8f8f8;
    .buChong {
        width: 100%;
        height: 20px;
    }
    .bottomWord {
        padding-top: 50px;
        color: $gray-dark;
        font-size: $font-size-lg;
        text-align: center;
        width: 80%;
        height: 170px;
        line-height: 3rem;
        overflow: hidden;
        margin: 0 auto;
    }
    .bottomBtn {
        width: 270px;
        height: 35px;
        color: white;
        font-size: $font-size-base;
        line-height: 35px;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        position: relative;
        top: -50px;
    }
}

.videoTag {
    margin: 10px 0 40px 0;
    color: $gray-light;
    div {
        display: inline-block;
        color: $gray-light;
        font-size: $font-size-sm10;
    }
    img {
        margin-right: 10px;
        position: relative;
        top: 2px;
    }
}

.nav .logo {
    background: url(../../images/common/logo.svg) no-repeat;
}

.noWorkDemo {
    width: 675px;
    height: auto;
    margin: 0 auto;
    margin-top: 86px;
    margin-bottom: 80px;
    display: none;
    div {
        margin-top: 20px;
        color: $gray;
        font-size: $font-size-base;
        text-align: center;
    }
}
