@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "fontSize";
@import "compass/typography/text/ellipsis";
@import "normalize";
.page {
    background: #f2f2f2 !important;
}

a:link,
a:visited {
    text-decoration: none;
    /*超链接无下划线*/
}

.infoTop {
    position: relative;
    width: 100%;
    border: none;
    @include media_screen_height(440px, 470px, 400px);
    .image-video {
        width: 100%;
        @include media_screen_height(440px, 470px, 400px);
        background: url('/resources/images/provder/banner.jpg') no-repeat;
        background-size: cover;
        background-position: center 0;
        position: absolute;
        z-index: 50;
        border: none;
    }
    .providerName {
        font-size: $font-size-lg;
        color: $white;
        padding-top: 30px;
    }
    ul {
        width: auto;
        height: auto;
        position: relative;
        z-index: 100;
        top: 50px;
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            top: 100px;
        }
        @media screen and (min-width:1500px) {
            top: 65px;
        }
        margin: 0 auto;
        .infoHead {
            height: 130px;
            width: 130px;
            border-radius: 180px;
            border: 5px solid white;
        }
        .isPass {
            position: absolute;
            right: -37px;
            bottom: 2px;
            div {
                height: 22px;
                line-height: 21px;
                width: 60px;
                border: 4px;
                font-size: $font-size-sm;
                color: $gray-dark !important;
                text-align: center;
                background: white;
                border: 1px solid $f0;
                position: relative;
                top: -5px;
                left: 20px;
                border-radius: 4px;
            }
        }
        .infoHeadSide {
            height: 130px;
            width: 130px;
            position: relative;
        }
        .place {
            margin-top: 20px;
        }
        .withIt {
            height: 34px;
            line-height: 33px;
            width: 200px;
            border: 4px;
            font-size: $font-size-base;
            text-align: center;
            background: $red-base;
            border-radius: 4px;
            margin-top: 15px;
        }
        .provinceCity {
            color: $white;
            font-size: $font-size-base;
        }
        li {
            text-align: center;
            div {
                color: $white;
                display: inline-block;
                height: 20px;
            }
            .circle {
                height: 4px;
                width: 4px;
                margin-left: 5px;
                margin-right: 5px;
                border-radius: 10px;
                background: $white;
                vertical-align: middle;
            }
        }
    }
}

.providerIntroduction {
    position: relative;
    width: 100%;
    height: auto;
    .content {
        @include media_screen_width_beta3();
        height: auto;
        margin: 0 auto;
        padding-top: 60px;
        margin-bottom: 50px;
    }
    .textTxt {
        margin-top: 11px;
        line-height: 24px;
        width: 100%;
        height: auto;
        color: $gray;
        font-size: $font-size-base;
        text-indent: 28px;
    }
    .tag {
        @include media_screen_width_beta3();
        margin: 0 auto;
        padding-bottom: 38px;
        div {
            display: inline-block;
        }
    }
}

.content .name {
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    div {
        height: 20px;
        width: auto;
        display: inline-block;
        margin-right: 6px;
    }
    .cn {
        font-size: $font-size-base;
        color: $red-base;
    }
    .en {
        font-size: $font-size-sm;
        color: $gray-light;
    }
}

.tag .name {
    height: 20px;
    width: 100%;
    margin-bottom: 27px;
    div {
        height: 20px;
        width: auto;
        display: inline-block;
        margin-right: 6px;
    }
    .cn {
        font-size: $font-size-base;
        color: $red-base;
    }
    .en {
        font-size: $font-size-sm;
        color: $gray-light;
    }
}

.tag {
    .midLine {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 38px;
        margin: 0 auto;
        .card {
            width: auto;
            height: 30px;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 28px;
            border: 1px solid $border-line;
            color: $gray;
            font-size: $font-size-base;
            border-radius: 6px;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            margin-bottom: 12px;
            top: -10px;
        }
    }
    .sameLine {
        .line {
            vertical-align: middle;
            width: calc(100% - 14px);
            height: 1px;
            background: $gray;
        }
        .circleTag {
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 5px;
            border: 1px solid $gray;
        }
    }
}

.videoContent {
    height: auto;
    width: 100%;
    background: transparent !important;
    .contentWidth {
        @include media_screen_width_beta3();
        margin: 0 auto;
        font-size: 0px;
    }
    .showVideo {
        height: 315px;
        width: 520px;
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            height: 420px;
            width: 695px;
        }
        @media screen and (min-width:1500px) {
            height: 520px;
            width: 860px;
        }
        .videoSection {
            height: 315px;
            width: 520px;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                height: 420px;
                width: 695px;
            }
            @media screen and (min-width:1500px) {
                height: 520px;
                width: 860px;
            }
        }
    }
    .videoInfo {
        padding-left: 30px;
        padding-right: 30px;
        height: 315px;
        width: 420px;
        background: black;
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            height: 420px;
            width: 515px;
        }
        @media screen and (min-width:1500px) {
            height: 520px;
            width: 430px;
        }
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        .NameInfo {
            color: white;
            font-size: $font-size-lg24;
            margin-top: 30px;
        }
        .InfoLine {
            width: 100%;
            height: 1px;
            background: white;
            margin-top: 16px;
            margin-bottom: 14px;
        }
        .NameContent {
            width: 100%;
            height: 105px;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                height: 212px;
            }
            @media screen and (min-width:1500px) {
                height: 312px;
            }
            color: white;
            font-size: $font-size-base;
            line-height: 26px;
            overflow: hidden;
            cursor: pointer;
        }
        .specialVideoInfo {
            text-align: center;
            width: 160px;
            height: 40px;
            line-height: 40px;
            color: white;
            font-size: $font-size-base;
        }
    }
}

.triangle {
    height: 50px;
    width: 100%;
    text-align: center;
    img {
        height: 32px;
        width: 66px;
        margin: 0 auto;
        position: relative;
        top: -10px;
    }
}

.videoSpace {
    width: 100%;
    height: auto;
    margin-top: 60px;
    .productOutSide {
        width: 90px;
        height: 90px;
        border-radius: 120px;
        text-align: center;
        margin: 0 auto;
        background: $gray-dark;
        color: white;
        font-size: $font-size-base;
        position: relative;
        padding-top: 31px;
        span {
            font-size: $font-size-sm;
        }
        &:after {
            content: '';
            border: 1px solid $border-line;
            width: 98px;
            height: 98px;
            position: absolute;
            border-radius: 90px;
            left: -4px;
            top: -4px;
        }
    }
}

.videoSpace .timeLine {
    width: 100%;
    height: auto;
}

.topMore {
    position: relative;
    top: 35px;
}

.videoSpace .videoArea {
    width: 960px;
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        width: 1200px;
    }
    @media screen and (min-width:1500px) {
        width: 1200px;
    }
    height: auto;
    margin: 0 auto;
    .more {
        height: 30px;
        width: 106px;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
        background: white;
        color: $gray;
        border: 1px solid $gray;
        border-radius: 6px;
        font-size: $font-size-base;
        cursor: pointer;
    }
    .year {
        height: 76px;
        width: 100%;
        div {
            height: 76px;
            width: 76px;
            background: white;
            margin: 0 auto;
            border-radius: 120px;
            div {
                height: 70px;
                width: 70px;
                //background: $gold-yellow;
                margin: 0 auto;
                border-radius: 120px;
                position: relative;
                top: 3px;
                color: white;
                font-size: $font-size;
                line-height: 70px;
                text-align: center;
            }
            .color1 {
                background: #f1b059;
            }
            .color2 {
                background: #4cdbf8;
            }
            .color3 {
                background: #d339c6;
            }
            .color4 {
                background: #929292;
            }
            .color5 {
                background: #2c71a8;
            }
        }
    }
    .yearTimeLine {
        height: 50px;
        width: 1px;
        background: $gray-light;
        margin: 0 auto;
    }
    .yearTimeUlLine {
        height: 30px;
        width: 1px;
        background: none;
        margin: 0 auto;
        li {
            margin-top: 5px;
        }
        li:nth-child(1) {
            height: 5px;
            width: 1px;
            background: $gray-light;
        }
        li:nth-child(2) {
            height: 7px;
            width: 1px;
            background: $gray-light;
        }
        li:nth-child(3) {
            height: 9px;
            width: 1px;
            background: $gray-light;
        }
    }
    .midTimeLine {
        height: 450px;
        width: 1px;
        background: $gray-light;
        margin: 0 auto;
    }
}

.videoSpace .videoArea .videoCrad {
    width: 300px;
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        width: 364px;
    }
    @media screen and (min-width:1500px) {
        width: 364px;
    }
    height: auto;
    margin-top: 32px;
    position: absolute;
    margin-left: 24px;
    .title {
        height: 24px;
        width: 100%;
        color: $gray-dark;
        font-size: $font-size-lg24;
        @include ellipsis;
        margin-bottom: 10px;
    }
    a {
        img {
            width: 300px;
            height: 158px;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                width: 364px;
                height: 186px;
            }
            @media screen and (min-width:1500px) {
                width: 364px;
                height: 186px;
            }
        }
    }
    .videoContentInfo {
        width: 100%;
        height: 52px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;
        font-size: $font-size-base;
        color: $gray-light;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }
    .videoBtn {
        width: 98px;
        height: 26px;
        color: white;
        font-size: $font-size-sm10;
        line-height: 26px;
        text-align: center;
        margin-top: 20px;
    }
}

.videoSpace .videoArea .rightCard {
    position: relative;
    top: 50px;
    float: right;
    width: 348px;
    height: 364px;
    border: 1px solid #ccc;
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        width: 408px;
        height: 404px;
    }
    @media screen and (min-width:1500px) {
        width: 408px;
        height: 404px;
    }
    background: white;
    .rightDian {
        height: 50px;
        width: 220px;
        float: left;
        position: relative;
        right: 157px;
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            right: 218px;
        }
        @media screen and (min-width:1500px) {
            right: 218px;
        }
        top: 32px;
        @extend .commonImg;
    }
}

.videoSpace .videoArea .leftCard {
    float: left;
    width: 348px;
    height: 364px;
    border: 1px solid #ccc;
    @media screen and (min-width: 1276px) and (max-width: 1500px) {
        width: 408px;
        height: 404px;
    }
    @media screen and (min-width:1500px) {
        width: 408px;
        height: 404px;
    }
    background: white;
    .leftDian {
        height: 50px;
        width: 221px;
        float: right;
        position: relative;
        left: 220px;
        top: 32px;
        background-position: center;
        @extend .commonImg;
    }
}

.commonImg {
    div {
        display: inline-block;
        height: 50px;
    }
    .day {
        font-size: $font-size-base;
        color: $gray-light;
        width: 59px;
        ;
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            width: 119px;
        }
        @media screen and (min-width:1500px) {
            width: 119px;
        }
        vertical-align: bottom;
        text-align: center;
        line-height: 50px;
    }
    .dianImg {
        height: 50px;
        width: 50px;
        background: url('../../images/provder/timeImg.png') no-repeat;
        background-position: center;
    }
    .leftJiaoImg {
        height: 50px;
        width: 50px;
        background: url('../../images/provder/leftSanJiao.png') no-repeat;
        background-position: center;
    }
    .rightJiaoImg {
        height: 50px;
        width: 50px;
        background: url('../../images/provder/rightJiao.png') no-repeat;
        background-position: center;
    }
}

.infoBottom {
    width: 100%;
    margin: 0 auto;
    .buChong {
        width: 100%;
        height: 20px;
    }
    .bottomWord {
        padding-top: 70px;
        color: $gray-dark;
        font-size: $font-size-lg;
        text-align: center;
        width: 80%;
        height: 170px;
        line-height: 3rem;
        overflow: hidden;
        margin: 0 auto;
    }
    .bottomBtn {
        width: 270px;
        height: 35px;
        color: white;
        font-size: $font-size-base;
        line-height: 35px;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        position: relative;
        top: -45px;
    }
}

.videoTag {
    margin: 10px 0 16px 0;
    div {
        display: inline-block;
        color: $gray-light;
        font-size: $font-size-sm10;
    }
    img {
        margin-right: 10px;
        position: relative;
        top: 2px;
    }
}

.nav .logo {
    background: url(../../images/common/logo.svg) no-repeat;
}
