@import "common";
@import "compass/typography/text/ellipsis";
@import "normalize";
body,
.page {
    background: $f0 !important;
}

.step2 {
    width: 700px;
    margin: 0 auto;
}

.upVideoCard {
    margin-top: 180px;
    @include media_screen_width_beta3();
    background: white;
    border-bottom: 1px solid $e;
    margin: 0 auto;
    position: relative;
    height: 740px;
    border-radius: 6px;
}

.titleInfo {
    padding-left: 30px;
    height: 53px;
    line-height: 52px;
    color: $gray;
    font-size: $font-size;
}

.upImg {
    width: 160px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.upBtn {
    width: 160px;
    margin: 0 auto;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background: $red-base;
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.infoCard {
    height: 430px;
    width: 600px;
    background: white;
    border-radius: 4px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    .closeX {
        position: absolute;
        right: 26px;
        color: $gray-light;
        font-size: $font-size-lg;
        text-align: left;
        top: 10px;
        cursor: pointer;
        &:hover {
            color: $gray-dark;
        }
    }
    .title {
        color: $red-base;
        font-size: $font-size-base;
        font-weight: bold;
        margin-top: 44px;
        margin-bottom: 16px;
    }
    .redWord {
        color: $red-base;
        font-size: $font-size-sm;
        position: relative;
        padding-left: 15px;
        margin-bottom: 8px;
        &:after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background: $red-base;
            border-radius: 90px;
            top: 3px;
            left: 2px;
        }
    }
    .grayWord {
        color: $gray;
        font-size: $font-size-sm;
        position: relative;
        padding-left: 15px;
        margin-bottom: 8px;
        &:after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background: $gray;
            border-radius: 90px;
            top: 3px;
            left: 2px;
        }
    }
    .botWord {
        color: $red-base;
        font-size: $font-size-sm;
        margin-top: 14px;
        margin-bottom: 20px;
    }
    .midWord {
        color: $gray;
        font-size: $font-size-sm;
        margin-top: 4px;
        margin-bottom: 12px;
        line-height: 18px;
    }
    .bottom {
        text-align: center;
        width: 170px;
        margin: 0 auto;
        div {
            border-radius: 4px;
            border: 1px solid $gray-light;
            color: $gray-dark;
            text-align: center;
            width: 70px;
            height: 36px;
            line-height: 34px;
            font-size: $font-size-base;
            margin-left: 10px;
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
            &:hover {
                color: white;
                background: $red-base;
                border: 1px solid $red-base;
            }
        }
    }
}

//step2
.upProgress {
    font-size: $font-size-sm;
    color: $gray;
    margin-bottom: 60px;
    position: relative;
}

.progress {
    height: 10px;
    border-radius: 90px;
    margin-top: 8px;
    margin-bottom: 0px !important;
}

.progress-bar {
    background-color: #337ab7;
}

.upIng {
    position: absolute;
    font-size: $font-size-sm;
    color: $red-base;
    right: 0px;
}

.upSuccess {
    position: absolute;
    font-size: $font-size-sm;
    color: $red-base;
    right: 0px;
    img {
        position: relative;
        top: 2px;
        margin-right: 10px;
    }
}

.upError {
    position: absolute;
    font-size: $font-size-sm;
    color: $red-base;
    right: 0px;
    img {
        position: relative;
        top: 2px;
        margin-right: 10px;
    }
}

.proItem {
    width: 650px;
    font-size: 0;
    margin-bottom: 30px;
    position: relative;
    &:after {
        content: "*";
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .itemTitle {
        font-size: $font-size-base;
        color: $gray-dark;
        margin-right: 30px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 10px;
        width: 60px;
    }
    .upload_filed_area {
        display: inline-block;
        vertical-align: top;
    }
    input {
        font-size: $font-size-base;
        color: $gray-dark;
        width: 540px;
        display: inline-block;
        vertical-align: top;
        height: 36px;
        border: 1px solid $border-line;
        border-radius: 4px;
        line-height: 34px;
        outline: none;
    }
    ul {
        display: inline-block;
        vertical-align: top;
        font-size: 0;
        .upBanner {
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
        }
        .findEx {
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 10px;
            font-size: $font-size-base;
            color: $red-base;
        }
        .upBanner {
            width: 120px;
            height: 36px;
            border: 1px solid $gray-light;
            color: $gray-dark;
            font-size: $font-size-base;
            text-align: center;
            line-height: 34px;
            display: inline-block;
            vertical-align: top;
            border-radius: 4px;
        }
        .findEx {
            display: inline-block;
            vertical-align: top;
            color: $gray;
            font-size: $font-size-base;
        }
        img {
            height: 115px;
            width: 200px;
            margin-top: 30px;
            margin-bottom: 12px;
        }
        span {
            font-size: $font-size-sm;
            color: $gray-light;
        }
        label {
            color: $red-base;
        }
    }
}

.bottomUp {
    position: relative;
    left: 90px;
    .stateInfo {
        font-size: $font-size-sm;
        color: $red-base;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .submit {
        width: 120px;
        height: 36px;
        line-height: 36px;
        color: white;
        font-size: $font-size-base;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        border-radius: 4px;
    }
    .cancle {
        width: 120px;
        height: 36px;
        line-height: 36px;
        color: white;
        font-size: $font-size-base;
        display: inline-block;
        vertical-align: top;
        border-radius: 4px;
        text-align: center;
    }
}

//标签
.tagArea {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 540px;
    position: relative;
    height: 95px;
}

.input_inner {
    height: 50px;
    padding-left: 10px;
    padding-top: 25px;
}

.keyword_input {
    position: absolute;
    left: 0px;
}

.keyword_placeholder {
    display: block !important;
    margin-bottom: 10px;
}

.keyword_item {
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 5;
}

.alert {
    width: 540px !important;
    position: absolute;
    bottom: -28px;
}

.keyword_item {
    display: inline-block;
    zoom: 1;
    height: 20px;
    line-height: 0;
    padding: 0 6px;
    padding-top: 6px;
    margin-top: 4px;
    margin-right: 4px;
    background: #f0f0f0;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    font-size: 12px;
}

.keyword_item_inner {
    font-weight: 500;
    padding-right: 5px;
    vertical-align: middle;
    font-size: 12px;
    zoom: 1;
    line-height: 0;
    text-shadow: 0 1px 0 #fff;
}

.step3 {
    padding-top: 80px;
    .title {
        text-align: center;
        font-size: $font-size;
        color: $gray-dark;
        margin-top: 20px;
        margin-bottom: 6px;
    }
    .info {
        text-align: center;
        font-size: $font-size-sm;
        color: $gray-light;
    }
    .autoJoin {
        text-align: center;
        font-size: $font-size-sm;
        color: $gray-light;
        margin-top: 16px;
        span:nth-child(1) {
            color: $red-base;
            margin-left: 20px;
        }
    }
}
