@import "common";
@import "compass/typography/text/ellipsis";
@import "normalize";
.page {
    background: $f0 !important;
}

.step2 {
    width: 700px;
    margin: 0 auto;
}

.upVideoCard {
    margin-top: 120px;
    @include media_screen_width_beta3();
    background: white;
    border-bottom: 1px solid $e;
    margin: 0 auto;
    position: relative;
    height: 740px;
}

.titleInfo {
    padding-left: 30px;
    height: 53px;
    line-height: 52px;
    color: $gray;
    font-size: $font-size;
}

.upImg {
    width: 160px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.upBtn {
    width: 160px;
    margin: 0 auto;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background: $red-base;
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.infoCard {
    height: 430px;
    width: 600px;
    background: white;
    border-radius: 4px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    .closeX {
        position: absolute;
        right: 26px;
        color: $gray-light;
        font-size: $font-size-lg;
        text-align: left;
        top: 10px;
        cursor: pointer;
        &:hover {
            color: $gray-dark;
        }
    }
    .title {
        color: $red-base;
        font-size: $font-size-base;
        font-weight: bold;
        margin-top: 44px;
        margin-bottom: 16px;
    }
    .redWord {
        color: $red-base;
        font-size: $font-size-sm;
        position: relative;
        padding-left: 15px;
        margin-bottom: 8px;
        &:after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background: $red-base;
            border-radius: 90px;
            top: 3px;
            left: 2px;
        }
    }
    .grayWord {
        color: $gray;
        font-size: $font-size-sm;
        position: relative;
        padding-left: 15px;
        margin-bottom: 8px;
        &:after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background: $gray;
            border-radius: 90px;
            top: 3px;
            left: 2px;
        }
    }
    .botWord {
        color: $red-base;
        font-size: $font-size-sm;
        margin-top: 14px;
        margin-bottom: 20px;
    }
    .midWord {
        color: $gray;
        font-size: $font-size-sm;
        margin-top: 4px;
        margin-bottom: 12px;
        line-height: 18px;
    }
    .bottom {
        text-align: center;
        width: 170px;
        margin: 0 auto;
        div {
            border-radius: 4px;
            border: 1px solid $gray-light;
            color: $gray-dark;
            text-align: center;
            width: 70px;
            height: 36px;
            line-height: 34px;
            font-size: $font-size-base;
            margin-left: 10px;
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
            &:hover {
                color: white;
                background: $red-base;
                border: 1px solid $red-base;
            }
        }
    }
}

//step2
.upProgress {
    font-size: $font-size-sm;
    color: $gray;
}

.progress {
    height: 10px;
    border-radius: 90px;
    margin-top: 8px;
    margin-bottom: 0px !important;
}

.progress-bar {
    background-color: #337ab7;
}

.proItem {
    width: 650px;
    font-size: 0;
    .itemTitle {
        font-size: $font-size-base;
        color: $gray-dark;
        margin-right: 30px;
        display: inline-block;
        vertical-align: top;
    }
    input {
        font-size: $font-size-base;
        color: $gray-dark;
        width: 540px;
        display: inline-block;
        vertical-align: top;
        height: 36px;
        border: 1px solid $border-line;
        border-radius: 4px;
        line-height: 34px;
    }
    ul {
        display: inline-block;
        vertical-align: top;
        font-size: 0;
        .upBanner {
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
        }
        .findEx {
            display: inline-block;
            vertical-align: top;
        }
        .upBanner {
            width: 120px;
            height: 36px;
            border: 1px solid $gray-light;
            color: $gray-dark;
            font-size: $font-size-base;
            text-align: center;
            line-height: 34px;
            display: inline-block;
            vertical-align: top;
            border-radius: 4px;
        }
        .findEx {
            display: inline-block;
            vertical-align: top;
            color: $gray;
            font-size: $font-size-base;
        }
        img {
            height: 115px;
            width: 200px;
            margin-top: 30px;
            margin-bottom: 12px;
        }
        span {
            font-size: $font-size-sm;
            color: $gray-light;
        }
        label {
            color: $red-base;
        }
    }
}

.bottomUp {
    .stateInfo {
        font-size: $font-size-sm;
        color: $red-base;
    }
    .submit {
        width: 120px;
        height: 36px;
        line-height: 36px;
        color: white;
        font-size: $font-size-base;
        display: inline-block;
        vertical-align: top;
    }
    .cancle {
        width: 120px;
        height: 36px;
        line-height: 36px;
        color: white;
        font-size: $font-size-base;
        display: inline-block;
        vertical-align: top;
    }
}
