/* CSS Document */

*{ margin:0; padding:0;}
html,body{ font-size:14px; color:#333; background:#fff; font-family:"Microsoft YaHei"; width:100%;}
ul li{ list-style:none; vertical-align:bottom;}
a{ text-decoration:none; color:#000;transition: all 0.5s ease-in-out 0s;-moz-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s;}
a:hover{ text-decoration:none;}
img{ border:none; vertical-align:middle;}
table{ border:none; padding:0; margin:0; border-collapse:collapse; overflow:hidden;}
table tr{ white-space:0;}
table tr td{ vertical-align:middle;}
.clear{ clear:both;}
h1,h2,h3,h4{line-height:100%;}
:focus { outline: none; }
a,area { blr:expression(this.onFocus=this.blur()) }

.container{ width:1200px; margin:0 auto;}
.fl{ float:left;}
.fr{ float:right;}
.clear {clear:both;}
.hide{ display:none;}

/*------------------------------------HEAD-----------------------------------------*/

.top{ height:40px; padding-top:10px; width:100%; background:rgba(255,255,255,.96); position:fixed; left:0; top:0; box-shadow:0 0 2px rgba(0,0,0,.2); z-index:999;}
.top2{ width:100%; height:50px; background:#fff;}
.logo{ width:100px; height:30px;}
.nav{ zoom:1; overflow:hidden; width:1000px; text-align:right;}
.nav li{ display:inline-block; line-height:30px; padding:0 18px;}
.nav li a:hover{ color:#fe5453;}
.banner img{ width:100%; height:auto; vertical-align:bottom;}
.nav li span{ font-weight:bold; color:#f00; font-size:16px;}


/*------------------------------------MAIN-----------------------------------------*/

.main_index ul{ zoom:1; overflow:hidden; padding-top:16px;}
.main_index ul li{ width:588px; margin:0 5px 10px; border:1px solid #ccc; float:left;}
.main_index ul li img{ width:100%; height:auto; vertical-align: bottom;}

.main_1{ background:#f0f2f5; padding:30px 0;}
.content{ background:#fff; border-radius:8px; width:870px; padding:20px 0; min-height:994px;}
.tit{ font-size:20px; padding-left:25px; line-height:30px; color:#000;}
.video_list{ zoom:1; overflow:hidden; padding:20px 0 0 15px;}
.video_list li{ width:260px; padding:0 10px 24px; float:left;}
.video_list li div.kuang{ width:260px; height:160px; overflow:hidden; border-radius:5px;}
.video_list li div.kuang img{ width:260px; height:160px;transition: all 0.5s ease-in-out 0s;-moz-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s;}

.video_list li h3{ font-size:16px; color:#000; line-height:36px;transition: all 0.5s ease-in-out 0s;-moz-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s;}
.video_list li p{ font-size:12px; color:#ccc;transition: all 0.5s ease-in-out 0s;-moz-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s;}
.video_list li a:hover img{transform:scale(1.1);}
.video_list li a:hover h3{ color:#fe5453;}
.video_list li a:hover p{ color:#666;}

.sidebar{ width:320px;}
.brief{ background:#fff; border-radius:8px; padding:20px 0; min-height:560px; margin-bottom:10px; position:relative;}
.text{ padding:20px 24px; line-height:180%;}
.text p{ padding-bottom:15px;}
.fenxiang{ position:absolute; left:0; bottom:26px; width:100%; text-align:center;}
.fenxiang li{ display:inline-block; padding:0 10px; cursor:pointer;}
.fenxiang li img{ width:36px; height:36px; vertical-align:bottom; border-radius:50%;}

.hot{ background:#fff; border-radius:8px; padding:20px 0; min-height:384px;}
.hottitle{ padding:20px 20px;}
.hottitle a{ display:inline-block; line-height:30px; margin:0 2px 6px; padding:0 10px;}
.bg_color1{ background:#f9ddad;}
.bg_color2{ background:#d1d1d1;}
.bg_color3{ background:#fdc2c2;}
.bg_color4{ background:#f0adfd;}
.bg_color5{ background:#c3ee94;}
.bg_color6{ background:#aab9f8;}
.bg_color7{ background:#a7fae7;}
.hottitle a:hover{color:#fff; background:#fe5453;}


.min_banner{ height:128px; background:url(../add_img/min_banner.jpg) no-repeat; margin-top:30px; position:relative;}
.min_banner h1{ color:#fff; font-size:24px; position:absolute; top:50px; left:100px;}
.min_banner a{ color:#fff; display:block; background:rgba(254,84,84,.8); width:196px; font-weight:bold; border-radius:5px; text-align:center; line-height:42px; font-size:16px; position:absolute; right:80px; top:43px;}
.min_banner a:hover{ background:rgba(254,84,84,1);}



.main_2{ background:#fff; height:500px;}
.four_project{ zoom:1; overflow:hidden; border-bottom:2px solid #e7e9e9; padding:80px 104px;}
.four_project li{ width:128px; float:left; margin-right:160px;}
.four_project li:last-child{ margin-right:0; float:right;}
.four_project li h3{ font-size:24px; font-weight:normal; margin-bottom:15px; height:24px; background:url(../add_img/ser1.png) no-repeat; text-indent:30px;}
.four_project li:nth-child(2) h3{ background-image:url(../add_img/ser3.png);}
.four_project li:nth-child(3) h3{ background-image:url(../add_img/ser2.png);}
.four_project li:nth-child(4) h3{ background-image:url(../add_img/ser4.png);}
.four_project li p{ background:url(../add_img/tiao.jpg) no-repeat; padding-top:20px; font-size:12px; line-height:20px; color:#aaa;}
.four_project li a:hover h3{ color:#fe5453; background-position:0 -24px;}
.four_project li a:hover p{ color:#fe5453; background-image:url(../add_img/tiao2.jpg);}


.data{ padding:60px 0 0 220px;}
.data li{ display:inline-block; text-align:left; width:300px; font-size:14px; line-height:240%;}
.data li span{ font-weight:bold; font-size:42px;}

.menu{ display:none;}

/*------------------------------------MAIN-----------------------------------------*/

.foot{ text-align:center; padding:50px 0 30px; background:#000; color:#fff; line-height:24px; font-size:12px;}
.foot span{ font-size:16px;}
.foot img{ margin-bottom:30px;}

.min_banner2{ display:none;}



.wap-nav{ display:none;}

/*在线客服*/
.OnlineService_Bg {width:100px;overflow:hidden;position:fixed;right:10px;bottom:20px;z-index:10;}
.OnlineService_Box {width:100%;overflow:hidden;}
.OnlineService_Phone {width:90px;height:90px;margin-bottom:5px;}
.OnlineService_Phone a {display:block;width:90px;height:33px;background-color:#e33043;padding-top:57px;line-height:30px;font-size:16px;text-align:center;color:#fff;background-image:url(icon_Online.png);background-repeat:no-repeat;background-position:center 8px;cursor:pointer;text-decoration:none;color:#fff}
.OnlineService_Sign {width:90px;height:90px;margin-bottom:5px;}
.OnlineService_Sign a{display:block;width:90px;height:33px;background-color:#e33043;padding-top:57px;line-height:30px;font-size:16px;text-align:center;color:#fff;background-image:url(icon_Sign.png);background-repeat:no-repeat;background-position:center 8px;cursor:pointer;text-decoration:none;color:#fff}
.OnlineService_Top {width:90px;height:90px;margin-bottom:5px;}
.OnlineService_Top a {display:block;width:90px;height:33px;background-color:#e33043;padding-top:57px;line-height:30px;font-size:16px;text-align:center;color:#fff;background-image:url(icon_Top.png);background-repeat:no-repeat;background-position:center 8px;cursor:pointer;text-decoration:none;color:#fff}


@media only screen and (max-width: 640px) {

.container{ width:100%;}
.logo{ margin-left:8px; float:left;}
.nav{ display:none;}
.fl,.fr{ float:none;}

.main_1{ padding:10px 0;}
.content{ width:100%; border-radius:0; margin-bottom:10px;}	
.video_list{ zoom:1; overflow:hidden; padding:20px 15px 0;}
.video_list li{ width:100%; padding:0 0 30px 0; float:none;}
.video_list li a{ display:block; width:100%; height:auto;}
.video_list li div.kuang{overflow:hidden; width:100%; height:auto; padding:0 0 5px 0; border-radius:5px;}
.video_list li div.kuang img{ width:100%; height:auto;}
.video_list li h3{ font-size:14px; color:#000; line-height:36px;}
.video_list li p{ font-size:12px; color:#ccc;}

.sidebar{ width:100%;}
.brief,.hot{ border-radius:0;}

.min_banner{ display:none;}
.main_2{ background:#fff; height:auto;}

.four_project{ zoom:1; overflow:hidden; border-bottom:none; padding:32px 0 32px 12%;}


.four_project li:last-child{float:left; margin:0 auto 0;}
.four_project li{ width:50%; float:none; margin:0 0 36px; float:left;}
.data{ display:none;}

.foot{padding:50px 10% 30px;}

.min_banner2{ display:block; margin-top:10px;}
.min_banner2 img{ vertical-align:bottom; width:100%;}

.menu{ display:block; float:right; margin:3px 8px 0 0;}


.wap-nav{ width:100%; height:100%; position:fixed; bottom:0; left:0; background:rgba(0,0,0,.9); z-index:99; overflow:hidden;}
.wrap{ padding:60px 24px;}
.sec_nav{ zoom:1; overflow:hidden;}
.sec_nav li{ width:50%; float:left;}
.sec_nav li a{ display:block; margin:3px; line-height:36px; text-align:center; font-size:14px; background:rgba(255,255,255,.95);}
.wrap p{ color:#fff; font-size:18px; text-align:center; padding-top:100px;}
.wrap p a{ color:#fff; font-weight:bold;}
.close{ position:absolute; bottom:30px; left:50%; margin-left:-20px;}

.OnlineService_Bg{ display:none;}

.main_index ul li{ width:100%; float:none; border:none; padding-bottom:5px; margin:0;}

}















