        @import "common";
        @import "buttons";
        @import "video";
        @import "bootstrap-grid";
        $green:#2ad2ae;
        body {
            background: $f0 !important;
        }
        
        .page {
            background: $f0 !important;
        }
        
        button,
        .form-control {
            /* border-color: #66afe9; */
            &:focus {
                outline: none;
                border-color: #ccc !important;
                box-shadow: none !important;
            }
        }
        
        .nav .logo {
            background: url(/resources/images/common/logo.svg) no-repeat;
        }
        
        .step {
            @include media_screen_width_beta3();
            margin: 0 auto;
            position: relative;
            top: 60px;
            margin-bottom: 50px;
            border: 1px solid #d1d1d1;
            border-radius: 4px;
        }
        
        .foot3 {
            top: 120px;
        }
        
        .noStar {
            &:after {
                content: "" !important;
            }
        }
        
        .step-title {
            @include media_screen_width($about-us-width-min, $about-us-width-middle, $about-us-width-lg);
            margin: 0 auto;
            position: relative;
            top: 0px;
            .fsstep {
                width: 200px;
                height: 50px;
                display: inline-block;
            }
            .red {
                background: $red-base;
            }
            .gray {
                background: $gray;
            }
        }
        
        .step-bar {
            height: 120px;
            margin: 0 auto;
            line-height: 40px;
            font-size: 0;
            text-align: center;
            background: $f8;
            padding-top: 30px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            .line {
                height: 4px;
                width: 175px;
                background: $cb;
                margin-left: 18px;
                margin-right: 18px;
                position: relative;
                top: -3px;
            }
            .first {
                color: white;
                font-size: $font-size;
                width: 40px;
                height: 40px;
                background: $cb;
                border-radius: 90px;
                position: relative;
                transition: all .8s ease-in-out .8s;
                -moz-transition: all .8s ease-in-out .8s;
                /* Firefox 4 */
                -webkit-transition: all .8s ease-in-out .8s;
                /* Safari 和 Chrome */
                -o-transition: all .8s ease-in-out .8s;
                &:after {
                    content: attr(data-content);
                    color: $gray;
                    font-size: $font-size-sm;
                    position: absolute;
                    width: 100px;
                    bottom: -38px;
                    left: -28px;
                }
            }
        }
        
        .step-bar > div {
            color: #888;
            font-size: 14px;
            display: inline-block;
            width: 50%;
            text-align: center;
        }
        
        .step-1 {
            background: $red-base !important;
        }
        
        .step-four-div {
            border-top: none;
            background: white;
            min-height: 600px;
            padding-bottom: 60px;
            padding-top: 60px;
        }
        
        //审核
        .success {
          padding-top: 40px;
        }
        
        .successCheck {
            text-align: center;
            img {
                padding-bottom: 40px;
            }
            .checkInfo {
                text-align: center;
                font-size: $font-size-base;
                color: $gray;
                line-height: 20px;
                width: 100%;
                margin-bottom: 60px;
            }
            .scDiv {
                width: 270px;
                font-size: 0;
                margin: 0 auto;
                input {
                    border:none;
                    outline: none;
                    width: 120px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    border-radius: 4px;
                    color: white;
                    font-size: $font-size-base;
                    vertical-align: top;
                    display: inline-block;
                }
                input:nth-child(2) {
                    margin-right: 30px;
                }
            }
        }
        
        .ul-step-three {
            text-align: center;
            .title {
                color: $gray-dark;
                font-size: $font-size;
                padding: 5px;
            }
            .info {
                color: $gray-light;
                font-size: $font-size-sm;
                margin-top: 12px;
                margin-bottom: 65px;
                line-height: 20px;
            }
        }
        
        .stepThreeLi {
            div {
                width: 120px;
                height: 36px;
                color: white;
                font-size: $font-size-base;
                line-height: 36px;
                text-align: center;
                margin: 0 auto;
                border-radius: 4px;
            }
        }


        