        @import "common";
        @import "buttons";
        @import "video";
        @import "bootstrap-grid";
        $green:#2ad2ae;
        body {
            background: $f0 !important;
        }
        
        .page {
            background: $f0 !important;
        }
        
        button,
        .form-control {
            /* border-color: #66afe9; */
            &:focus {
                outline: none;
                border-color: #ccc !important;
                box-shadow: none !important;
            }
        }
        
        .nav .logo {
            background: url(/resources/images/common/logo.svg) no-repeat;
        }
        
        .step {
            @include media_screen_width_beta3();
            margin: 0 auto;
            position: relative;
            top: 60px;
            margin-bottom: 50px;
            border: 1px solid #d1d1d1;
            border-radius: 4px;
        }
        
        .foot3 {
            top: 120px;
        }
        
        .noStar {
            &:after {
                content: "" !important;
            }
        }
        
        .step-title {
            @include media_screen_width($about-us-width-min, $about-us-width-middle, $about-us-width-lg);
            margin: 0 auto;
            position: relative;
            top: 0px;
            .fsstep {
                width: 200px;
                height: 50px;
                display: inline-block;
            }
            .red {
                background: $red-base;
            }
            .gray {
                background: $gray;
            }
        }
        
        .step-bar {
            height: 120px;
            margin: 0 auto;
            line-height: 40px;
            font-size: 0;
            text-align: center;
            background: $f8;
            padding-top: 30px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            .line {
                height: 4px;
                width: 175px;
                background: $cb;
                margin-left: 18px;
                margin-right: 18px;
                position: relative;
                top: -3px;
            }
            .first {
                color: white;
                font-size: $font-size;
                width: 40px;
                height: 40px;
                background: $cb;
                border-radius: 90px;
                position: relative;
                transition: all .8s ease-in-out .8s;
                -moz-transition: all .8s ease-in-out .8s;
                /* Firefox 4 */
                -webkit-transition: all .8s ease-in-out .8s;
                /* Safari 和 Chrome */
                -o-transition: all .8s ease-in-out .8s;
                &:after {
                    content: attr(data-content);
                    color: $gray;
                    font-size: $font-size-sm;
                    position: absolute;
                    width: 100px;
                    bottom: -38px;
                    left: -28px;
                }
            }
        }
        
        .step-bar > div {
            color: #888;
            font-size: 14px;
            display: inline-block;
            width: 50%;
            text-align: center;
        }
        
        .step-1 {
            background: $red-base !important;
        }
        
        .step-three-div {
            border-top: none;
            background: white;
            min-height: 600px;
            padding-bottom: 60px;
        }
        
        //多个上传
        .multUpload {
            width: 840px;
            margin: 0 auto;
            padding-top: 35px;
            display: none;
            .setItem {
                min-height: 500px;
            }
            .videoCard {
                margin-top: 20px;
                padding-right: 20px;
                padding-left: 20px;
                .videoContent {
                    position: relative;
                    .showUpSuccess {
                        right: 27px !important;
                        &:after {
                            content: "";
                            position: absolute;
                            background: url(/resources/images/provider/sure.png);
                            height: 16px;
                            width: 16px;
                            top: -1px;
                            right: -26px;
                        }
                    }
                    .videoName {
                        color: $gray-dark;
                        font-size: $font-size-base;
                        width: 300px;
                        @include ellipsis;
                        text-align: left;
                    }
                    .videoState {
                        color: $gray;
                        font-size: $font-size-sm;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                    }
                }
            }
            .multDiv {
                width: 380px;
                margin: 0 auto;
                font-size: 0;
                div {
                    display: inline-block;
                    vertical-align: top;
                    width: 120px;
                    height: 36px;
                    font-size: $font-size-base;
                    color: white;
                    margin-right: 10px;
                    text-align: center;
                    line-height: 36px;
                    border-radius: 4px;
                }
                div:last-child {
                    margin-right: 0px;
                }
                .webuploader-pick {
                    height: 36px;
                    width: 120px;
                    line-height: 39px;
                    background: transparent !important;
                    padding: 0px;
                }
                .webuploader-pick-hover {
                    background: transparent !important;
                }
                .picker {
                    width: 120px;
                    height: 36px;
                    color: white;
                    line-height: 36px;
                    text-align: center;
                    background: $green;
                    &:hover {
                        background: darken($green, 10%);
                    }
                }
            }
        }
        
        //step3 选择
        .uploadChoose {
            width: 840px;
            margin: 0 auto;
            padding-top: 35px;
            position: relative;
            .ucTitle {
                font-size: $font-size;
                color: $gray;
                margin-bottom: 15px;
            }
        }
        
        .setContent {
            .noProduct {
                width: 100%;
                text-align: center;
                font-size: $font-size-base;
                color: $gray-light;
                padding-top: 110px;
            }
        }
        
        .uploadLine {
            width: 100%;
            height: 1px;
            background: $e3;
        }
        
        .newProduct {
            font-size: 0px;
            border: 1px solid $gray-light;
            width: 120px;
            height: 30px;
            line-height: 28px;
            display: inline-block;
            vertical-align: top;
            padding-left: 16px;
            position: absolute;
            right: 150px;
            border-radius: 4px;
            cursor: pointer;
            top: 27px;
            &:hover {
                border: 1px solid $red-base;
                background: $red-base;
                color: white;
                div {
                    background-position: 0px -14px;
                }
                span {
                    color: white;
                }
            }
            div {
                display: inline-block;
                vertical-align: top;
                background: url(/resources/images/provider/add.png);
                background-size: 14px 28px;
                width: 14px;
                height: 14px;
                position: relative;
                top: 6px;
                margin-right: 10px;
            }
            span {
                display: inline-block;
                vertical-align: top;
                font-size: $font-size-base;
                color: $gray-dark;
            }
        }
        
        .moreUp {
            cursor: pointer;
            font-size: 0px;
            border: 1px solid $gray-light;
            width: 140px;
            height: 30px;
            line-height: 28px;
            display: inline-block;
            vertical-align: top;
            padding-left: 16px;
            position: absolute;
            right: 0px;
            border-radius: 4px;
            top: 27px;
            &:hover {
                border: 1px solid $red-base;
                background: $red-base;
                color: white;
                div {
                    background-position: 0px -14px;
                }
                span {
                    color: white;
                }
            }
            div {
                display: inline-block;
                vertical-align: top;
                background: url(/resources/images/provider/moreUp.png);
                background-size: 14px 28px;
                width: 14px;
                height: 14px;
                position: relative;
                top: 6px;
                margin-right: 10px;
            }
            span {
                display: inline-block;
                vertical-align: top;
                font-size: $font-size-base;
                color: $gray-dark;
            }
        }
        
        //视频卡
        .productCard:last-child {
            border: none;
        }
        
        .productCard {
            position: relative;
            margin-left: 20px;
            border-bottom: 1px solid $e;
            padding-top: 11px;
            padding-bottom: 11px;
            .media-object {
                width: 200px;
                height: 115px;
                border-radius: 6px;
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
            }
            .playIcon {
                position: absolute;
                top: 50px;
                left: 80px;
                cursor: pointer;
                width: 40px;
            }
            .mid {
                display: inline-block;
                vertical-align: top;
            }
        }
        
        .nC {
            .title {
                position: relative;
                top: 50px;
                z-index: 5;
            }
            .content {
                opacity: 0;
            }
        }
        
        .mid {
            margin-left: 18px;
            position: relative;
            .title {
                font-size: 0;
                line-height: $font-size-base;
                span {
                    display: inline-block;
                    vertical-align: top;
                }
                span:nth-child(1) {
                    font-size: $font-size-base;
                    color: $gray-light;
                    margin-right: 8px;
                    line-height: $font-size-base;
                }
                span:nth-child(2) {
                    font-size: $font-size-base;
                    color: $gray-dark;
                    width: 300px;
                    @media screen and (min-width: 970px) {
                        width: 250px !important;
                    }
                    @media screen and (min-width: 700px) and (max-width: 893px) {
                        width: 130px !important;
                    }
                    @include ellipsis;
                }
            }
            .content {
                margin-top: 8px;
                div {
                    display: inline-block;
                    vertical-align: top;
                    font-size: $font-size-sm;
                    color: $red-base;
                }
                div:nth-child(2) {
                    display: inline-block;
                    margin-left: 8px;
                    height: 64px;
                    width: 100px;
                    overflow: hidden;
                    font-size: $font-size-sm;
                    color: $red-base;
                    line-height: 13px;
                    @media screen and (min-width: 761px) and (max-width: 893px) {
                        width: 210px;
                    }
                    @media screen and (min-width: 970px) {
                        width: 310px;
                    }
                }
            }
            .noneUse {
                li {
                    left: -45px !important;
                }
            }
            ul {
                margin-top: 10px;
                width: 90px;
                height: 20px;
                border: 6px;
                overflow: hidden;
                font-size: 0;
                border-radius: 4px;
                position: relative;
                white-space: nowrap;
                margin-top: -5px;
                top: 13px;
                transition: all .4s linear .4s;
                -moz-transition: all .4s linear .4s;
                /* Firefox 4 */
                -webkit-transition: all .4s linear .4s;
                /* Safari 和 Chrome */
                -o-transition: all .4s linear .4s;
                border: 1px solid $border-line;
                cursor: pointer;
                display: inline-block;
                vertical-align: top;
                li {
                    width: 45px;
                    height: 100%;
                    font-size: 12px;
                    color: white;
                    text-align: center;
                    line-height: 18px;
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    left: 0px;
                    transition: all .1s linear .1s;
                    -moz-transition: all .1s linear .1s;
                    /* Firefox 4 */
                    -webkit-transition: all .1s linear .1s;
                    /* Safari 和 Chrome */
                    -o-transition: all .1s linear .1s;
                }
                li:nth-child(1) {
                    background: #33d8b5;
                }
                li:nth-child(3) {
                    background: $red-base;
                }
            }
        }
        
        .lastContent {
            position: absolute;
            right: 0px;
            top: 0px;
            .edit {
                width: 70px;
                height: 36px;
                border-radius: 4px;
                font-size: 0;
                border: 1px solid $gray-light;
                cursor: pointer;
                line-height: 36px;
                text-align: center;
                position: absolute;
                right: 80px;
                top: 50px;
                background: transparent !important;
                &:hover {
                    background: $red-base !important;
                    border: 1px solid $red-base;
                    div:nth-child(1) {
                        background-position: 0px -14px;
                    }
                    div:nth-child(2) {
                        color: white;
                    }
                }
                div {
                    display: inline-block;
                    overflow: top;
                }
                div:nth-child(1) {
                    background: url(/resources/images/provider/edit.png);
                    background-size: 14px 28px;
                    height: 14px;
                    width: 14px;
                    margin-right: 5px;
                    position: relative;
                    top: 2px;
                }
                div:nth-child(2) {
                    font-size: $font-size-base;
                    color: $gray-dark;
                }
            }
            .del {
                width: 70px;
                height: 36px;
                border-radius: 4px;
                font-size: 0;
                position: absolute;
                right: 0px;
                border: 1px solid $gray-light;
                cursor: pointer;
                line-height: 36px;
                text-align: center;
                right: 0px;
                top: 50px;
                background: transparent !important;
                color: $gray;
                &:hover {
                    background: $gray-light !important;
                    div:nth-child(1) {
                        background-position: 0px -14px;
                    }
                    div:nth-child(2) {
                        color: white !important;
                    }
                }
                div {
                    display: inline-block;
                    overflow: top;
                }
                div:nth-child(1) {
                    background: url(/resources/images/provider/del.png);
                    background-size: 14px 28px;
                    height: 14px;
                    width: 14px;
                    margin-right: 5px;
                    position: relative;
                    top: 2px;
                }
                div:nth-child(2) {
                    font-size: $font-size-base;
                    color: $gray-dark;
                    background: transparent !important;
                }
            }
        }
        
        //step3 上传step2
        //step2
        .upProgress {
            font-size: $font-size-sm;
            color: $gray;
            margin-bottom: 25px;
            position: relative;
        }
        
        .progress {
            height: 16px;
            border-radius: 90px;
            margin-top: 8px;
            margin-bottom: 0px !important;
        }
        
        .progress-bar {
            /*     background-color: #337ab7;
background-image: none !important; */
        }
        
        .upIng {
            position: absolute;
            font-size: $font-size-sm;
            color: $gray;
            right: -90px;
            top: 20px;
        }
        
        .upSuccess {
            position: absolute;
            font-size: $font-size-sm;
            color: $gray;
            right: -90px;
            top: 13px;
            img {
                position: relative;
                top: 3px;
                margin-right: 10px;
            }
        }
        
        .upError {
            position: absolute;
            font-size: $font-size-sm;
            color: $gray;
            right: -80px;
            top: 20px;
            img {
                position: relative;
                top: 2px;
                margin-right: 10px;
            }
        }
        
        .noItem {
            &:after {
                content: "*";
                position: absolute;
                color: $red-base;
                font-size: $font-size-base;
                top: 0px;
                right: 0px;
                display: none !important;
            }
            &:before {
                content: "错误";
                position: absolute;
                color: $red-base;
                font-size: $font-size-base;
                top: 0px;
                right: 0px;
                display: none !important;
            }
        }
        
        .proItem {
            width: 650px;
            font-size: 0;
            margin-bottom: 30px;
            position: relative;
            &:after {
                content: "*";
                position: absolute;
                color: $red-base;
                font-size: $font-size-base;
                top: 14px;
                right: 0px;
            }
            &:before {
                content: attr(data-content);
                position: absolute;
                color: $red-base;
                font-size: $font-size-sm;
                top: 45px;
                left: 106px;
            }
            .itemTitle {
                font-size: $font-size-base;
                color: $gray-dark;
                margin-right: 30px;
                display: inline-block;
                vertical-align: top;
                position: relative;
                top: 10px;
                width: 60px;
            }
            .upload_filed_area {
                display: inline-block;
                vertical-align: top;
            }
            input {
                font-size: $font-size-base;
                color: $gray-dark;
                width: 540px;
                display: inline-block;
                vertical-align: top;
                height: 36px;
                border: 1px solid $border-line;
                border-radius: 4px;
                line-height: 34px;
                outline: none;
                padding-left: 20px;
            }
            ul {
                display: inline-block;
                vertical-align: top;
                font-size: 0;
                .upBanner {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 30px;
                }
                .findEx {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    top: 10px;
                    font-size: $font-size-base;
                    color: $red-base;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .upBanner {
                    width: 120px;
                    height: 36px;
                    border: 1px solid $gray-light;
                    color: $gray-dark;
                    font-size: $font-size-base;
                    text-align: center;
                    line-height: 34px;
                    display: inline-block;
                    vertical-align: top;
                    border-radius: 4px;
                    &:hover {
                        border: 1px solid $red-base;
                    }
                }
                img {
                    height: 115px;
                    width: 200px;
                    margin-top: 30px;
                    margin-bottom: 12px;
                    border-radius: 6px;
                }
                span {
                    font-size: $font-size-sm;
                    color: $gray-light;
                }
                label {
                    color: $red-base;
                }
            }
        }
        
        .bottomUp {
            width: 270px;
            margin: 0 auto;
            margin-top: 90px;
            position: relative;
            font-size: 0;
            .stateInfo {
                font-size: $font-size-sm;
                color: $red-base;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .submit {
                width: 120px;
                height: 36px;
                line-height: 36px;
                color: white;
                font-size: $font-size-base;
                display: inline-block;
                vertical-align: top;
                text-align: center;
                border-radius: 4px;
                background: $red-base;
                margin-right: 30px;
            }
            .cancle {
                width: 120px;
                height: 36px;
                line-height: 36px;
                color: white;
                font-size: $font-size-base;
                display: inline-block;
                vertical-align: top;
                border-radius: 4px;
                text-align: center;
                background: $gray-light;
            }
        }
        
        .bottom-div {
            position: relative;
            width: 270px;
            font-size: 0;
            margin: 0 auto;
            margin-top: 40px;
        }
        
        .red-btn {
            width: 120px;
            height: 36px;
            background-color: $red-base;
            border-color: $white;
            border-radius: 4px;
            border: none;
            color: $white;
            line-height: 34px;
            font-size: $font-size-base;
            border: none;
            outline: none;
            vertical-align: top;
            display: inline-block;
            margin-right: 30px;
            &:hover {
                background-color: $gray;
                color: #fff;
                cursor: pointer;
            }
        }
        
        .gy-btn {
            width: 120px;
            height: 36px;
            background-color: $gray-light;
            border-color: $white;
            border-radius: 4px;
            border: none;
            color: $white;
            line-height: 34px;
            font-size: $font-size-base;
            border: none;
            outline: none;
            vertical-align: top;
            display: inline-block;
            &:hover {
                background-color: darken($gray-light, 10%);
                color: #fff;
                cursor: pointer;
            }
        }
        
        .showErrorUp {
            color: $red-base;
            font-size: $font-size-base;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            display: none;
        }
        
        .tooltip-check .checkCard {
            height: 235px;
            width: 500px;
            top: 50%;
            left: 50%;
            margin-left: -250px;
            margin-top: -130px;
            position: relative;
            background: white;
            border-radius: 6px;
            .closeCheck {
                width: 14px;
                height: 14px;
                font-size: $font-size-base;
                color: $gray;
                text-align: center;
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
                background: url(/resources/images/icons/close.png);
                &:hover {
                    background-position: 0 -14px;
                }
            }
            .checkInfo {
                font-size: $font-size-base;
                color: $red-base;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;
                padding-top: 100px;
                height: 150px;
                width: 350px;
                margin: 0 auto;
            }
            .checkBottom {
                width: 160px;
                margin: 0 auto;
                margin-top: 20px;
                .sureCheck {
                    width: 70px;
                    height: 30px;
                    color: white;
                    background: $red-base;
                    font-size: $font-size-base;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    line-height: 30px;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .falseCheck {
                    width: 70px;
                    height: 30px;
                    color: white;
                    background: $gray;
                    font-size: $font-size-base;
                    display: inline-block;
                    vertical-align: top;
                    line-height: 30px;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
        
        .tooltip-wati,
        .tooltip-check,
        .tooltip-warn-up {
            background: rgba(0, 0, 0, 0.8);
            text-align: center;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            overflow: hidden;
            z-index: 80;
            display: none;
            .infoCard {
                height: 424px;
                width: 600px;
                position: absolute;
                background: white;
                border-radius: 4px;
                top: 160px;
                left: 50%;
                margin-left: -300px;
                text-align: left;
                padding-left: 30px;
                padding-right: 30px;
                .closeX {
                    position: absolute;
                    right: 30px;
                    color: $gray-light;
                    font-size: $font-size-lg;
                    text-align: left;
                    top: 20px;
                    cursor: pointer;
                    height: 14px;
                    width: 14px;
                    background: url(/resources/images/icons/close.png);
                    &:hover {
                        background-position: 0px -14px;
                    }
                }
                .title {
                    color: $red-base;
                    font-size: $font-size-base;
                    font-weight: bold;
                    margin-top: 44px;
                    margin-bottom: 16px;
                }
                .botWord {
                    color: $red-base;
                    font-size: $font-size-sm;
                    margin-top: 14px;
                    margin-bottom: 34px;
                }
                .midWord {
                    color: $gray;
                    font-size: $font-size-sm;
                    margin-top: 4px;
                    margin-bottom: 12px;
                    line-height: 18px;
                }
                .bottom {
                    text-align: center;
                    width: 170px;
                    margin: 0 auto;
                    div {
                        border-radius: 4px;
                        color: $gray-dark;
                        text-align: center;
                        width: 70px;
                        height: 36px;
                        line-height: 34px;
                        font-size: $font-size-base;
                        margin-left: 10px;
                        cursor: pointer;
                        display: inline-block;
                        vertical-align: top;
                        color: white;
                        background: $red-base;
                        &:hover {
                            color: white;
                            background: darken($red-base, 10%);
                        }
                    }
                    div:nth-child(2) {
                        color: white;
                        background: $gray-light !important;
                        &:hover {
                            color: white;
                            background: darken($gray-light, 10%) !important;
                        }
                    }
                }
            }
        }
