        @import "common";
        @import "buttons";
        @import "video";
        @import "bootstrap-grid";
        $green:#2ad2ae;
        body {
            background: $f0 !important;
        }
        
        .page {
            background: $f0 !important;
        }
        
        button,
        .form-control {
            /* border-color: #66afe9; */
            &:focus {
                outline: none;
                border-color: #ccc !important;
                box-shadow: none !important;
            }
        }
        
        .nav .logo {
            background: url(/resources/images/common/logo.svg) no-repeat;
        }
        
        .step {
            @include media_screen_width_beta3();
            margin: 0 auto;
            position: relative;
            top: 60px;
            margin-bottom: 50px;
            border: 1px solid #d1d1d1;
            border-radius: 4px;
        }
        
        .foot3 {
            top: 120px;
        }
        
        .noStar {
            &:after {
                content: "" !important;
            }
        }
        
        .input-group-div {
            width: 650px;
            position: relative;
            margin-left: 64px;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                margin-left: 190px;
            }
            @media screen and (min-width:1500px) {
                margin-left: 325px;
            }
            &:after {
                content: "*";
                position: absolute;
                color: $red-base;
                right: -12px;
                top: 9px;
            }
            &:before {
                content: attr(data-content);
                position: absolute;
                color: $red-base;
                left: 96px;
                bottom: 9px;
                font-size: $font-size-sm;
            }
            .radioDiv {
                vertical-align: baseline;
                display: inline-block;
                label {
                    font-size: $font-size-base;
                    color: $gray-dark;
                    margin-left: 30px;
                }
                label:nth-child(2) {
                    margin-left: 50px;
                }
                input {
                    margin-right: 10px;
                    position: relative;
                    top: 1px;
                    display: table-column;
                }
            }
        }
        
        .checkInfo {
            font-size: $font-size-sm;
            color: $gray-light;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 5px;
        }
        
        .checkbox {
            display: inline-block;
            margin-bottom: -10px;
        }
        
        .checkTitle {
            font-size: $font-size-base;
            color: $gray-dark;
            margin-left: 90px;
        }
        
        .ul-step-two {
            display: inline-block;
            width: 555px;
            position: relative;
            top: -12px;
            left: -9px;
            cursor: pointer;
            font-size: 0;
            margin-left: 90px;
            li {
                line-height: 20px;
                display: inline-block;
                vertical-align: top;
                margin-bottom: 10px;
                border-left-top: 0px !important;
                border-right-top: 0px !important;
                div {
                    width: 125px;
                    height: 30px;
                    line-height: 28px;
                    color: $gray;
                    border-radius: 4px;
                    border: 1px solid $border-line;
                    font-size: $font-size-base;
                    margin-left: 10px;
                    text-align: center;
                }
            }
            .redTag {
                background: $red-base;
                color: white;
            }
        }
        
        .border-none {
            border: none;
            border-radius: 0px;
            background: none;
        }
        
        .step-one-input {
            width: 540px;
            height: 36px;
            display: inline-block;
            color: $gray-dark;
            font-size: $font-size-base;
            outline: none;
        }
        
        .leaderSelect {
            display: inline-block;
            width: 540px;
            .carets {
                height: 15px;
                width: 15px;
                background: url("/resources/images/index/selectIcon.png") no-repeat !important;
                position: absolute;
                right: 20px;
                top: 10px;
            }
            ul {
                width: 100%;
                padding: 0px;
                margin: 0px;
                top: 30px;
                max-height: 400px;
                overflow: auto;
                border-top-right-radius: 0px !important;
                border-top-left-radius: 0px !important;
            }
            li {
                width: 100%;
                height: 35px;
                line-height: 35px;
                padding: 0px;
                margin: 0px;
                padding-left: 12px;
                &:hover {
                    background: $f0;
                }
            }
        }
        
        .step-two-select {
            width: 540px;
            height: 35px;
            display: inline-block;
            color: $gray-dark;
            font-size: $font-size-base;
            border-radius: 5px;
            border: 1px solid $border-line;
            text-align: left;
            &:focus {
                outline: none;
                border-color: #66afe9;
            }
        }
        
        .select-city {
            width: 200px !important;
        }
        
        .step-two-select-city {
            width: 200px !important;
            height: 35px;
            display: inline-block;
            color: $gray-dark;
            font-size: $font-size-base;
            border-radius: 5px;
            border: 1px solid $border-line;
            text-align: left;
            &:focus {
                outline: none;
                border-color: #66afe9;
            }
        }
        
        .title-word {
            display: inline-block;
            height: 50px;
            width: 90px;
            font-size: $font-size-base;
            color: $gray-dark;
        }
        
        .title-word-city {
            display: inline-block;
            height: 50px;
            width: 77px;
            font-size: $font-size-base;
            color: $gray-dark;
            position: relative;
            left: 10px;
            margin-left: 55px;
        }
        
        .error-word {
            display: inline-block;
            height: 50px;
            font-size: $font-size-sm;
            color: $red-base;
        }
        
        .error-area-word {
            display: inline-block;
            height: 50px;
            font-size: $font-size-sm;
            color: $red-base;
            vertical-align: top;
            position: relative;
            top: 11px;
        }
        
        .title-checkbox-word {
            display: inline-block;
            height: 50px;
            width: 90px;
            font-size: $font-size-base;
            color: $gray-dark;
            vertical-align: top;
            position: relative;
            top: 6px;
        }
        
        .step-area {
            display: inline-block;
            width: 540px;
            height: 108px;
            resize: none;
            margin-bottom: 28px;
            padding: 2px 10px 2px 10px;
        }
        
        .bot-area {
            margin-top: 0px;
        }
        
        .bottom-div {
            position: relative;
            width: 270px;
            font-size: 0;
            margin: 0 auto;
            margin-top: 40px;
            //left: 10px;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                //  left: 20px;
            }
            @media screen and (min-width:1500px) {
                //  left: 30px;
            }
        }
        
        .setMid {
            width: 120px;
            margin: 0 auto;
        }
        
        .margin-left {
            margin-left: 323px !important;
        }
        
        .red-btn {
            width: 120px;
            height: 36px;
            background-color: $red-base;
            border-color: $white;
            border-radius: 4px;
            border: none;
            color: $white;
            line-height: 34px;
            font-size: $font-size-base;
            border: none;
            outline: none;
            &:hover {
                background-color: $gray;
                color: #fff;
                cursor: pointer;
            }
        }
        
        .gy-btn {
            width: 120px;
            height: 36px;
            background-color: $gray-light;
            border-color: $white;
            border-radius: 4px;
            border: none;
            color: $white;
            line-height: 34px;
            font-size: $font-size-base;
            margin-right: 30px;
            border: none;
            outline: none;
            display: inline-block;
            vertical-align: top;
            &:hover {
                background-color: darken($gray-light, 10%);
                color: #fff;
                cursor: pointer;
            }
        }
        
        .step-three-title {
            font-size: $font-size-lg;
            color: black;
            font-weight: bold;
        }
        
        .step-three-time {
            font-size: $font-size-base;
            color: $red-base;
            font-weight: bold;
            margin-left: 20px;
        }
        
        .step-three-word {
            font-size: $font-size-sm;
            color: $gray-light;
            padding-left: 5px;
        }
        
        .step-three-word-top {
            font-size: $font-size-base;
            color: $red-base;
            cursor: pointer;
            &:hover {
                color: $red-base;
                cursor: pointer;
            }
        }
        
        .step-title {
            @include media_screen_width($about-us-width-min,
            $about-us-width-middle,
            $about-us-width-lg);
            margin: 0 auto;
            position: relative;
            top: 0px;
            .fsstep {
                width: 200px;
                height: 50px;
                display: inline-block;
            }
            .red {
                background: $red-base;
            }
            .gray {
                background: $gray;
            }
        }
        
        .step-bar {
            height: 120px;
            margin: 0 auto;
            line-height: 40px;
            font-size: 0;
            text-align: center;
            background: $f8;
            padding-top: 30px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            .line {
                height: 4px;
                width: 175px;
                background: $cb;
                margin-left: 18px;
                margin-right: 18px;
                position: relative;
                top: -3px;
            }
            .first {
                color: white;
                font-size: $font-size;
                width: 40px;
                height: 40px;
                background: $cb;
                border-radius: 90px;
                position: relative;
                transition: all .8s ease-in-out .8s;
                -moz-transition: all .8s ease-in-out .8s;
                /* Firefox 4 */
                -webkit-transition: all .8s ease-in-out .8s;
                /* Safari 和 Chrome */
                -o-transition: all .8s ease-in-out .8s;
                &:after {
                    content: attr(data-content);
                    color: $gray;
                    font-size: $font-size-sm;
                    position: absolute;
                    width: 100px;
                    bottom: -38px;
                    left: -28px;
                }
            }
        }
        
        .step-bar > div {
            color: #888;
            font-size: 14px;
            display: inline-block;
            width: 50%;
            text-align: center;
        }
        
        .step-1 {
            background: $red-base !important;
        }
        
        .step-one-div {
            border-top: none;
            background: white;
            padding-bottom: 60px;
        }
        
        .step-two-div {
            border-top: none;
            padding-top: 60px;
            padding-bottom: 60px;
            background: white;
            display: none;
        }
        
        .example {
            padding-top: 10px !important;
            .upload-info {
                margin-top: 2px !important;
            }
        }
        
        .updateLogo {
            width: 650px;
            padding-top: 60px;
            margin-bottom: 60px;
            margin-left: 64px;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                margin-left: 190px;
            }
            @media screen and (min-width:1500px) {
                margin-left: 325px;
            }
            .title {
                display: inline-block;
                vertical-align: top;
                width: 90px;
                font-size: $font-size-base;
                color: $gray-dark;
                line-height: 20px;
            }
            .logoItem {
                vertical-align: top;
                display: inline-block;
                margin-right: 25px;
                .findLogo {
                    font-size: $font-size-sm;
                    color: $red-base;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
        
        .user-img-content {
            width: 500px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            img {
                width: 120px;
                height: 120px;
                border-radius: 4px !important;
            }
            &:before {
                content: attr(data-content);
                position: absolute;
                font-size: $font-size-sm;
                color: $red-base;
                bottom: -15px;
                left: 13px;
            }
        }
        
        .upload-info {
            width: 100%;
            color: $gray-light;
            font-size: $font-size-sm;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        #uploadBt,
        #uploadYE,
        #uploadZCard,
        #uploadBCard {
            .webuploader-pick {
                width: 120px;
                height: 36px;
                border: 1px solid $gray-light;
                line-height: 16px;
                color: $gray-dark;
                border-radius: 4px;
                text-align: center;
                background: transparent !important;
                padding: 10px 5px !important;
            }
            .webuploader-pick-hover {
                color: white;
                border: 1px solid $red-base;
                background: $red-base !important;
            }
        }
        
        .borderLine {
            width: 690px;
            height: 1px;
            margin: 0 auto;
            margin-top: 15px;
            margin-bottom: 40px;
            background: #eee;
        }
        
        .ul-step-three {
            text-align: center;
            .title {
                color: $gray-dark;
                font-size: $font-size;
                padding: 5px;
            }
            .info {
                color: $gray-light;
                font-size: $font-size-sm;
                margin-top: 12px;
                margin-bottom: 65px;
                line-height: 20px;
            }
        }
        
        .stepThreeLi {
            div {
                width: 120px;
                height: 36px;
                color: white;
                font-size: $font-size-base;
                line-height: 36px;
                text-align: center;
                margin: 0 auto;
                border-radius: 4px;
            }
        }
        
        .errorL {
            border: 1px solid $red-base !important;
            &:focus {
                border-color: $red-base;
            }
        }
        
        .infoCard {
            height: auto;
            background: white;
            border-radius: 4px;
            text-align: left;
            padding-left: 30px;
            padding-right: 30px;
            display: inline-block;
            vertical-align: top;
            width: 450px;
            padding-left: 30px;
            margin-bottom: 30px;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                width: 500px;
                padding-left: 100px;
            }
            @media screen and (min-width: 1500px) {
                width: 600px;
                padding-left: 100px;
            }
            .closeX {
                position: absolute;
                right: 26px;
                color: $gray-light;
                font-size: $font-size-lg;
                text-align: left;
                top: 10px;
                cursor: pointer;
                &:hover {
                    color: $gray-dark;
                }
            }
            .title {
                color: $red-base;
                font-size: $font-size-base;
                font-weight: bold;
                margin-top: 44px;
                margin-bottom: 16px;
            }
            .redWord {
                color: $red-base;
                font-size: $font-size-sm;
                position: relative;
                padding-left: 15px;
                margin-bottom: 8px;
                line-height: 15px;
                &:after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: $red-base;
                    border-radius: 90px;
                    top: 3px;
                    left: 2px;
                }
            }
            .grayWord {
                color: $gray;
                font-size: $font-size-sm;
                position: relative;
                padding-left: 15px;
                margin-bottom: 8px;
                &:after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: $gray;
                    border-radius: 90px;
                    top: 3px;
                    left: 2px;
                }
            }
            .botWord {
                color: $red-base;
                font-size: $font-size-sm;
                margin-top: 14px;
                margin-bottom: 20px;
            }
            .midWord {
                color: $gray;
                font-size: $font-size-sm;
                margin-top: 4px;
                margin-bottom: 12px;
                line-height: 18px;
            }
            .bottom {
                text-align: center;
                width: 170px;
                margin: 0 auto;
                div {
                    border-radius: 4px;
                    border: 1px solid $gray-light;
                    color: $gray-dark;
                    text-align: center;
                    width: 70px;
                    height: 36px;
                    line-height: 34px;
                    font-size: $font-size-base;
                    margin-left: 10px;
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: top;
                    &:hover {
                        color: white;
                        background: $red-base;
                        border: 1px solid $red-base;
                    }
                }
            }
        }
        
        //示例
        .verBanner {
            .card {
                width: 490px !important;
                height: 520px !important;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -260px !important;
                margin-left: -245px !important;
            }
        }
        
        .tooltip-warn-banner {
            background: rgba(0, 0, 0, 0.8);
            text-align: center;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            overflow: hidden;
            z-index: 80;
            display: none;
            .card {
                width: 680px;
                height: 420px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -210px;
                margin-left: -340px;
                background: #f0f2f5;
                border-radius: 4px;
            }
            .top {
                height: 33px;
                border-bottom: 1px solid $border-line;
            }
            .topBanner {
                height: 14px;
                width: 14px;
                color: $gray;
                font-size: $font-size-base;
                cursor: pointer;
                background: url(/resources/images/icons/close.png);
                position: absolute;
                right: 15px;
                top: 10px;
                &:hover {
                    background-position: 0px -14px;
                }
            }
            .imgContent {
                padding: 14px;
                img {
                    border-radius: 4px;
                }
            }
        }
        
        //隐藏
        .hideStep {
            display: none;
        }
