/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 14px;
    color: #333;
    background: #fff;
    font-family: "Microsoft Yahei";
    height: 100%;
    min-width: 1260px;
}

ul li {
    list-style: none;
    vertical-align: bottom;
}

a,
span {
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: middle;
}

table {
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    overflow: hidden;
}

table tr {
    white-space: 0;
}

table tr td {
    vertical-align: middle;
}

.clear {
    clear: both;
}

h1,
h2,
h3,
h4 {
    line-height: 100%;
}

:focus {
    outline: none;
}

a,
area {
    blr: expression(this.onFocus=this.blur());
}

.container {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}


/*-------=调用head 与foot 公共的部分样式的修改---------------------------*/

.header-item {
    font-size: 1rem !important;
}

.headerMove .menu-bar .middle-part input {
    font-size: 0.2rem !important;
}

.menu-bar>.right-part {
    right: 56px !important;
}

.foot3 .footContent .contentTop .topItem .smWord {
    font-size: 0.2rem;
}

.foot3 .title a {
    font-size: 1.2rem;
}

.foot3 .footContent .contentTop .topItem {
    font-size: 0.2rem;
}

.foot3 .footContent .contentBottom div {
    font-size: 0.2rem;
}

.foot3 .footContent .contentBottom div:first-child {
    font-size: 1.2rem;
}

.cOrder .cOrderTitle {
    font-size: 1.2rem;
}

.dropdowns span {
    font-size: 1rem;
}

.cOrder .cOrderItem input {
    font-size: 1rem;
}

.cOrder .cOrderItem div {
    font-size: 1rem;
}

.cOrder .cOrderBtn {
    font-size: 1.2rem;
}

.cOrder .cOrderBotTitle {
    font-size: 1rem;
}


/* ------------head部分的样式-------------- */

.top {
    height: 40px;
    padding-top: 10px;
    width: 100%;
    background: rgba(255, 255, 255, .96);
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    z-index: 999;
}

.top2 {
    width: 100%;
    height: 50px;
    background: #fff;
}

.logo {
    width: 100px;
    height: 30px;
}

.nav {
    zoom: 1;
    overflow: hidden;
    width: 1000px;
    text-align: right;
}

.nav li {
    display: inline-block;
    line-height: 30px;
    padding: 0 18px;
}

.nav li a:hover {
    color: #fe5453;
}

.banner img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.nav li span {
    font-weight: bold;
    color: #f00;
    font-size: 16px;
}


/* banner css */

.slideBox {
    width: 100%;
    height: auto;
    position: relative;
}

.slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 25px;
    z-index: 1;
    width: 100%;
}

.slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    text-align: center;
}

.slideBox .hd ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 12px;
    line-height: 14px;
    text-align: center;
    background: #fff;
    cursor: pointer;
}

.slideBox .hd ul li.on {
    background: #f00;
    color: #fff;
}

.slideBox .bd {
    position: relative;
    width: 100%;
    z-index: 0;
}

.slideBox .bd img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    display: block;
}


/* 下面是前/后按钮代码，如果不需要删除即可 */

.slideBox .prev,
.slideBox .next {
    position: absolute;
    left: 2%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(../images/slider-arrow.png) -110px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.slideBox .next {
    left: auto;
    right: 2%;
    background-position: 8px 5px;
}

.slideBox .prev:hover,
.slideBox .next:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.slideBox .prevStop {
    display: none;
}

.slideBox .nextStop {
    display: none;
}

.djs {
    background: #222;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
}

.djs span {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.main_1 {
    height: 428px;
    background: url(../images/main_1.png) no-repeat top center;
}

.main_2 {
    height: 1070px;
    /* background: url(../images/main_2.jpg) no-repeat top center; */
}

.main_2 .boxtitle {
    width: 1038px;
    margin: 0 auto;
    height: 100px;
    background: url(../images/boxtitle.png) no-repeat top center;
    margin-top: 36px;
}

.main_2 .twobox {
    width: 1038px;
    margin: 0 auto;
    height: 640px;
    margin-top: 6%;
}

.main_2 .twobox .left {
    width: 24%;
    height: 113%;
    display: inline-block;
    border: 1px solid #E7E7E7;
}

.main_2 .twobox .left:hover {
    box-shadow: 0px 0px 15px #f6b843;
}

.main_2 .twobox .left .topp {
    width: 100%;
    height: 29%;
    position: relative;
    top: -14%;
    background: url(../images/nu1.png) no-repeat top center;
}

.main_2 .twobox .left:nth-child(2) .topp {
    background: url(../images/nu2.png) no-repeat top center;
}

.main_2 .twobox .left:nth-child(3) .topp {
    background: url(../images/nu3.png) no-repeat top center;
}

.main_2 .twobox .left:nth-child(4) .topp {
    background: url(../images/nu4.png) no-repeat top center;
}

.main_2 .twobox .left .center {
    width: 100%;
    height: 79%;
    position: relative;
    top: -13%;
    background: url(../images/num1.png) no-repeat top center;
}

.main_2 .twobox .left:nth-child(2) .center {
    background: url(../images/num2.png) no-repeat top center;
}

.main_2 .twobox .left:nth-child(3) .center {
    background: url(../images/num3.png) no-repeat top center;
}

.main_2 .twobox .left:nth-child(4) .center {
    background: url(../images/num4.png) no-repeat top center;
}

.main_2 .twobox .left .bot {
    width: 100%;
    height: 10%;
    position: relative;
    top: -13%;
    background: url(../images/zx.png) no-repeat top center;
    cursor: pointer;
}

.main_2 .twobox .left .bot a {
    display: block;
    width: 100%;
    height: 100%;
}

.main_3 {
    height: 409px;
    background: url(../images/main_3.jpg) no-repeat top center;
}

.main_4 {
    height: 468px;
    background: url(../images/main_4.jpg) no-repeat top center;
}

.main_22 {
    background: #fff;
    height: 300px;
}

.data {
    padding: 60px 0 0 220px;
}

.data li {
    display: inline-block;
    text-align: left;
    width: 300px;
    font-size: 14px;
    line-height: 240%;
}

.data li span {
    font-weight: bold;
    font-size: 42px;
}

.menu {
    display: none;
}

.case_list {
    zoom: 1;
    overflow: hidden;
    padding: 42px 0;
}

.case_list li {
    width: 388px;
    margin-left: 18px;
    float: left;
    position: relative;
}

.case_list li:first-child {
    margin-left: 0;
}

.case_list li img {
    width: 388px;
    height: 218px;
    vertical-align: bottom;
}

.case_list li span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, .65);
    color: #fff;
    font-size: 16px;
    line-height: 218px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
}

.case_list li:hover span {
    opacity: 1;
}

.zixun {
    margin-top: 55px;
    text-align: center;
    padding: 10px 0 56px;
}

.zixun a {
    display: inline-block;
    width: 243px;
    height: 62px;
    line-height: 47px;
    background: url(../images/one.jpg) no-repeat;
    margin: 0 25px;
    color: #fff;
    font-size: 16px;
}

.zixun .adv_active {
    background: url(../images/two.png) no-repeat;
}

.foot {
    text-align: center;
    padding: 50px 0 30px;
    background: #000;
    color: #fff;
    line-height: 24px;
    font-size: 12px;
}

.foot span {
    font-size: 16px;
}

.foot img {
    margin-bottom: 30px;
}

.video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 999;
}

.video_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.video_wrap video {
    position: absolute;
    width: 800px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin: -260px 0 0 -400px;
    background: #000;
    z-index: 1;
}

.close {
    position: absolute;
    right: 50px;
    top: 30px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}

.close:hover {
    transform: rotate(7deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -webkit-transform: rotate(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(180deg);
    /* Opera */
}

.inpbox {
    width: 1038px;
    margin: 0 auto;
    padding-top: 168px;
    padding-bottom: 50px;
    overflow: hidden;
}

.box-1 {
    width: 330px;
    height: 52px;
    background: url(../images/input.jpg) no-repeat;
    margin-right: 24px;
    position: relative;
    float: left;
}

.box-1 input {
    width: 310px;
    height: 52px;
    line-height: 52px;
    border: none;
    background: none;
    padding: 0 10px;
}

.noUserError {
    position: absolute;
    left: 10px;
    top: 54px;
    color: #eee;
    display: none;
}

.box-2 {
    width: 330px;
    height: 52px;
    background: url(../images/input.jpg) no-repeat;
    margin-right: 24px;
    position: relative;
    float: left;
}

.box-2 input#mob {
    width: 180px;
    height: 52px;
    line-height: 52px;
    border: none;
    background: none;
    padding: 0 10px;
    float: left;
}

.box-2 input.tab3 {
    width: 126px;
    height: 48px;
    margin: 2px;
    border: none;
    text-align: center;
    background: #f65757;
    color: #fff;
    float: right;
}

.sendPhoneError {
    position: absolute;
    left: 10px;
    top: 54px;
    color: #eee;
    display: none;
}

.box-3 {
    width: 330px;
    height: 52px;
    background: url(../images/input.jpg) no-repeat;
    position: relative;
    float: left;
}

.box-3 input {
    width: 310px;
    height: 52px;
    line-height: 52px;
    border: none;
    background: none;
    padding: 0 10px;
}

.sendCodeError {
    position: absolute;
    left: 10px;
    top: 54px;
    color: #eee;
    display: none;
}

.tijiao {
    text-align: center;
    padding: 20px 0 0;
    position: relative;
}

.tijiao input {
    width: 327px;
    height: 61px;
    background: url(../images/lijibaoming.png) no-repeat;
    border: none;
    cursor: pointer;
}

.sendResult {
    text-align: center;
    left: 0;
    top: 49px;
    color: #eee;
    display: none;
}

.myjQueryNav li {
    opacity: 0;
    margin-left: -190px;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 30%;
    background: url(../images/di.jpg) no-repeat -190px bottom;
}

.myjQueryNav li p {
    width: 190px;
    font-size: 12px;
    line-height: 18px;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    color: #ccc;
    padding: 12px 0;
    margin-bottom: 4px;
}

.myjQueryNav li p span {
    font-weight: bold;
    font-size: 14px;
    color: #eee;
}

.myjQueryNav li.current {
    animation: showname 5s linear forwards;
    -moz-animation: showname 5s linear forwards;
    -webkit-animation: showname 5s linear forwards;
    -o-animation: showname 5s linear forwards;
}

@keyframes showname {
    0% {
        opacity: 0;
        margin-left: -190px;
        background-position: -190px bottom;
    }
    10% {
        opacity: 1;
        margin-left: 0;
        background-position: -190px bottom;
    }
    80% {
        opacity: 1;
        margin-left: 0;
        background-position: 0 bottom;
    }
    100% {
        opacity: 0;
        margin-left: 0;
        background-position: 0 bottom;
    }
}

@-moz-keyframes showname {
    0% {
        opacity: 0;
        margin-left: -190px;
        background-position: -190px bottom;
    }
    10% {
        opacity: 1;
        margin-left: 0;
        background-position: -190px bottom;
    }
    80% {
        opacity: 1;
        margin-left: 0;
        background-position: 0 bottom;
    }
    100% {
        opacity: 0;
        margin-left: 0;
        background-position: 0 bottom;
    }
}

@-webkit-keyframes showname {
    0% {
        opacity: 0;
        margin-left: -190px;
        background-position: -190px bottom;
    }
    10% {
        opacity: 1;
        margin-left: 0;
        background-position: -190px bottom;
    }
    80% {
        opacity: 1;
        margin-left: 0;
        background-position: 0 bottom;
    }
    100% {
        opacity: 0;
        margin-left: 0;
        background-position: 0 bottom;
    }
}

@-o-keyframes showname {
    0% {
        opacity: 0;
        margin-left: -190px;
        background-position: -190px bottom;
    }
    10% {
        opacity: 1;
        margin-left: 0;
        background-position: -190px bottom;
    }
    80% {
        opacity: 1;
        margin-left: 0;
        background-position: 0 bottom;
    }
    100% {
        opacity: 0;
        margin-left: 0;
        background-position: 0 bottom;
    }
}