    @import "common";
    @import "buttons";
    @import "video";
    @import "flexslider";
    @import "compass/typography/text/ellipsis";
    $price-wrap-min: 236px;
    $price-wrap: 340px;
    $price-wrap-max: 460px;
    $order-width: 330px;
    $rightWidth:320px;
    body {
        height: auto;
    }
    
    .page {
        background: transparent !important;
    }
    
    ::selection {
        background: lighten(#333, 10%);
        color: $red-base;
    }
    
    ::-moz-selection {
        background: lighten(#333, 10%);
        color: $red-base;
    }
    
    ::-webkit-selection {
        background: lighten(#333, 10%);
        color: $red-base;
    }
    
    .titleTag {
        width: 100%;
        height: 60px;
        background: #f9fafb;
        .titleTagContent {
            @include media_screen_width_beta3();
            height: 100%;
            margin: 0 auto;
            div {
                display: inline-block;
                height: 100%;
                color: $gray-dark;
                font-size: $font-size-sm;
                line-height: 60px;
            }
            div:nth-child(2n) {
                color: $gray;
                font-size: $font-size-sm;
            }
        }
    }
    
    .tagImg,
    .tagsContent {
        display: inline-block;
        vertical-align: top;
    }
    
    .tagImg {
        width: 16px !important;
        position: relative;
        top: 3px;
        margin-right: 13px;
    }
    
    .contentWidth {
        @include media_screen_width_beta3();
        padding-top: 60px;
        margin: 0 auto;
        margin-bottom: 60px;
        font-size: 0;
        .leftContent {
            display: inline-block;
            vertical-align: top;
            width: $width-min - $rightWidth;
            border-right: 1px solid $border-line;
            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                width: $width-middle - $rightWidth;
            }
            @media screen and (min-width:1500px) {
                width: $width-lg3 - $rightWidth;
            }
            img,
            video {
                width: 100%;
            }
            p {
                margin: 0;
                padding: 0;
            }
            .title {
                font-size: 26px;
                color: $gray-dark;
                margin-bottom: 30px;
                overflow: hidden;
                margin-bottom: 20px;
                padding-right: 220px;
            }
            .setPro {
                padding-right: 220px;
                color: $gray-dark;
                font-size: $font-size-base;
                img {
                    width: $width-min - $rightWidth - 220px;
                    @media screen and (min-width: 1276px) and (max-width: 1500px) {
                        width: $width-middle - $rightWidth - 220px;
                    }
                    @media screen and (min-width:1500px) {
                        width: $width-lg3 - $rightWidth - 220px;
                    }
                }
            }
        }
        .tags {
            div {
                display: inline-block;
                vertical-align: top;
                color: $gray-light;
                font-size: $font-size-base;
            }
            .tagsContent {
                margin-right: 60px;
            }
        }
        .nofixed {
            bottom:450px;
        }

        .fixed{    	
            top: 175px;
        }

        .rightContent {
            display: inline-block;
            vertical-align: top;
            width: $rightWidth;
            padding-left: 40px;
            position: fixed;
            .title {
                font-size: $font-size-base;
                color: white;
                margin-bottom: 30px;
                overflow: hidden;
                position: relative;
                top: 10px;
                background: url(/resources/images/news/redBack.png) no-repeat;
                width: 164px;
                height: 36px;
                text-align: center;
                line-height: 30px;
            }
            .videoModel {
                margin-bottom: 30px;
                cursor: pointer;
                padding-left: 9px;
                &:hover {
                    label:first-child,
                    label:nth-child(2) {
                        color: $red-base !important;
                    }
                }
                label {
                    display: block;
                    font-weight: 500;
                }
                label:first-child {
                    font-size: $font-size !important;
                    color: $gray-dark !important;
                    cursor: pointer;
                    overflow: hidden;
                    @include ellipsis;
                    &:hover {
                        color: $red-base !important;
                    }
                }
                label:nth-child(2) {
                    font-size: $font-size-sm;
                    color: $gray-light;
                    margin-top: 16px;
                    margin-bottom: 12px;
                    height: 54px;
                    overflow: hidden;
                    cursor: pointer;
                    &:hover {
                        color: $red-base !important;
                    }
                }
                label:last-child {
                    font-size: $font-size-sm;
                    color: $red-base;
                    cursor: pointer;
                }
            }
        }
    }
