@import "variables";

$video-image-height: 270px; // 视频图片的高度
$video-image-height320: 180px; // 视频图片的高度(320px)
$video-image-height360: 202px; // 视频图片的高度(360px)
$video-image-height390: 220px; // 视频图片的高度(320px)
$video-image-height640: 360px; // 视频图片的高度(640px)
$video-image-height720: 405px; // 视频图片的高度(720px)

body {
	background: #000;
}
.outside-div {
	width: 100%;
	height: auto;
}


.logo-width{
	width:100%;
}

.logo {
	width: 90px;
	height: 30px;
	background:image-url("phone/icons/logo_black.png") no-repeat;
	background-size: 76px;
	margin: 20px auto;
  } 



.video-play-sections {
		position: relative;
		width: 100%;
		background:#000;

		height: $video-image-height;
		
		@media screen and (max-width: 360px) {
			height: $video-image-height320;
		}

		@media screen and (min-width: 360px) and (max-width: 390px) {
			height: $video-image-height360;
		}

		@media screen and (min-width: 390px) and (max-width: 460px) {
			height: $video-image-height390;
		}

		@media screen and (min-width: 640px) and (max-width: 720px) {
			height: $video-image-height640;
		}

		@media screen and (min-width: 720px) {
			height: $video-image-height720;
		}

		.video-play {
			width: 100%;
			height: 100%;
		}

		video {
			width: 100%;
			height: 100%;
			
		}
}		




.top-div {
	background: $white;
	background: #fff;
	width: 100%;
	height: auto;
	padding-top: 22px;
	

	.title-word {
		padding-left: 10px;
		font-size: 18px;
		font-weight: bold;
		color: black;
	}
	.title-content {
		margin-top: 19px;
		height:70px;
	}
}
.left-content {
	background: $white;
	width: 50%;
	height: 45px;
	padding-top: 15px;
	float: left;
	border-right: 3px solid $gold-yellow;

	.left-price {
		margin-left: 10px;
		font-size: 34px;
		font-weight: bold;
		color: $red-base;
	}
	.left-desc {
		font-size: 16px;
		color: $gray;
		margin-left: 5px;
		font-weight: 300;
	}
}
.right-content {
	background: $white;
	display: inline-block;
	width: 49%;
	height: 60px;
	float: right;

	.right-price {
		display: block;
		margin-left: 10px;
		font-size: 18px;
		font-weight: bold;
		color: black;
		font-weight: bold;
		padding-top: 8px;
	}
	.right-desc {
		font-size: 16px;
		color: $gray;
		font-weight: 300;
	}
}
.inside-div {
	width: 100%;
	height: auto;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling:touch;
}
.upload-window {
	position: fixed;
	z-index: 999999;
	height: 100%;
	width: 100%;
	display:none;
	overflow:hidden;
}

.closeVideo{
   height:30%;
   background:#000;
   opacity:0.75; 
	
}

.closeVideoBot{
   height:100%;
   background:#000;
   opacity:0.75; 
   
}

#closeBtn {
	float: right;
	margin-right: 5%;
	color: #fff;
	font-size: 30px;
	margin-top: 20px;
	background:#000;
	border:none;
	outline:none;
}
.close-icon{
	font-size:3.0rem;
	font-weight:lighter;
}

.margin-div{
	margin-top:22px;
}

.video-area-card {
    margin-top:5px;
	display: inline-block;
	width: 90%;
	height: auto;
	margin-left: 10px;
	border: 1px solid #ccc;
	background: $white;

	video-play-section {
		position: relative;
		width: 100%;
		height: $video-image-height720;
		opacity:1;

		@media screen and (max-width:360px) {
			height: $video-image-height720;
		}
		@media screen and (min-width:360px) and (max-width:390px) {
			height: $video-image-height720;
		}
		@media screen and (min-width:390px) and (max-width:460px) {
			height: $video-image-height720;
		}
		@media screen and (min-width:640px) and (max-width:720px) {
			height: $video-image-height720;
		}
		@media screen and (min-width:720px) {
			height: $video-image-height720;
		}
	}

	&:last-child{
	margin-right:10px;
	}
}
.video-content {
	position: relative;
	margin-top: 20px;

	.font-title {
		text-align: center;
		font-size: 18px;
		color: $gray-dark;
		font-weight: bold;
	}
	.font-content {

	    padding-top:10px;
		
		width: 80%;
		margin: 0 auto;
		color: $gray;
		height: 50px;
		white-space: normal;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size:14px;
		line-height:17px;
	}
	.video-btn {
		margin: 20px 10% 20px 10%;
		width: 80%;
		display: block;
		text-align: center;
		height: 40px;
		background-color: $red-base;
		border-color: $white;
		border-radius: 5px;
		border: none;
		color: $white;
		font-size: 24px;
		line-height: 40px;

		&:hover {
			background-color: $gray;
			color: $white;
			cursor: pointer;
		}
	}
}
