/* 手机端 主页 */
@import "compass/css3";
@import "constant";
@import "mixin";
@import "../common_portal";
@import "compass/typography/text/ellipsis";
@import "common";
@import "buttons";


$flexslider-section-height: 210px; // 轮播图区域高度(280px)
$flexslider-section-height320: 190px; // 轮播图区域高度(320px)
$flexslider-section-height640: 230px; // 轮播图区域高度(640px)
$flexslider-section-height720: 250px; // 轮播图区域高度(720px)
$activity-section-height: 315px; // 活动区域高度
$activity-section-height320: 241px; // 活动区域高度(320px)
$activity-section-height360: 262px; // 活动区域高度(360px)
$activity-section-height390: 278px; // 活动区域高度(390px)
$activity-section-height640: 412px; // 活动区域高度(640px)
$activity-section-height720: 455px; // 活动区域高度(720px)
$split-desc-height: 70px; // 区域介绍描述高度
$activity-video-section-width: 400px; // 活动、视频区域宽度
$activity-video-section-width320: 274px; // 活动、视频区域宽度(320px)
$activity-video-section-width360: 306px; // 活动、视频区域宽度(350px)
$activity-video-section-width390: 338px; // 活动、视频区域宽度(390px)
$activity-video-section-width640: 562px; // 活动、视频区域宽度(640px)
$activity-video-section-width720: 636px; // 活动、视频区域宽度(720px)
$video-content-height: 421px; // 一行视频的高度
$video-content-height320: 334px; // 一行视频的高度(320px)
$video-content-height360: 356px; // 一行视频的高度(360px)
$video-content-height390: 372px; // 视频图片的高度(390px)
$video-content-height640: 511px; // 一行视频的高度(640px)
$video-content-height720: 558px; // 一行视频的高度(720px)
$video-image-height: 270px; // 视频图片的高度
$video-image-height320: 180px; // 视频图片的高度(320px)
$video-image-height360: 202px; // 视频图片的高度(360px)
$video-image-height390: 220px; // 视频图片的高度(320px)
$video-image-height640: 360px; // 视频图片的高度(640px)
$video-image-height720: 405px; // 视频图片的高度(720px)


body{
	
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;;
}

.outside-div {
	width: 100%;
	height: auto;

}
.inside-div {
    margin-top:16px;
	width: 100%;
	height:auto;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.upload-window {
	position: absolute;
	z-index: 999;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
.video-size {
	width: 100%;
	margin: 0 auto;
}
.top-div {
	width: 100%;
	height:auto;

	.title-word {
		margin-top:22px;
		margin-left:10px;
		font-size: $font-size-lg;
		font-weight: bold;
		
		color: black;
	}
	.title-content {
		margin-top:19px;
	}
}
.left-content {
	display: inline-block;
	width: 50%;
	height: 90px;
	border-right: 3px solid $gold-yellow;

	.left-price {
		margin-left:10px;
		font-size: 32px;
		font-weight: bold;
		color: $red-base;
		line-height: 90px;
	}
	.left-desc {
		font-size: $font-size;
		color: $gray;
		margin-left:5px;
		font-weight: 300;
	}
}
.right-content {
	display: inline-block;
	width: 50%;
	height: 90px;
	float: right;

	.right-price {
		display: block;
		margin-left:10px;
		font-size: $font-size-lg;
		font-weight: bold;
		color: black;
		font-weight: bold;
		line-height: 45px;
	}
	.right-desc {
		font-size: $font-size;
		color: $gray;
		margin-left:5px;
		font-weight: 300;


	}
}
.video-area {
	margin-left:10px;
	display: inline-block;
	height:auto;
	width: 90%;
	border: 1px soild #d8d8d8;
	background:#f7f7f7;

	img {
		width: 100%;
		height: $video-image-height;

		@media screen and (max-width:360px) {
			height: $video-image-height320;
		}
		@media screen and (min-width:360px) and (max-width:390px) {
			height: $video-image-height360;
		}
		@media screen and (min-width:390px) and (max-width:460px) {
			height: $video-image-height390;
		}
		@media screen and (min-width:640px) and (max-width:720px) {
			height: $video-image-height640;
		}
		@media screen and (min-width:720px) {
			height: $video-image-height720;
		}
	}
	.video-content {
		margin-top:20px;
		width: 100%;
		height: 100px;
		text-align: center;
		line-height: 20px;
	}

	.video-title{
	font-size:$font-size;
	color:$gray-dark;
	}

	.video-title-content{
	margin-top:10px;
	font-size:$font-size-base;
	color:$gray;
	}

	.video-btn{
    margin-top:20px;
    margin-bottom:20px;
    width:90%;
    margin-left:5%;
	}
}

.footer{
  width:260px;
  margin:0 auto;  
}

.upload-window{
 position:absolute;
 z-index:999;
 height:100%;
 width:100%;
 background:#000;
 display:none;
}