@mixin flexshow() {
    .flexslider {
        position: absolute;
        top: 0px;
        width: 100%;
        //  @include  media_screen_height(440px,470px,650px); // self-adaption height
        margin: 0 auto;
        overflow: hidden;
        height: 350px;
        @media screen and (min-width: 1100px) and (max-width: 1276px) {
            height: 420px;
        }
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            height: 520px;
        }
        @media screen and (min-width: 1500px) and (max-width: 1600px) {
            height: 550px;
        }
        @media screen and (min-width: 1600px) {
            height: 680px;
        }
        .slides {
            position: relative;
            z-index: 1;
            li {
                width: 100%;
                //@include  media_screen_height(440px,470px,650px); // self-adaption height
                overflow: hidden;
                section {
                    position: relative;
                    overflow: hidden;
                    //background-image: linear-gradient(rgba(255,193,90,0.6) 60%,rgba(255,166,15,0.6) 100%);
                }
                .video-bg {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                }
            }
        }
    }
    .flex-control-nav {
        position: absolute;
        bottom: 10px;
        z-index: 2;
        width: 100%;
        text-align: center;
    }
    .flex-control-nav li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 5px;
        *display: inline;
        zoom: 1;
    }
    .flex-control-nav a {
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 40px;
        overflow: hidden;
        background: #999;
        border-radius: 120px;
        &:hover {
            background: #fe5453
        }
    }
    .flex-control-nav .flex-active {
        background-position: 0 0;
    }
    .flex-direction-nav {
        position: absolute;
        z-index: 3;
        width: 100%;
        top: 42%;
    }
    .flex-direction-nav li a {
        display: block;
        width: 30px;
        height: 70px;
        overflow: hidden;
        cursor: pointer;
        position: absolute;
    }
    .flex-direction-nav li a.flex-prev {
        left: 0;
        background: url(../images/icons/prev.png) center center no-repeat;
    }
    .flex-direction-nav li a.flex-next {
        right: 0;
        background: url(../images/icons/next.png) center center no-repeat;
    }
}

//
.flexVideo {
    position: absolute;
    width: 100%;
    //    @include media_screen_height(500px, 540px, 660px); // self-adaption height
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    min-width: 960px;
    min-height: 320px;
    section {
        position: relative;
        //   @include media_screen_height(500px, 540px, 660px); // self-adaption height
        overflow: hidden;
    }
    .video-bg {
        position: absolute;
        width: 100%;
    }
}
