@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
$historyColor:#f8fbfb;
$pink:#FF7F88;
.nav-shadow {
    width: 100%;
    height: 1px;
    position: relative;
    top: 1px;
}

.foot3 {
    margin-top: 55px;
}


.titleTag {
    background: #f0f2f5;
    height: 70px;
    border-bottom: 1px solid $border-line;
    position: fixed;
    width: 100%;
    top:60px;
    z-index: 999;
    .titleWord {
        @include media_screen_width_beta3();
        margin: 0 auto;
        font-size: 0;
        padding-left: 16%;
        padding-right: 16%;
        div {
            color: $gray-light;
            font-size: $font-size-base;
            width: 20%;
            display: inline-block;
            line-height: 69px;
            text-align: center;
            cursor: pointer;
        }
        .checkActive {
            color: $red-base !important;
            border-bottom: 1px solid $red-base;
        }
    }
}

.banner {
    width: 100%;
    height: 900px;
    background: black;
    text-align: center;
    position: relative;
    margin-top: 70px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #smallImg {
        display: none;
    }
    @media screen and (max-width: 1276px) {
        #orImg {
            display: none;
        }
        #smallImg {
            display: inline;
        }
    }
}

.bannerContent {
    position: absolute;
    top: 10%;
    width: 100%;
}

#icon{
  width: 30px;
  position: fixed;
  bottom: 50px;
  left:50%;
  margin-left: -15px;
  z-index: 500;
}

.bannerAni {
    -webkit-animation: ba .8s infinite linear;
    -moz-animation: ba .8s infinite linear;
    -o-animation: ba .8s infinite linear;
    animation: ba .8s infinite linear;
}

@-webkit-keyframes ba {
    0% {
        bottom: 33px;
        opacity: 1;
    }
    50% {
        bottom: 0px;
        opacity: 0;
    }
    100% {
        bottom: 33px;
        opacity: 1;
    }
}

@-moz-keyframes ba {
       0% {
        bottom: 33px;
        opacity: 1;
    }
    50% {
        bottom: 0px;
        opacity: 0;
    }
    100% {
        bottom: 33px;
        opacity: 1;
    }
}

@-o-keyframes ba {
     0% {
        bottom: 33px;
        opacity: 1;
    }
    50% {
        bottom: 0px;
        opacity: 0;
    }
    100% {
        bottom: 33px;
        opacity: 1;
    }
}

@keyframes ba {
  0% {
        bottom: 33px;
        opacity: 1;
    }
    50% {
        bottom: 0px;
        opacity: 0;
    }
    100% {
        bottom: 33px;
        opacity: 1;
    }
}


.video-div {
   // border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    width: 960px;
    height: 544px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    video {
        width: 100%;
    }
}

.bannerInfo {
    color: white;
    font-size: $font-size-base;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.showVideo {
    cursor: pointer;
    text-align: center;
    &:hover {
        #showVideoJPG {
            display: inline;
        }
        #showVideoGif {
            display: none;
        }
    }
}

#showVideoJPG {
    display: none;
}

//定位
.location {
    @include media_screen_width_beta3();
    margin: 0 auto;
    height: 400px;
    border-top: 1px solid $gray-light;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 100px;
    position: relative;
    .locationImg {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        img {
            @media screen and (max-width: 1276px) {
                width: 300px;
            }
        }
        img:nth-child(1) {
            position: absolute;
            left: 0px;
        }
        img:nth-child(3) {
            position: absolute;
            right: 0px;
        }
    }
}

.locationTop {
    width: 240px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    margin-top: -6px;
    background: white;
    height: 10px;
}

.circle {
    width: 10px;
    height: 10px;
    border: 1px solid $gray-light;
    border-radius: 100%;
}

.leftCircle {
    @extend .circle;
    position: absolute;
    left: 0px;
}

.rightCircle {
    @extend .circle;
    position: absolute;
    right: 0px;
}

.locationTitle {
    text-align: center;
    position: relative;
    z-index: 111;
    margin-top: -20px;
    div {
        font-size: $font-size-base;
        color: $gray;
        margin-bottom: 8px;
    }
    div:first-child {
        color: $red-base;
        font-size: $font-size-lg26;
        margin-bottom: 8px;
    }
    div:nth-child(2) {
        color: $gray-light;
        margin-bottom: 30px;
    }
}

//历史
.history {
    margin: 0 auto;
    background: #eee;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 60px;

    
    .historyContent {
        position: relative;
        @include media_screen_width_beta3();
        margin: 0 auto;
        min-width: 960px;
    }
}

.historyTitle {
    text-align: center;
    div:first-child {
        color: $red-base;
        font-size: $font-size-lg26;
        margin-bottom: 8px;
    }
    div:nth-child(2) {
        color: $gray-light;
        font-size: $font-size-base;
        margin-bottom: 60px;
    }
}

.contentLeft {
    width: 765px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    @media screen and (max-width: 1276px) {
        width: 455px;
    }
    img {
        position: relative;
        z-index: 20;
        width: 100%;
    }
    // &::after {
    //     content: '';
    //     position: absolute;
    //     left: 30px;
    //     top: 30px;
    //     border: 1px solid $red-base;
    //     width: 676px;
    //     height: 455px;
    //     @media screen and (max-width: 1276px) {
    //         width: 455px;
    //         height: 305px;
    //     }
    // }
}

.contentRight {
    display: inline-block;
    vertical-align: top;
}

.modalTitle {
    img {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 1px;
    }
    div {
        margin-left: 7px;
        display: inline-block;
        vertical-align: top;
        color: $gray-dark;
        font-size: $font-size-lg22;
    }
}

.modalTree {
    height: 25px;
    border-left: 2px solid $red-base;
    margin-left: 11px;
    img {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 5px;
        left: -7px;
    }
    div {
        margin-left: 7px;
        display: inline-block;
        vertical-align: top;
        color: $gray-dark;
        font-size: $font-size-lger;
    }
}

.modalLine {
    padding-top: 7px;
    padding-bottom: 7px;
    border-left: 2px solid $red-base;
    margin-left: 11px;
    div {
        display: inline-block;
    }
    li {
        font-size: $font-size-base;
        color: $gray;
        margin-bottom: 16px;
        div {
            width: 10px;
            height: 10px;
            background: $pink;
            border-radius: 100%;
            margin-left: 24px;
            margin-right: 24px;
        }
    }
}

//价值观
.value {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    min-width: 960px;
    ul {
        margin-bottom: 60px;
    }
    li {
        font-size: $font-size-base;
        color: $gray;
        margin-bottom: 8px;
    }
    li:first-child {
        color: $red-base;
        font-size: $font-size-lg26;
        margin-bottom: 8px;
    }
    li:nth-child(2) {
        color: $gray-light;
        font-size: $font-size-base;
        margin-bottom: 30px;
    }
    li:nth-child(3) {
        color: $gray-dark;
        font-size: $font-size-lg;
        margin-bottom: 30px;
    }
}

//使命
.Mission {
    position: relative;
    min-width: 960px;
    ul {
        position: absolute;
        left: 0px;
        top: 4%;
        text-align: center;
        width: 100%;
        @media screen and (min-width: 1276px) and (max-width: 1500px) {
            top: 7%;
        }
        @media screen and (min-width: 1500px) {
            top: 10%;
        }
    }
    li {
        font-size: $font-size-base;
        color: white;
        margin-bottom: 8px;
    }
    li:first-child {
        color: $red-base;
        font-size: $font-size-lg26;
        margin-bottom: 8px;
    }
    li:nth-child(2) {
        font-size: $font-size-base;
        margin-bottom: 30px;
    }
}

//冲突我要拍片
.dropdowns .dropdown-menu {
    position: absolute;
    background: white;
    border: 1px solid $gray-dark;
    border: 1px solid #999;
    z-index: 9;
    display: none;
    top: 32px !important;
    li {
        &:hover {
            background: #f0f2f5;
        }
    }
}

.video-card .video-desc-section h3 {
    line-height: 16px !important;
}
