@CHARSET "UTF-8";

label {
	font-weight: 500;
	color: #5f6a6d;
	margin-bottom: 10px;
}

form {
	max-width: 970px;
}

.form-wrap {
	margin-top: 30px;
}

.field-label {
	color: black;
	font-weight: 600;
}

.tooltip-show {
	height: 46px;
	background-color: #F2DEDE;
	color: #A94446;
	border-radius: 4px;
	text-align: center;
	line-height: 36px;
}

label.tooltip-message {
	padding-top: 4px;
}

.tooltip-success-show{
	height: 46px;
	background-color: #DFF0D8;
	color: #3C764B;
	border-radius: 4px;
	text-align: center;
	line-height: 36px;
}

label.tooltip-success-message {
	padding-top: 4px;
}

#uploadBt {
	margin-top: 10px;
	margin-left: 25px;
}

#logoImg {
	width: 200px;
	cursor: pointer;
}

.serviceId{
   display: block;
   position: relative;
   top:10px;

}

.service-ul-left{
	float:left;
	text-align: center;
}



.service-ul-right{
	float:left;
	position: relative;
	left: 10px;
	
}

.service-phone{
	height: 84px;
	line-height: 94px;
}

li{
	font-size:14px;
	color:#666;
}