            @import "common";
            @import "buttons";
            @import "video";
            @import "flexslider";
            @import "motionSwiper";
            @import "mixins/indexScreen";
            @import "compass/typography/text/ellipsis";
            @import "normalize";
            @import "plCommon";
            .page {
                background: black !important;
            }
            
            //场景应用
            .LiveApp {
                width: 100%;
                height: auto;
                background: white;
                padding-top: 120px;
                .content78 {
                    padding-bottom: 360px;
                    .title {
                        margin-bottom: 170px;
                    }
                    .cItem:nth-child(4n) {
                        margin-right: 0px !important;
                    }
                    .cItem {
                        margin-right: 10px;
                        width: ($width-min - 30px)/4 !important;
                        height: ($width-min - 30px)/4/(16/9);
                        line-height: ($width-min - 30px)/4/(16/9);
                        @media screen and (min-width: 1276px) and (max-width: 1500px) {
                            width: ($width-middle - 30px)/4 !important;
                            height: ($width-middle - 30px)/4/(16/9);
                            line-height: ($width-middle - 30px)/4/(16/9);
                        }
                        @media screen and (min-width: 1500px) {
                            width: ($width-lg3 - 30px)/4!important;
                            height: ($width-lg3 - 30px)/4/(16/9);
                            line-height: ($width-lg3 - 30px)/4/(16/9);
                        }
                    }
                }
                .content35 {
                    padding-bottom: 280px;
                    .title {
                        margin-bottom: 100px;
                    }
                    .cItem:nth-child(3),
                    .cItem:nth-child(5) {
                        margin-right: 0px !important;
                    }
                    .cItem {
                        margin-right: 10px;
                        width: ($width-min - 25px)/3 !important;
                        height: ($width-min - 25px)/3/(16/9);
                        line-height: ($width-min - 25px)/3/(16/9);
                        @media screen and (min-width: 1276px) and (max-width: 1500px) {
                            width: ($width-middle - 25px)/3 !important;
                            height: ($width-middle - 25px)/3/(16/9);
                            line-height: ($width-middle - 25px)/3/(16/9);
                        }
                        @media screen and (min-width: 1500px) {
                            width: ($width-lg3 - 25px)/3!important;
                            height: ($width-lg3 - 25px)/3/(16/9);
                            line-height: ($width-lg3 - 25px)/3/(16/9);
                        }
                    }
                }
                .content4 {
                    padding-bottom: 220px;
                    .title {
                        margin-bottom: 130px;
                    }
                    .cItem:nth-child(2n) {
                        margin-right: 0px !important;
                    }
                    .cItem {
                        margin-right: 10px;
                        width: ($width-min - 280px)/2 !important;
                        height: ($width-min - 280px)/2/(16/9);
                        line-height: ($width-min - 280px)/2/(16/9);
                        @media screen and (min-width: 1276px) and (max-width: 1500px) {
                            width: ($width-middle - 280px)/2 !important;
                            height: ($width-middle - 280px)/2/(16/9);
                            line-height: ($width-middle - 280px)/2/(16/9);
                        }
                        @media screen and (min-width: 1500px) {
                            width: ($width-lg3 - 280px)/2!important;
                            height: ($width-lg3 - 280px)/2/(16/9);
                            line-height: ($width-lg3 - 280px)/2/(16/9);
                        }
                    }
                }
                .LiveContent {
                    @include media_screen_width_beta3();
                    margin: 0 auto;
                    .title {
                        text-align: center;
                        color: $gray-dark;
                        font-size: $font-size-lg24;
                    }
                    .imgContent {
                        font-size: 0;
                        .cItem {
                            display: inline-block;
                            vertical-align: top;
                            // @include media_motion_img();
                            margin-bottom: 10px;
                            position: relative;
                            &:hover {
                                div {
                                    top: 0 !important;
                                    opacity: 1 !important;
                                    height: 100% !important;
                                }
                            }
                            div {
                                width: 100%;
                                height: 0;
                                position: absolute;
                                top: 0px;
                                background-color: rgba(0, 0, 0, 0.5);
                                color: white;
                                font-size: $font-size;
                                top: 100%;
                                text-align: center;
                                transition: all .3s ease-in-out .2s;
                                -moz-transition: all .3s ease-in-out .2s;
                                /* Firefox 4 */
                                -webkit-transition: all .3s ease-in-out .2s;
                                /* Safari 和 Chrome */
                                -o-transition: all .3s ease-in-out .2s;
                                /* Opera */
                                opacity: 0;
                                img {
                                    width: 301px !important;
                                    height: 124px !important;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    margin-top: -62px;
                                    margin-left: -150px;
                                }
                            }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            
            //优势
            .product {
                padding-top: 120px;
                padding-bottom: 250px;
                height: 760px;
                background: $f0;
                .productContent {
                    @include media_screen_width_beta3();
                    margin: 0 auto;
                    .title {
                        text-align: center;
                        color: $gray-dark;
                        font-size: $font-size-lg26;
                        margin-bottom: 120px;
                    }
                    .cardContent {
                        font-size: 0;
                        .item:nth-child(1),
                        .item:nth-child(4) {
                            width: 230px;
                            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                                width: 275px;
                            }
                            .desc {
                                margin: 0 !important;
                            }
                        }
                        .item:nth-child(1) {
                            text-align: -webkit-auto;
                        }
                        .item:nth-child(4) {
                            text-align: right;
                            padding-left: 75px;
                        }
                        .item {
                            width: 250px;
                            display: inline-block;
                            vertical-align: top;
                            text-align: center;
                            position: relative;
                            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                                width: 330px;
                            }
                            @media screen and (min-width: 1500px) {
                                width: 420px;
                            }
                            img {
                                width: 150px;
                                height: 150px;
                                @media screen and (min-width: 1276px) and (max-width: 1500px) {
                                    width: 200px;
                                    height: 200px;
                                }
                                border-radius: 100%;
                                margin-bottom: 35px;
                            }
                            .line {
                                width: 1px;
                                height: 120px;
                                background: $border-line;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                            }
                            .desc {
                                width: 150px;
                                @media screen and (min-width: 1276px) and (max-width: 1500px) {
                                    width: 200px;
                                }
                                height: 120px;
                                margin: 0 auto;
                                position: relative;
                                div:nth-child(1) {
                                    width: 130px;
                                    height: 60px;
                                    margin: 0 auto;
                                    line-height: 20px;
                                    color: $gray-dark;
                                    font-size: $font-size;
                                    overflow: hidden;
                                    margin-bottom: 10px;
                                    text-align: center;
                                    position: relative;
                                }
                                div:nth-child(2) {
                                    width: 150px;
                                    @media screen and (min-width: 1276px) and (max-width: 1500px) {
                                        width: 200px;
                                    }
                                    margin: 0 auto;
                                    line-height: 20px;
                                    color: $gray-light;
                                    font-size: $font-size-base;
                                    overflow: hidden;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            
            //案例
            .wordCase {
                padding-top: 120px;
                background: white;
                .title {
                    color: $gray-dark;
                    text-align: center;
                    font-size: $font-size-lg26;
                    margin-bottom: 200px;
                }
            }
