                    @import "common";
                    @import "buttons";
                    @import "video";
                    @import "flexslider";
                    @import "motionSwiper";
                    @import "mixins/indexScreen";
                    @import "compass/typography/text/ellipsis";
                    @import "normalize";
                    @import "plCommon";
                    .page {
                        background: white !important;
                    }
                    
                    //列表
                    .listContent {
                        @include media_screen_width_beta3();
                        margin: 0 auto;
                        padding-top: 100px;
                        padding-bottom: 100px;
                        .listCard {
                            width: 100%;
                            margin-bottom: 60px;
                            height: (($width-min/2)-50px)/1.77;
                            @media screen and (min-width: 1276px) and (max-width: 1500px) {
                                height: (($width-middle/2)-50px)/1.77;
                            }
                            @media screen and (min-width: 1500px) {
                                height: (($width-lg3/2)-50px)/1.77;
                            }
                            img,
                            .cardContent {
                                display: inline-block;
                                vertical-align: top;
                                border-radius: 8px;
                            }
                            img {
                                height: 100%;
                                width: ($width-min/2)-50px;
                                @media screen and (min-width: 1276px) and (max-width: 1500px) {
                                    width: ($width-middle/2)-50px;
                                }
                                @media screen and (min-width: 1500px) {
                                    width: ($width-lg3/2)-50px;
                                }
                            }
                            .cardContent {
                                width: ($width-min/2)-50px;
                                @media screen and (min-width: 1276px) and (max-width: 1500px) {
                                    width: ($width-middle/2)-50px;
                                }
                                @media screen and (min-width: 1500px) {
                                    width: ($width-lg3/2)-50px;
                                }
                                height: 100%;
                                padding-left: 30px;
                                .contentTitle {
                                    @include ellipsis;
                                    font-size: $font-size-lg30;
                                    color: $gray-dark;
                                }
                                .contentInfo {
                                    @include ellipsis;
                                    font-size: $font-size-base;
                                    color: $gray-dark;
                                    margin-top: 20px;
                                    margin-bottom: 60px;
                                }
                                .contentContent {
                                    width: 100%;
                                    height: auto;
                                    div {
                                        font-size: $font-size-base;
                                        color: $gray-dark;
                                        width: 100%;
                                        margin-bottom: 10px;
                                    }
                                    span {
                                        font-size: $font-size-base;
                                        color: $gray-light;
                                    }
                                }
                            }
                        }
                    }
